# Part 04: Find the discontinuities in Seattle's streets
michael babb  
2025 02 18

In [1]:
# standard
import os

In [2]:
# external
import geopandas as gpd
import networkx as nx
import numpy as np
import pandas as pd
from shapely.geometry import LineString, Point

In [3]:
# custom
import run_constants as rc
from utils import *
from geo_data_io.df_operations import get_a_set, hey_what_is_na, split_col_values
from geo_data_io.fc_df_spatial import write_gdf
from geo_data_io.geo_operations import points2distance

# load the working seattle street network data

In [4]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S04_SND_WORKING_IN_FILE_NAME)

In [5]:
gdf = gpd.read_file(filename = fpn)

In [6]:
gdf.shape

(25771, 44)

# load the node data

In [7]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S04_NODE_IN_FILE_NAME)

In [8]:
node_gdf = gpd.read_file(filename = fpn)

In [9]:
node_gdf.head()

   node_id                     geometry
0    17740  POINT (-122.32287 47.52982)
1    11391  POINT (-122.32402 47.61849)
2      982   POINT (-122.29193 47.7649)
3    11695  POINT (-122.30782 47.61411)
4     6257  POINT (-122.38214 47.67456)

In [10]:
node_gdf['node_id'] = node_gdf['node_id'].astype(int)

In [11]:
node_gdf['coords'] = node_gdf['geometry'].map(lambda x: x.coords[0])

In [12]:
node_gdf.head()

,node_id,geometry,coords
0,17740,POINT (-122.32287 47.52982),"(-122.32287444824671, 47.529819957875)"
1,11391,POINT (-122.32402 47.61849),"(-122.32401964037119, 47.61848906651073)"
2,982,POINT (-122.29193 47.7649),"(-122.29192836110747, 47.764904310419276)"
3,11695,POINT (-122.30782 47.61411),"(-122.30781531879083, 47.61410595110372)"
4,6257,POINT (-122.38214 47.67456),"(-122.38214200036303, 47.67455801597557)"

In [13]:
node_gdf.dtypes

node_id        int64
geometry    geometry
coords        object
dtype: object

In [14]:
# zap the node id and the coords into a dictionary
node_dict = {}
for i, row in node_gdf.iterrows():
    node_dict[row['node_id']] = row['coords']

# find missing segments

In [15]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'citycode',
       'stname_id', 'st_code', 'arterial_code', 'segment_type', 'agency_code',
       'access_code', 'divided_code', 'structure_type', 'legalloc_code',
       'vehicle_use_code', 'gis_seg_length', 'l_adrs_from', 'l_adrs_to',
       'r_adrs_from', 'r_adrs_to', 'ord_pre_dir', 'ord_street_name',
       'ord_street_type', 'ord_suf_dir', 'ord_stname_concat', 'l_city',
       'l_state', 'l_zip', 'r_city', 'r_state', 'r_zip', 'sndseg_update',
       'compkey', 'comptype', 'unitid', 'unitid2', 'city_sector',
       'ord_stname_unique', 'group_id', 'sort_order', 'ord_stname_type',
       'city_sector_group', 'ord_stname_type_group', 'geometry'],
      dtype='object')

In [16]:
# create a weight variable from the gis_segment_length variable
gdf['weight'] = gdf['gis_seg_length']

In [17]:
# only select column names used in subsequent steps
col_names = ['f_intr_id',
't_intr_id',
'snd_id',
'snd_feacode',
'gis_seg_length',
'ord_street_name',
'ord_street_type',
'ord_stname_type',
'ord_stname_concat',
'ord_stname_unique', 
'ord_stname_type_group',
'city_sector',
'city_sector_group',
'weight',
'group_id',
'sort_order',
'geometry']

In [18]:
gdf = gdf[col_names].copy()

In [19]:
# what's the current max snd ID?
gdf['snd_id'].max()

50338

In [20]:
# what's 2^16? start adding IDs at this value?
2**16

65536

In [21]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'gis_seg_length',
       'ord_street_name', 'ord_street_type', 'ord_stname_type',
       'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
       'city_sector', 'city_sector_group', 'weight', 'group_id', 'sort_order',
       'geometry'],
      dtype='object')

In [22]:
testo = gdf.loc[gdf['ord_street_name'] == 'NEBRASKA', :]

In [23]:
testo.head()

,f_intr_id,t_intr_id,snd_id,snd_feacode,gis_seg_length,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,city_sector,city_sector_group,weight,group_id,sort_order,geometry
21590,7667,7707,15592,1,150.029545,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,150.029545,1,NEBRASKA,"LINESTRING (-122.41747 47.66069, -122.41745 47..."
21591,7707,7745,15602,1,292.030442,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,292.030442,1,NEBRASKA,"LINESTRING (-122.41721 47.66034, -122.4161 47...."
21592,7777,7745,15617,1,236.185868,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,236.185868,1,NEBRASKA,"LINESTRING (-122.4152 47.65985, -122.4161 47.6..."
21593,16353,16302,32147,1,973.211903,NEBRASKA,ST,NEBRASKA ST,S NEBRASKA ST,S NEBRASKA ST,NEBRASKA ST W_S,S,W_S,973.211903,1,NEBRASKA,"LINESTRING (-122.32104 47.5489, -122.31899 47...."
21594,7707,7706,45368,0,16.710732,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,16.710732,1,NEBRASKA,"LINESTRING (-122.41721 47.66034, -122.41715 47..."

In [24]:
'' in gdf['ord_stname_type_group'].unique().tolist()

False

In [25]:
# here is where the discontinuities are identified and the "missing" segments are created.
# a full run, without saving intermediate data, takes less than a minute.
# saving intermediate data takes an additional ~5 minutes.

write_intermediate = False
use_v1 = False

# street_status
# 0: continuous street
# 1: discontinuous
# 2: added street: intra-connection
# 3: added street: inter-connection

# hold the output
output_gdf_list = []
shortest_added_path = []
gdf['snd_group'] = int(0)
snd_group_count = -1
# use this value to start the ID number for the added segements.
temp_snd_id = 2**16
# get the list of unique names
osntg_list = gdf['ord_stname_type_group'].unique().tolist()

# uncomment to test specifc street
#osntg_list = ['7TH AVE N', 'W GALER ST']
#osntg_list = ['GALER ST']
#osntg_list = ['15TH AVE W']
#osntg_list = ['WOODLAWN AVE N']
#osntg_list = ['92ND ST NW_N_NE']

# the trouble_list, for lack of a beter name, are streets with parallel edges
# we can record the names of these streets. 
trouble_list = []

for osntg in osntg_list[:None]:
    print(osntg)
    
    # subset the gdf by ord_stname_concat
    sub_gdf = gdf.loc[gdf['ord_stname_type_group'] == osntg, :].copy().reset_index(drop = True)
    unique_id_list = sub_gdf['group_id'].unique().tolist()
    
    for gi in unique_id_list:
        
        temp_gdf = sub_gdf.loc[sub_gdf['group_id'] == gi, :].copy()
        
        # create the graph for a single street.
        # For example, all streets named W GALER ST are a single graph.
        # this is an undirected graph.
        fg = nx.from_pandas_edgelist(df = temp_gdf, source = 'f_intr_id', target = 't_intr_id', edge_attr=True)
        
        if temp_gdf.shape[0] != fg.number_of_edges():
            trouble_list.append(osntg)            
            
            # subsequent steps need a single-edge graph. 
            # Parallel edges are not allowed. 
            # so, let's return the edges last added to the graph.
            mod_edge_list = []
            for ed in fg.edges.data():
                mod_edge_list.append(ed[2]['snd_id'])
            temp_gdf = temp_gdf.loc[temp_gdf['snd_id'].isin(mod_edge_list), :]
            
        # get the list of nodes in the graph.
        node_list = list(fg.nodes)
        
        # a list of the snd groups - this is necessary to match street segments to nodes
        # nx.connected_components() identifies disconnected graphs
        for cc in nx.connected_components(G = fg):
            # cc is the sub graph
            sub_graph = fg.subgraph(cc).copy()
            # this is the edge data        
            edge_data_list = sub_graph.edges.data()        
            # this marks the street(s) in each sub graph
            snd_id_list = []
            for edl in edge_data_list:                        
                snd_id_list.append(edl[2]['snd_id'])        
            snd_group_count += 1
            # this will update the gdf per street name with the groups of streets
            temp_gdf.loc[temp_gdf['snd_id'].isin(snd_id_list), 'snd_group'] = snd_group_count     
        
        # this is the number of unique snd_groups
        # also the number of discontinuities
        snd_group_id_list = temp_gdf['snd_group'].unique()    
        
        n_discontinuities = len(snd_group_id_list)    
        
        if n_discontinuities > 1:

            # process for the sub graphs
            node_snd_group_dict = {}
            # a node - an intersection - can have more than one street.
            # we need to update the node snd group dict for every street
            # identify each edge that each node is on
            for ir, row in temp_gdf.iterrows():       
                fn = row['f_intr_id']
                tn = row['t_intr_id']
                #osn = row['ord_street_name']
                #osnt = row['ord_stname_type']
                #osnu = row['ord_stname_concat']

                snd_group_id = row['snd_group']
                node_snd_group_dict[fn] = snd_group_id
                node_snd_group_dict[tn] = snd_group_id                                             
            
            # create a list of available edges - these are the missing segments
            # these are formed from the non-edges of the graph.        
            avail_edges = []

            # compute the degree centrality 
            node_centrality_dict = nx.degree_centrality(G = fg)

            # dictionary to hold available edges
            # let's only make the distance calculation once, yeah?
            # it's a simple calculation, but even more simple to store it. 
            node_dist_dict = {}
            # enumerate the non-edges
            non_edge_count = 0
            # the total number of non-edges
            diff_non_edge_count = 0
            # the number of non-edges that connect disconnected components
            for ne in nx.non_edges(graph = fg):    
                non_edge_count += 1
                # ne is a tuple of from / to nodes.
                # create available edges if the nodes are not on the same segment
                # this will decrease the potential solution space
                if node_snd_group_dict[ne[0]] != node_snd_group_dict[ne[1]]:
                    diff_non_edge_count += 1
                    # calculate the straight-line distance between two nodes. 
                    # convert to feet to match the existing distance / weight variable
                    weight = points2distance(node_dict[ne[0]], node_dict[ne[1]], unit = 'miles') * 5280
                    
                    # build the output tuple
                    if use_v1:
                        # this does not use node centrality
                        output = (ne[0], ne[1], {'weight':weight})
                    else:
                        # let's get the node centrality and use its inverse to 
                        # further weight distances                     
                        ne_0_nc = node_centrality_dict[ne[0]]
                        ne_1_nc = node_centrality_dict[ne[1]]
                        edge_weight = weight * (ne_0_nc * ne_1_nc)
                        output = (ne[0], ne[1], {'weight':edge_weight})                        
                    # add to the distance dict
                    node_dist_dict[(ne[0], ne[1])] = weight 
                    node_dist_dict[(ne[1], ne[0])] = weight 
                    avail_edges.append(output)

            # we just calculated all of the potential segments that span discontinuities
            # nx.k_edge_augmentation() creates the potential edges in a graph by adding as
            # few edges as possible. In a street network, with multiple disconnected
            # components, there is really one way to minimally connect the disparate components
            # to create full connectivity. And it's the shortest geographic segment in this case!
            # weighted graph traversal works by accumulating as little weight as possible. 
            
            # this will store the output
            data_list = []
            line_list = []
            # once nx.k_edge_augmentation() finishes, it returns a generator with the added edges that
            # ensure complete connectivity between all nodes.
            augmented_edges = nx.k_edge_augmentation(G = fg, k = 1, avail = avail_edges, weight = 'weight')    
            # enumerate the augmented edges
            for i_ae, ae in enumerate(augmented_edges):                
                # unpack
                # fn: from node, tn: to node
                fn, tn = ae            
                # get the weight / distance of the added edge
                weight = node_dist_dict[(fn, tn)] 
                # this is the output dictionary
                # street name, integer indicating the snd_group, from node, to node, distance of the edge

                # get node data: from nodes
                fn_node_list = []                
                for curr_edge in fg.edges(fn):
                    edge_dict = fg.edges[curr_edge]
                    fn_node_list.append(edge_dict)
                
                fn_df = pd.DataFrame(data = fn_node_list)
                fn_osnu = fn_df['ord_stname_unique']
                fn_osnc = fn_df['ord_stname_concat']
                fn_cp = fn_df['city_sector']

                # get node data: to nodes
                tn_node_list = []
                for curr_edge in fg.edges(tn):
                    edge_dict = fg.edges[curr_edge]
                    tn_node_list.append(edge_dict)
                
                tn_df = pd.DataFrame(data = tn_node_list)
                tn_osnu = tn_df['ord_stname_unique']
                tn_osnc = tn_df['ord_stname_concat']
                tn_cp = tn_df['city_sector']

                # ord_stname_concat: determine this by computing the set intersection
                osnu_set = set(fn_osnu).intersection(tn_osnu)
                osnc_set = set(fn_osnc).intersection(tn_osnc)
                cp_set = set(fn_cp).intersection(tn_cp)
                
                if len(osnu_set) == 1:
                    # this means that the segments are on the same street
                    osnu = osnu_set.pop()
                    osnc = osnc_set.pop()
                    cp = cp_set.pop()
                    
                else:
                    # the segments
                    osnu = ''
                    osnc = ''
                    cp = '_'.join(sorted(temp_gdf['city_sector'].unique().tolist()))

                # ord_street_name
                osn = temp_gdf['ord_street_name'].unique().tolist()[0]
                # ord_street_type
                ost = temp_gdf['ord_street_type'].unique().tolist()[0]
                # ord_stname_type
                osnt = temp_gdf['ord_stname_type'].unique().tolist()[0]                                                
                
                # ostntg
                # this is calculated from the osntg - a part of the loop
                
                
                # city_sector group
                cpg = temp_gdf['city_sector_group'].unique().tolist()[0]

                # order of the columns to add:
                # ord_street_name: osn
                # ord_street_type: ost
                # ord_stname_type: osnt
                # ord_stname_concat: osnc
                # ord_stname_unique: osnu
                # ord_stname_type_group: osntg
                # weight                
                # city_sector
                # city_sector_group

                temp_snd_id += 1

                temp_data_list = [temp_snd_id, osn, ost, osnt, osnc, osnu, osntg, i_ae, fn, tn, weight, cp, cpg, gi]
                # now, let's create some geometry
                temp_line = LineString([node_dict[fn], node_dict[tn]])
                line_list.append(temp_line)
                data_list.append(temp_data_list)

            # compare the list of available edges to the list of chosen edges
            # this isn't necessary to complete the edge augmentation, but it's
            # nice to know how often added edges are always the shortest edges        
            av_df = pd.DataFrame(data = avail_edges, columns = ['sn_id', 'en_id', 'weight_dict'])
            #av_df['dist'] = av_df['weight_dict'].map(lambda x: x['weight'])

            av_df['dist'] = av_df.apply(func=lambda x: node_dist_dict[(x['sn_id'], x['en_id'])], axis = 1)
            av_df = av_df.drop(labels = 'weight_dict', axis = 1)
            # rank distance - the lower the rank, the shorter the segment.
            av_df['dist_rank'] = av_df['dist'].rank(method = 'dense')

            # ord_street_name: osn
            # ord_street_type: ost
            # ord_stname_type: osnt
            # ord_stname_concat: osnc
            # ord_stname_unique: osnu
            # ord_stname_type_group: osntg
            # weight                
            # city_sector
            # city_sector_group
            
            # build a gpd.GeoDataFrame - these are the "missing" segments"
            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_stname_type', 'ord_stname_concat', 
                         'ord_stname_unique', 'ord_stname_type_group',
                         'snd_group', 'sn_id', 'en_id', 'dist', 'city_sector',
                         'city_sector_group', 'group_id']
            
            ms_gdf = gpd.GeoDataFrame(data = data_list,
                                            columns = col_names,
                                            geometry = line_list, crs = 'epsg:4326')
            
            # these edges are not on the same street group
            ms_gdf['street_status'] = int(2)
            
            # update where the connection spans city sectors     
            ms_gdf.loc[ms_gdf['ord_stname_unique'] == '', 'street_status'] = 3

            # but sometimes, there will be instances where it's the same street, but
            # only by direction prefix / suffix          
            cp_set = get_a_set(cn = ms_gdf['city_sector'])
            cpg_set = split_col_values(cn = ms_gdf['city_sector_group'])

            if len(cp_set) == 1 and len(cpg_set) == 1:
                ms_gdf.loc[ms_gdf['ord_stname_unique'] == '', 'street_status'] = 2                

            # this will track if there are any graphs with parallel edges.
            if ms_gdf.empty:
                trouble_list.append(osntg)            
            
            # select where the rank is LTE than the number of records in the missing segement gdf
            av_df = av_df.loc[av_df['dist_rank'] <= ms_gdf.shape[0], :]
            
            # if the sum of the distance of the added segments is the same, then only the
            # shortest segments were added. If not, then other, longer, segments were added
            # but that makes for less total distance traversed in the graph.
            # So, how often does that happen?
            shortest_tot_path = av_df['dist'].sum() == ms_gdf['dist'].sum()
            shortest_tot_path = int(shortest_tot_path)
            shortest_added_path.append([osn, ost, osnt, osnc, osnu, osntg, shortest_tot_path, n_discontinuities - 1])        

            # now, let's update where the ord_stname_concat variable and the 
            # ord_stname_unique variable with the ord_stname_type_group variable
            # when ord_stname_concat and ord_stname_unique are null
            col_names = ['ord_stname_concat', 'ord_stname_unique']
            for cn in col_names:
                ms_gdf.loc[ms_gdf[cn] == '', cn] = ms_gdf.loc[ms_gdf[cn] == '', 'ord_stname_type_group']

            # ord_street_name: osn
            # ord_street_type: ost
            # ord_stname_type: osnt
            # ord_stname_concat: osnc
            # ord_stname_unique: osnu
            # ord_stname_type_group: osntg
            # weight                
            # city_sector
            # city_sector_group
            #                     
            # add the known, disconnected segments. These are the existing streets.
            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_stname_type', 'ord_stname_concat', 'ord_stname_unique', 
                         'ord_stname_type_group', 'snd_group',  'f_intr_id', 't_intr_id',
                         'gis_seg_length', 'city_sector', 'city_sector_group', 'group_id', 'geometry']                             

            ks_gdf = temp_gdf[col_names].copy()
            ks_gdf['street_status'] = int(1)
            ks_gdf = ks_gdf.rename(columns = {'f_intr_id':'sn_id', 't_intr_id':'en_id', 'gis_seg_length':'dist'})

            # stack the geodataframes
            output_gdf = pd.concat([ms_gdf, ks_gdf])            
        
            # write intermediate
            if write_intermediate:
                # intermediate streets - existing streets
                is_output_file_path = os.path.join(rc.OUTPUT_FILE_PATH, 'individual_streets')
                if not os.path.exists(is_output_file_path):
                    os.makedirs(is_output_file_path)
                output_file_name = '_'.join(osntg.split()) + '.gpkg'
                write_gdf(gdf = temp_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)
            
                # intermediate nodes
                curr_node_df = pd.DataFrame(data = {'node_id':fg.nodes()})
                #curr_node_list = curr_node_df['node_id'].tolist()
                curr_node_df['node_centrality'] = curr_node_df['node_id'].map(node_centrality_dict)
                node_subset_gdf = subset_node_gdf(node_gdf = node_gdf, other_node_df = curr_node_df)
                output_file_name = '_'.join(osntg.split()) + '_full_nodes.gpkg'
                write_gdf(gdf = node_subset_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)

                # the added and continuous segments for a street
                output_file_name = '_'.join(osntg.split()) + '_missing_segments.gpkg'
                ofpn = os.path.join(is_output_file_path, output_file_name)                
                write_gdf(gdf = output_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)

        else:
            # gather the streets with no missing segments.         
            # ord_street_name: osn
            # ord_street_type: ost
            # ord_stname_type: osnt
            # ord_stname_concat: osnc
            # ord_stname_unique: osnu
            # ord_stname_type_group: osntg
            # weight                
            # city_sector
            # city_sector_group

            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_stname_type', 'ord_stname_concat', 'ord_stname_unique', 
                         'ord_stname_type_group', 'snd_group',  'f_intr_id',
                         't_intr_id', 'gis_seg_length', 'city_sector',
                         'city_sector_group', 'group_id', 'geometry']    

            output_gdf = temp_gdf[col_names].copy()
            output_gdf['street_status'] = int(0)
            output_gdf = output_gdf.rename(columns = {'f_intr_id':'sn_id', 't_intr_id':'en_id', 'gis_seg_length':'dist'})

        # add to the output list
        output_gdf_list.append(output_gdf)

100TH PL NW
100TH PL SW
100TH ST NW_N_NE
100TH ST SW_S
101ST PL SW
101ST ST NW_N
101ST ST SW_S
102ND LN SW
102ND ST N_NE
102ND ST SW_S
103RD PL NE
103RD PL SW
103RD ST NW_N_NE
103RD ST SW_S
104TH LN S
104TH PL NE
104TH ST NW_N_NE
104TH ST SW_S
104TH WAY NE
105TH PL NE
105TH PL SW
105TH ST NW_N_NE
105TH ST SW_S
106TH PL NE
106TH ST NW_N_NE
106TH ST SW_S
107TH PL SW
107TH ST NW_N_NE
107TH ST SW_S
107TH WAY SW
108TH PL NE
108TH PL S
108TH PL SW
108TH ST NW_NE
108TH ST SW_S
109TH ST N_NE
109TH ST SW
10TH AVE NW_W_SW
10TH AVE NE_E_CNTR_S
10TH PL NE
10TH PL SW
10TH PL W
110TH CT S
110TH LN SW
110TH PL S
110TH PL SW
110TH ST NW_N_NE
110TH ST SW_S
111TH LN SW
111TH PL SW
111TH ST SW_S
112TH LN SW
112TH PL NW
112TH PL S
112TH PL SW
112TH ST NW_N_NE
112TH ST SW_S
113TH LN SW
113TH PL N
113TH PL NW
113TH ST N_NE
113TH ST SW_S
114TH PL NW
114TH ST NW_N_NE
114TH ST SW_S
115TH LN S
115TH PL S
115TH ST NW_N_NE
115TH ST SW_S
116TH PL S
116TH ST NW_N_NE
116TH ST SW_S
117TH PL N
117TH PL S
117TH ST NW_N_NE
117TH ST S
118TH CT S
118TH LN S
118TH PL S
118TH ST NW_NE
118TH ST S
119TH ST NW
119TH ST S
11TH AVE NW_W_SW
11TH AVE NE_E_CNTR_S
11TH PL NW
11TH AV NW ACCESS RD NW
11TH AV SW ACCESS RD SW
120TH PL S
120TH ST NW_N_NE
120TH ST S
121ST ST NW_N
121ST ST S
122ND PL N
122ND PL S
122ND ST NW_N_NE
122ND ST S
123RD PL S
123RD ST NE
123RD ST S
124TH PL S
124TH ST NE
124TH ST S
125TH ST NW_N_NE
125TH ST S
125TH SR ST NE
126TH PL NW
126TH PL S
126TH ST NW_NE
126TH ST S
127TH LN S
127TH PL S
127TH ST NW_N_NE
127TH ST S
128TH ST N_NE
128TH ST S
129TH PL S
129TH ST S
12TH AVE NW_W_SW
12TH AVE NE_E_CNTR_S
130TH PL NE
130TH PL S
130TH ST NW_N_NE
130TH ST S
131ST CT S
131ST PL NE
131ST PL S
131ST ST NW_N
131ST ST S
132ND ST NW_N
132ND ST S
133RD ST N_NE
133RD ST S
134TH PL S
134TH ST NW_N_NE
134TH ST S
135TH PL N
135TH PL NE
135TH PL NW
135TH ST N_NE
135TH ST S
136TH ST NW_N_NE
137TH PL NW
137TH ST NW_N_NE
138TH ST N_NE
139TH ST NE
13TH AVE NW_W_SW
13TH AVE E_CNTR_S
13TH PL S
140TH ST NW_N_NE
141ST CT N
141ST ST N
142ND ST N_NE
143RD PL NE
143RD ST NW_N_NE
144TH ST NW_N_NE
145TH ST NW_N_NE
14TH AVE NW_W_SW
14TH AVE NE_E_CNTR_S
14TH CT S
14TH PL NE
15TH AVE NW_W_SW
15TH AVE NE_E_CNTR_S
15TH PL NE
15TH PL S
15TH PL W
16TH AVE NW_W_SW
16TH AVE NE_E_CNTR_S
16TH AV S BR S
17TH AVE NW_W_SW
17TH AVE NE_E_CNTR_S
17TH PL NE
17TH PL S
18TH AVE NW_W_SW
18TH AVE NE_E_CNTR_S
18TH PL NW
19TH AVE NW_W_SW
19TH AVE NE_E_CNTR_S
19TH PL S
1ST AVE NW_W_SW
1ST AVE NE_N_CNTR_S
1ST PL NE
20TH AVE NW_W_SW
20TH AVE NE_E_CNTR_S
20TH PL NE
20TH PL S
21ST AVE NW_W_SW
21ST AVE NE_E_CNTR_S
21ST PL NE
22ND AVE NW_W_SW
22ND AVE NE_E_CNTR_S
22ND CT NW
22ND PL NE
22ND PL S
23RD AVE NW_W_SW
23RD AVE NE_E_CNTR_S
23RD CT NE
23RD CT SW
23RD PL NE
23RD WR AVE S
24TH AVE NW_W_SW
24TH AVE NE_E_CNTR_S
24TH PL NE
24TH PL S
24TH PL SW
24TH PL W
25TH AVE NW_W_SW
25TH AVE NE_E_CNTR_S
25TH PL NE
25TH PL W
26TH AVE NW_W_SW
26TH AVE NE_E_CNTR_S
26TH PL NW
26TH PL SW
26TH PL W
27TH AVE NW_W_SW
27TH AVE NE_E_CNTR_S
27TH PL W
28TH AVE NW_W_SW
28TH AVE NE_E_CNTR_S
28TH PL W
29TH AVE NW_W_SW
29TH AVE NE_E_CNTR_S
29TH PL SW
2ND AVE NW_W_SW
2ND AVE NE_N_CNTR_S
2ND LN SW
2ND PL SW
30TH AVE NW_W_SW
30TH AVE NE_E_CNTR_S
30TH PL SW
31ST AVE NW_W_SW
31ST AVE NE_E_CNTR_S
31ST PL NE
31ST PL S
31ST PL SW
31ST ST NE
31ST WR AVE S
32ND AVE NW_W_SW
32ND AVE NE_E_CNTR_S
32ND PL SW
33RD AVE NW_W_SW
33RD AVE NE_E_CNTR_S
33RD PL NE
33RD PL NW
33RD PL S
33RD ST NE
34TH AVE NW_W_SW
34TH AVE NE_E_CNTR_S
34TH CT S
34TH CT W
34TH PL S
34TH PL SW
34TH ST N
35TH AVE NW_W_SW
35TH AVE NE_E_CNTR_S
35TH PL NW
35TH PL S
35TH ST N_NE
36TH AVE NW_W_SW
36TH AVE NE_E_CNTR_S
36TH ST N
36TH ST NE
36TH ST NW
37TH AVE NW_W_SW
37TH AVE NE_E_CNTR_S
37TH PL E
37TH PL NW
37TH PL S
37TH PL SW
37TH ST N
38TH AVE NW_W_SW
38TH AVE NE_E_CNTR_S
38TH CT N
38TH PL E
38TH ST N_NE
39TH AVE W_SW
39TH AVE NE_E_CNTR_S
39TH PL SW
39TH ST NW_N_NE
3RD AVE NW_W_SW
3RD AVE NE_N_CNTR_S
3RD LN SW
3RD PL NW
3RD PL SW
40TH AVE W_SW
40TH AVE NE_E_CNTR_S
40TH ST NW_N_NE
40TH ALLEY ST NE
41ST AVE W_SW
41ST AVE NE_E_S
41ST PL NE
41ST ST NW_N_NE
42ND AVE W_SW
42ND AVE NE_E_S
42ND PL NE
42ND PL S
42ND ST NW_N_NE
43RD AVE W
43RD AVE NE_E_S
43RD PL NE
43RD PL SW
43RD ST NW_N_NE
44TH AVE W_SW
44TH AVE NE_S
44TH PL NE
44TH PL S
44TH PL SW
44TH ST NW_N_NE
45TH AVE W_SW
45TH AVE NE_S
45TH PL NE
45TH ST NW_N_NE
46TH AVE W_SW
46TH AVE NE_S
46TH PL NE
46TH PL SW
46TH ST NW_N_NE
47TH AVE W_SW
47TH AVE NE_S
47TH PL NE
47TH PL SW
47TH ST NW_N_NE
48TH AVE SW
48TH AVE NE_S
48TH PL NE
48TH ST NW_N_NE
49TH AVE SW
49TH AVE NE_S
49TH ST NW_N_NE
4TH AVE NW_W_SW
4TH AVE NE_N_CNTR_S
4TH LN SW
4TH PL S
4TH PL SW
50TH AVE SW
50TH AVE NE_S
50TH ST NW_N_NE
51ST AVE SW
51ST AVE NE_S
51ST PL S
51ST PL SW
51ST ST NW_N_NE
52ND AVE SW
52ND AVE NE_S
52ND PL NE
52ND PL SW
52ND ST NW_N_NE
52ND TER S
53RD AVE SW
53RD AVE NE_S
53RD CT NE
53RD ST NW_N_NE
54TH AVE SW
54TH AVE NE_S
54TH PL SW
54TH ST NW_N_NE
54TH SR ST NW
55TH AVE SW
55TH AVE NE_S
55TH PL NE
55TH PL NW
55TH ST NW_N_NE
56TH AVE SW
56TH AVE NE_S
56TH PL NE
56TH PL S
56TH PL SW
56TH ST NW_N_NE
57TH AVE SW
57TH AVE NE_S
57TH PL NE
57TH PL SW
57TH ST NW_N_NE
58TH AVE SW
58TH AVE NE_S
58TH PL S
58TH PL SW
58TH ST NW_N_NE
58TH AV SW ACCESS RD SW
59TH AVE SW
59TH AVE NE_S
59TH ST NW_N_NE
59TH AV SW TURN ST SW
5TH AVE NW_W_SW
5TH AVE NE_N_CNTR_S
5TH LN SW
5TH PL S
60TH AVE SW
60TH AVE NE_S
60TH LN S
60TH PL S
60TH ST NW_N_NE
61ST AVE SW
61ST AVE NE_S
61ST PL S
61ST ST NW_N_NE
62ND AVE SW
62ND AVE NE_S
62ND ST NW_N_NE
63RD AVE SW
63RD AVE NE_S
63RD ST NW_N_NE
64TH AVE SW
64TH AVE NE_S
64TH CT S
64TH LN S
64TH PL S
64TH PL SW
64TH ST NW_N_NE
65TH AVE SW
65TH AVE NE_S
65TH CT NW
65TH ST NW_N_NE
66TH AVE SW
66TH AVE S
66TH LN S
66TH ST NW_N_NE
67TH AVE S
67TH PL S
67TH ST NW_N_NE
68TH AVE S
68TH PL S
68TH ST NW_N_NE
69TH AVE S
69TH PL S
69TH ST NW_NE
6TH AVE NW_W_SW
6TH AVE NE_N_CNTR_S
6TH CIR SW
6TH PL NE
6TH PL S
6TH PL SW
70TH AVE S
70TH PL S
70TH ST NW_N_NE
71ST AVE S
71ST PL S
71ST ST NW_N_NE
72ND AVE S
72ND PL S
72ND ST NW_N_NE
73RD LN S
73RD PL NE
73RD PL S
73RD ST NW_N_NE
74TH AVE S
74TH LN S
74TH PL NE
74TH PL S
74TH ST NW_N_NE
75TH AVE S
75TH PL S
75TH ST NW_N_NE
76TH AVE S
76TH ST NW_N_NE
77TH AVE S
77TH ST NW_N_NE
78TH AVE S
78TH ST NW_N_NE
79TH AVE S
79TH PL S
79TH ST NW_N_NE
7TH AVE NW_W_SW
7TH AVE NE_N_CNTR_S
7TH PL S
7TH PL SW
80TH AVE S
80TH PL S
80TH ST NW_N_NE
81ST AVE S
81ST PL NE
81ST PL S
81ST ST NW_N_NE
82ND AVE S
82ND PL S
82ND ST NW_N_NE
83RD AVE S
83RD ST NW_N_NE
84TH AVE S
84TH ST NW_N_NE
85TH AVE S
85TH PL NE
85TH ST NW_N_NE
86TH CT S
86TH ST NW_N_NE
87TH AVE S
87TH PL NE
87TH ST NW_N_NE
88TH AVE S
88TH PL NE
88TH ST NW_N_NE
89TH AVE S
89TH PL NW
89TH ST NW_N_NE
8TH AVE NW_W_SW
8TH AVE NE_N_CNTR_S
8TH CT NE
8TH PL S
8TH PL SW
8TH PL W
90TH PL NE
90TH PL NW
90TH ST NW_N_NE
91ST ST NW_N_NE
92ND PL S
92ND ST NW_N_NE
93RD ST NW_N_NE
93RD ST S
94TH ST NW_N_NE
95TH ST NW_N_NE
95TH ST S
96TH CIR SW
96TH LN SW
96TH PL NE
96TH PL SW
96TH ST NW_N_NE
96TH ST S
97TH CT SW
97TH PL SW
97TH ST NW_N_NE
97TH ST SW
98TH PL SW
98TH ST NW_N_NE
98TH ST SW
99TH PL S
99TH PL SW
99TH ST NW
99TH ST SW_S
9TH AVE NW_W_SW
9TH AVE NE_N_CNTR_S
9TH PL SW
ADAMS LN NE
ADAMS ST SW_S
ADDITION ST S
ADMIRAL WAY SW
AIKINS AVE SW
AIRPORT WAY S
ALAMO PL S
ALASKA PL S
ALASKA ST SW_S
ALASKAN WAY W_CNTR_S
ALBION PL N
ALBRO PL S
ALDER ST CNTR_E
ALDERBROOK PL NW
ALKI AVE SW
ALLEN PL N
ALLISON ST E
ALOHA ST W_CNTR_E
ALONZO AVE NW
ALPINE WAY NW
ALTAVISTA PL W
ALTON AVE NE
ALTON PL NE
ALVIN PL NW
AMBLESIDE RD NE
AMERICUS ST S
AMHERST PL W
ANDOVER ST SW_S
ANGEL PL S
ANGELINE ST SW_S
ANGELO ST S
ANN ARBOR AVE NE
ANTHONY PL S
AQUA WAY S
ARAPAHOE PL W
ARBORETUM DR E
ARBORETUM PL E
ARCH AVE SW
ARCH PL SW
ARGAND ST W
ARGYLE PL N
ARLINGTON PL E
ARMORY WAY W
ARMOUR PL W
ARMOUR ST W_CNTR
ARROWSMITH AVE S
ARROYO CT SW
ARROYO DR SW
ARROYO BEACH PL SW
ARTHUR PL E
ASHWORTH AVE N
ASOTIN PL NE
ATLANTIC ST SW_S
ATLAS PL SW
AUBURN AVE S
AUBURN PL E
AUGUSTA PL S
AUGUSTA ST S
AURORA AVE N
AURORA BR N
AUSTIN PL SW
AUSTIN ST SW_S
AUTUMN LN SW
AVALON WAY SW
AVON ST S
AVON CREST PL S
BAGLEY AVE N
BAILEY ST S
BAINBRIDGE PL SW
BAKER AVE NW
BALLARD AVE NW
BALLARD BR NW_W
BALLARD WAY NW
BANGOR CT S
BANGOR ST S
BANNER PL NE
BANNER WAY NE
BARBARA BAILEY WAY E
BARCLAY CT E
BARNES AVE NW
BARRETT LN W
BARRETT ST W
BARTLETT AVE NE
BARTON PL S
BARTON PL SW
BARTON ST SW_S
BATAAN ST SW
BATEMAN ST S
BATTERY ST CNTR
BAY ST CNTR
BAY TERRACE RD W
BAYARD AVE NW
BAYVIEW ST S
BEACH DR SW
BEACH DRIVE TER SW
BEACON AVE S
BEACON WR AVE S
BEDFORD CT NW
BELGROVE CT NW
BELL ST CNTR
BELLA VISTA AVE S
BELLEVUE AVE E_CNTR
BELLEVUE CT E
BELLEVUE PL E
BELMONT AVE E_CNTR
BELMONT PL E
BELVIDERE AVE SW
BELVOIR PL NE
BENEFIT ST S
BENNETT DR S
BENNETT ST S
BENTON LN NE
BENTON PL SW
BERNICE PL SW
BERNIE WHITEBEAR WAY W
BERTONA ST W
BEVERIDGE PL SW
BIGELOW AVE N
BIRCH AVE N
BISHOP PL W
BITTER PL N
BLAINE ST W_CNTR_E
BLAIR TER S
BLAKE PL SW
BLAKELEY ST NE
BLAKELY CT NW
BLAKELY PL NW
BLANCHARD ST CNTR
BLENHEIM DR E
BLUE RIDGE DR NW
BOAT ST NE
BONAIR DR SW
BONAIR PL SW
BOND ST S
BOREALIS AVE CNTR
BOREN AVE N_CNTR_S
BOSTON ST W_CNTR_E
BOSTON TER E
BOTHWELL ST W
BOWDOIN PL N
BOWDOIN PL NW
BOWEN PL S
BOWLYN PL S
BOYD PL SW
BOYER AVE E
BOYLSTON AVE E_CNTR
BOZEMAN ST S
BRACE POINT DR SW
BRADFORD PL S
BRADFORD ST SW_S
BRADNER PL S
BRANDON CT S
BRANDON PL S
BRANDON ST SW_S
BRIARCLIFF LN W
BRIDGE WAY N
BRIGHT ST NW
BRIGHTON LN S
BRIGHTON ST S
BROAD ST CNTR
BROADMOOR DR E
BROADWAY CT CNTR
BROADWAY ST CNTR_E
BROCKMAN PL NE
BRONSON WAY SW
BROOK AVE SW
BROOKLYN AVE NE
BRUCE ST SW
BRYGGER DR W
BRYGGER PL NW
BUDD CT S
BURKE AVE N
BURNS ST S
BURTON PL W
BUSH PL S
BYRON ST S
CALHOUN ST E
CALIFORNIA AVE W_SW
CALIFORNIA DR SW
CALIFORNIA LN SW
CALIFORNIA PL SW
CALIFORNIA WAY SW
CAMANO PL S
CAMBRIDGE PL SW
CAMBRIDGE ST SW_S
CAMPBELL PL SW
CAMPUS DR CNTR
CAMPUS PKWY NE
CANADA DR SW
CANAL RD NE
CANAL ST NW_N
CANFIELD PL N
CANOE PL NW
CANTERBURY LN E
CARKEEK DR S
CARKEEK PARK RD NW
CARLETON AVE S
CAROLINA ST W
CAROLINE AVE N
CARR PL N
CARROLL ST SW
CARSTENS PL S
CARVER ST S
CASCADIA AVE S
CECIL AVE S
CEDAR ST CNTR
CENTRAL PL NW
CHAPIN PL N
CHARLES ST S
CHARLESTOWN ST SW_S
CHATHAM DR S
CHEASTY BLVD S
CHELAN AVE SW
CHELAN LN NE
CHELAN SR AVE SW
CHERRY ST CNTR_E
CHERRYLANE AVE S
CHERRYLANE PL S
CHICAGO CT SW_S
CHICAGO ST S
CHILBERG AVE SW
CHILBERG PL SW
CITY VIEW ST SW
CLAREMONT AVE S
CLAREMONT PL S
CLARK RD NE
CLAY ST CNTR
CLEOPATRA PL NW
CLISE CT W
CLISE PL W
CLOGSTON WAY N
CLOVERDALE PL S
CLOVERDALE ST SW_S
CLUB HOUSE DR NE
COLLEGE ST SW_S
COLLEGE WAY N
COLMAN DOCK ACCESS RD CNTR
COLMAN DOCK EXIT RD CNTR
COLORADO AVE S
COLUMBIA DR S
COLUMBIA RD NE
COLUMBIA ST CNTR_E
COLUMBIAN WAY S
COMMODORE WAY W
COMSTOCK PL CNTR
COMSTOCK ST W_CNTR
CONCORD ST SW_S
CONDON WAY W
CONISTON RD NE
CONKLING PL W
CONOVER CT E
CONOVER WAY S
CONSTANCE DR W
CONVENTION PL CNTR
COOPER ST S
CORGIAT DR S
CORLISS AVE N
CORLISS WAY N
CORNELL AVE S
CORSON AVE S
CORWIN PL S
CORYELL CT E
COTTAGE PL SW
COURT PL CNTR
COURT ST S
COURTLAND PL N
COURTLAND PL S
COVELLO DR S
COWEN PL NE
COWLITZ RD NE
CRAMER ST W
CRANE DR W
CRAWFORD PL CNTR
CREMONA ST W_CNTR
CRESCENT DR E
CREST DR NE
CREST PL S
CRESTMONT PL W
CRESTON ST S
CRESTWOOD DR S
CROCKETT ST W_CNTR_E
CROFT PL SW
CROWN PL NE
CULBERTSON DR NW
CULPEPER CT NW
CYCLE CT SW
CYRUS AVE NW
DAKOTA ST SW_S
DALLAS AVE S
DANIEL PL NE
DARTMOUTH AVE W
DAVIS PL S
DAWSON ST SW_S
DAY ST S
DAYTON AVE N
DEAN CT S
DEAN ST S
DEARBORN PL S
DEARBORN ST S
DECATUR PL S
DEDHAM PL S
DELAPPE PL S
DELLA ST S
DELMAR DR E
DELRIDGE WAY SW
DENNY WAY W_CNTR_E
DENNY BLAINE PL E
DENSMORE AVE N
DENVER AVE S
DES MOINES MEMORIAL DR S
DETROIT AVE SW
DEWEY PL E
DEXTER AVE N_CNTR
DEXTER WAY N
DIAGONAL AVE S
DIBBLE AVE NW
DILLING WAY CNTR
DIRECTOR PL SW
DIRECTOR ST SW_S
DISCOVERY PARK BLVD W
DIVISION AVE NW
DIXON DR S
DOCK PL NW
DONALD ST SW
DONOVAN ST SW_S
DORFFEL DR E
DORIS ST S
DOROTHY PL N
DOSE TER S
DOUGLAS PL SW
DRAVUS ST W_CNTR
DUMAR WAY SW
DUNCAN AVE S
DURLAND AVE NE
DURLAND PL NE
DUWAMISH AVE S
DUWAMISH AV S ACCESS RD S
DUWAMISH AVE S BR S
EAGLE ST CNTR
EARL AVE NW
EAST GREEN LAKE DR N
EAST GREEN LAKE WAY N
EAST LAUREL DR NE
EAST LAURELHURST DR NE
EAST MARGINAL WAY S
EAST MARGINAL ER WAY S
EAST MONTLAKE PL E
EAST PARK DR E
EAST STEVENS WAY NE
EASTERN AVE N
EASTLAKE AVE NE_CNTR_E
EASTLAKE PL NE
EASTMONT WAY W
EASTWOOD DR S
EATON PL E
EATON ST W
EDDY CT S
EDDY ST SW_S
EDGAR ST E
EDGAR MARTINEZ DR S
EDGEMONT PL W
EDGEWATER PL E
EDGEWEST DR NW
EDGEWOOD AVE SW
EDMUNDS ST SW_S
EDWARD DR S
ELDORADO LN NW
ELFORD DR NW
ELIZABETH ST S
ELK PL NE
ELLERAY LN NE
ELLINOR DR W
ELLIOTT AVE W_CNTR
ELLIOTT WAY CNTR
ELLIS AVE S
ELM PL SW
ELMGROVE ST SW_S
ELMORE PL W
ELMORE ST W
ELMWOOD PL S
ELSHIN PL NE
EMERSON PL W
EMERSON ST W
EMERSON TURN RD W
ENGLEWOOD ST SW
ERICKSON PL NE
ERIE AVE CNTR
ERSKINE WAY SW
ESPLANADE ST NW
ESTELLE ST S
ETRURIA ST W_CNTR
EUCLID AVE CNTR
EVANSTON AVE N
EVERETT AVE E
EVERGREEN PL CNTR
EWING PL W
EWING ST W
EXETER AVE NE
EXPEDIA GROUP WAY W
EYRES PL W
FAIRBANKS ST S
FAIRMOUNT AVE SW
FAIRVIEW AVE E_N_CNTR
FAIRVIEW PL N
FAIRVIEW NR AVE N
FAIRWAY DR NE
FARRAR ST S
FARWELL PL SW
FAUNTLEE CREST ST SW
FAUNTLEROY AVE SW
FAUNTLEROY PL SW
FAUNTLEROY WAY SW
FEDERAL AVE E
FERDINAND ST S
FERN PL NW
FERRIS PL S
FERRY AVE SW
FERRY PL NE
FIDALGO ST S
FINDLAY ST SW_S
FIR ST CNTR_E
FISCHER PL NE
FISHER PL S
FLETCHER ST SW_S
FLORA AVE S
FLORENCE CT E
FLORENTIA PL W
FLORENTIA ST W_CNTR
FLORIDA ST SW
FONTANELLE PL S
FONTANELLE ST SW_S
FORD PL E
FOREST AVE S
FOREST CT SW
FOREST DR NE
FOREST PL S
FOREST ST SW_S
FOREST HILL PL NW
FOREST VISTA ST NE
FORNEY ST SW
FORT ST W
FOSTER ISLAND RD E
FOUNTAIN PL S
FOUNTAIN ST S
FOX AVE S
FRANCIS AVE N
FRANKLIN AVE E
FRANKLIN PL E
FRANKLIN PL NE
FRATER AVE SW
FRAZIER PL NW
FREMONT AVE N
FREMONT BR CNTR
FREMONT LN N
FREMONT PL N
FREMONT WAY N
FRINK PL S
FRONT ST SW_S
FRONTENAC ST SW_S
FUHRMAN AVE E
FULLERTON AVE CNTR
FULTON ST W_CNTR
GALE PL S
GALER PL N
GALER ST W_CNTR_E
GARDEN PL S
GARDEN ST S
GARDEN LOOP RD S
GARFIELD PL NE
GARFIELD ST W_CNTR_E
GARLOUGH AVE SW
GATEWOOD RD SW
GAY AVE W
GAZELLE ST S
GENESEE ST SW_S
GENESEE WAY S
GEORGE WASHINGTON LN NE
GILMAN AVE W
GILMAN DR W
GILMAN PL W
GLEN ST E
GLEN ACRES DR S
GLENDALE WAY S
GLENMONT LN W
GLENN WAY SW
GLENRIDGE WAY SW
GLENWILDE PL E
GOLDEN DR NW
GOLDEN PL NW
GOLDEN GARDENS DR NW
GOLF DR S
GOODELL PL S
GOODWIN WAY NE
GOULD AVE S
GOVERNMENT WAY W
GRAHAM ST SW_S
GRAND AVE CNTR
GRAND ST S
GRANDVIEW PL E
GRANT LN NE
GRATTAN PL S
GRATTAN ST S
GRAYSON ST SW
GREEN LAKE DR N
GREEN LAKE WAY N
GREENBELT STATION DR S
GREENBRIER WAY NW
GREENWOOD AVE N
GREENWOOD CIR N
GROVER ST W
GWINN PL E
HAHN PL S
HALLADAY ST W_CNTR
HALLECK AVE SW
HAMLET AVE S
HAMLIN ST E
HAMPTON RD S
HANFORD ST SW_S
HARADEN PL S
HARBOR AVE SW
HARBOR LN SW
HARDY ST S
HARLEY ST W
HARNEY ST S
HAROLD PL NE
HARRIS PL S
HARRISON ST W_CNTR_E
HARVARD AVE E_CNTR
HAWTHORN RD S
HAYES ST W_CNTR
HAZEL CT S
HAZEL ST S
HEIGHTS AVE SW
HEIGHTS PL SW
HEINZE WAY SW
HELEN ST E
HEMLOCK WAY SW
HENDERSON PL SW
HENDERSON ST SW_S
HIAWATHA PL S
HIGH LN E
HIGH POINT DR SW
HIGHLAND DR W_CNTR_E
HIGHLAND PARK WAY SW
HILL ST SW_S
HILL TOP LN NW
HILLCREST AVE SW
HILLMAN PL NE
HILLSIDE DR E
HINDS PL S
HINDS ST SW_S
HIRAM PL NE
HOBART AVE SW
HOLDEN PL SW
HOLDEN ST SW_S
HOLGATE BR S
HOLGATE ST SW_S
HOLLY CT SW
HOLLY PL S
HOLLY PL SW
HOLLY ST SW_S
HOLLY TER S
HOLLY PARK DR S
HOLMAN RD N_NW
HOLYOKE WAY S
HOMER ST S
HOOKER ST W
HORTON ST SW_S
HOWE ST W_CNTR_E
HOWELL PL CNTR
HOWELL ST CNTR_E
HUBBELL PL CNTR
HUDSON ST SW_S
HUGHES AVE SW
HUMES PL W
HUNTER BLVD S
HURON ST E
IAGO PL S
IDA ST SW
IDAHO AVE W
IDAHO ST SW_S
ILLINOIS AVE W
INDUSTRIAL WAY S
INGERSOLL PL S
INTERLAKE AVE N
INTERLAKEN BLVD E
INTERLAKEN DR E
INTERLAKEN PL E
INVERNESS CT NE
INVERNESS DR NE
IONE PL NW
IOWA ST W
IRONDALE AVE W
IRVING ST S
ISLAND DR S
ITHACA PL S
IVANHOE PL NE
JACKSON PL S
JACKSON ST S
JACOBSEN RD SW
JAMES CT E
JAMES ST CNTR_E
JAMES WAY E
JAMESON ST W
JANSEN CT E
JEFFERSON RD NE
JEFFERSON ST CNTR_E
JESSE AVE W
JILL PL S
JOHN CT E
JOHN ST W_CNTR_E
JONES AVE NW
JONES PL NW
JUDKINS ST S
JUNEAU ST SW_S
JUNEAU TER S
JUNIPER ST S
KANSAS AVE W
KEEN WAY N
KELDEN PL NE
KELSEY LN SW
KENILWORTH PL NE
KENNY ST S
KENSINGTON PL N
KENWOOD PL N
KENYON PL SW
KENYON ST SW_S
KENYON WAY S
KEPPLER ST S
KESWICK DR NE
KEYSTONE PL N
KILBOURNE CT SW
KING ST S
KINNEAR PL W
KIRKWOOD PL N
KLICKITAT AVE SW
KLICKITAT LN NE
KLICKITAT WAY SW
KNOX PL E
LAFAYETTE AVE S
LAFERN PL S
LAKE CITY WAY NE
LAKE DELL AVE CNTR
LAKE PARK DR S
LAKE RIDGE DR S
LAKE RIDGE PL S
LAKE SHORE BLVD NE
LAKE SHORE DR NE_S
LAKE WASHINGTON BLVD E_CNTR_S
LAKEMONT DR NE
LAKESIDE AVE NE_CNTR_S
LAKESIDE PL NE
LAKEVIEW BLVD E
LAKEVIEW LN NE
LAKEWOOD AVE S
LANDER PL SW
LANDER ST SW_S
LANE ST S
LANGSTON RD S
LANHAM PL SW
LATIMER PL NE
LATONA AVE NE
LAUREL LN S
LAUREL ST S
LAURELCREST LN NE
LAWTON CIR W
LAWTON LN W
LAWTON ST W
LAWTONWOOD RD W
LEARY AVE NW
LEARY WAY NW
LEDROIT CT SW
LEDROIT PL SW
LEE ST W_CNTR_E
LENNY WILKENS WAY CNTR
LENORA PL N
LENORA ST CNTR
LEO ST S
LEROY PL S
LESCHI PL S
LETITIA AVE S
LEWIS PL SW
LEXINGTON PL S
LEXINGTON WAY E
LILAC ST S
LIMA TER S
LINCOLN WAY NE
LINCOLN PARK WAY SW
LINDEN AVE N
LINDSAY PL S
LITTLE CANOE CHANNEL ST NE
LK UNION PARK ACCESS RD CNTR
LOCKS PL NW
LONGWOOD PL NE
LORENTZ PL N
LORETTA PL E
LOTUS AVE SW
LOTUS PL S
LOUISA ST E
LOYAL AVE NW
LOYAL WAY NW
LUCAS PL N
LUCILE ST S
LUTHER AVE S
LYNN PL W
LYNN ST W_CNTR_E
LYON CT S
M L KING JR WAY E_CNTR_S
MACARTHUR LN SW
MADISON CT CNTR
MADISON ST CNTR_E
MADRONA DR CNTR
MADRONA PL E
MAGNOLIA BLVD W
MAGNOLIA BR W
MAGNOLIA LN W
MAGNOLIA WAY W
MAIDEN LN E
MAIN ST S
MAIN KC AIRPORT ACC RD S
MALDEN AVE E
MANNING ST SW
MANOR PL W
MANSELL ST W
MAPLE WAY SW
MAPLE LEAF PL NE
MAPLEWOOD PL SW
MARCUS AVE S
MARGINAL PL SW
MARGUERITE CT SW
MARINA PL W
MARINA PARKING PL W
MARINE AVE SW
MARINE VIEW DR SW
MARINE VIEW PL SW
MARION ST CNTR_E
MARKET ST NW_N
MARMOUNT DR NW
MARS AVE S
MARSHALL AVE SW
MARTIN ST E
MARY AVE NW
MARY GATES MEMORIAL DR NE
MARYLAND PL SW
MASON PL NE
MASON RD NE
MASSACHUSETTS ST SW_S
MATTHEWS AVE NE
MATTHEWS PL NE
MAYES CT S
MAYFAIR AVE N
MAYFLOWER ST S
MAYNARD AVE S
MCCLELLAN ST S
MCCLINTOCK AVE S
MCCORD PL W
MCCOY PL S
MCGILVRA BLVD E
MCGILVRA ST E
MCGRAW PL CNTR
MCGRAW PL W
MCGRAW ST W_CNTR_E
MCKINLEY PL N
MCLAREN ST W
MEAD ST S
MELROSE AVE E_CNTR
MEMORIAL WAY NE
MENFORD PL N
MERCER PL W
MERCER ST W_CNTR_E
MERIDIAN AVE N
MERIDIAN PL N
MERRILL LN NW
MERTON WAY S
MICHIGAN ST SW_S
MIDVALE AVE N
MIDVALE PL N
MILFORD WAY NW
MILITARY RD S
MILLER ST E
MILLS ST SW
MINOR AVE E_N_CNTR
MISSION DR S
MITHUN PL NE
MONROE ST SW_S
MONTANA CIR W
MONTAVISTA PL W
MONTEREY PL S
MONTFORT PL W
MONTLAKE BLVD NE_E
MONTLAKE BR E
MONTVALE CT W
MONTVALE PL W
MOORE ST S
MORGAN PL S
MORGAN ST SW_S
MORLEY PL W
MORLEY WAY E
MORROW LN N
MORSE AVE S
MOTOR PL N
MOUNT ADAMS PL S
MOUNT BAKER BLVD S
MOUNT BAKER DR S
MOUNT BAKER BLVD TUR RD S
MOUNT CLAIRE DR S
MOUNT RAINIER DR S
MOUNT ST HELENS PL S
MOUNT VIEW DR S
MOUNTAIN DR W
MURRAY AVE SW
MYERS WAY S
MYRTLE PL S
MYRTLE ST SW_S
N NORTHLAKE WAY ACC RD N
NAGLE PL CNTR
NAOMI PL NE
NEBRASKA ST W_S
NELSON PL E
NEPTUNE PL NW
NESBIT AVE N
NEVADA ST SW_S
NEWELL ST W_CNTR
NEWPORT WAY CNTR
NEWTON ST W_CNTR_E
NICKERSON ST W_CNTR
NICKERSON TURN RD W
NICKLAS PL NE
NIESZ CT SW
NOAA DR NE
NOB HILL AVE N
NOB HILL PL N
NORCROSS WAY NW
NORFOLK ST S
NORMAN ST S
NORTH ST E
NORTH BEACH DR NW
NORTH KC AIRPORT ACC RD S
NORTH PARK AVE N
NORTHGATE PZ NE
NORTHGATE WAY N_NE
NORTHGATE STATION RD NE
NORTHGATE TRANSIT RD NE
NORTHLAKE PL N
NORTHLAKE PL NE
NORTHLAKE WAY N
NORTHLAKE WAY NE
NORTHROP PL SW
NORTHSHIRE RD NW
NORTHWOOD PL NW
NORTHWOOD RD NW
NORWOOD PL CNTR
NYE PL S
OAKHURST PL S
OAKHURST RD S
OAKLAWN PL S
OAKWOOD AVE S
OBERLIN AVE NE
OCCIDENTAL AVE S
OCEAN VIEW DR SW
OHIO AVE S
OHMAN PL W
OKANOGAN LN NE
OLGA ST SW
OLIN PL E
OLIVE LN E
OLIVE PL E
OLIVE ST E
OLIVE WAY CNTR_E
OLSON PL SW
OLYMPIC PL W
OLYMPIC WAY W
OLYMPIC VIEW PL N
ORANGE PL N
ORCAS ST S
ORCHARD PL S
ORCHARD ST SW_S
ORCHARD TER S
OREGON AVE W
OREGON ST SW_S
ORIN CT N
ORLEANS ST SW
ORR ST S
OSWEGO PL NE

# combine data for output

In [26]:
ms_gdf = pd.concat(objs = output_gdf_list)

In [27]:
ms_gdf['dist_miles'] = ms_gdf['dist'] / 5280

In [28]:
# join in other street identification data

In [29]:
ms_gdf.shape

(29780, 17)

In [30]:
ms_gdf['street_status'].value_counts()

street_status
1    21931
0     3825
2     3614
3      410
Name: count, dtype: int64

In [31]:
ms_gdf.columns

Index(['snd_id', 'ord_street_name', 'ord_street_type', 'ord_stname_type',
       'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
       'snd_group', 'sn_id', 'en_id', 'dist', 'city_sector',
       'city_sector_group', 'group_id', 'geometry', 'street_status',
       'dist_miles'],
      dtype='object')

In [32]:
# check for missing values
hey_what_is_na(ms_gdf)

In [33]:
ms_gdf['ord_stname_concat'].value_counts()

ord_stname_concat
M L KING JR WAY S      149
BEACON AVE S           138
RAINIER AVE S          130
AURORA AVE N           102
GREENWOOD AVE N         89
                      ...
ALOHA ST W_CNTR_E        1
ALDERBROOK PL NW         1
N MENFORD PL             1
ALDER ST CNTR_E          1
CALIFORNIA AVE W_SW      1
Name: count, Length: 2768, dtype: int64

In [34]:
'' in ms_gdf['ord_stname_type_group'].unique().tolist()

False

In [35]:
write_gdf(gdf = ms_gdf, output_file_path=rc.OUTPUT_FILE_PATH, output_file_name='galer.gpkg')

In [36]:
# what streets have parallel edges?
# these can be verified / examined in qGIS
trouble_list

['1ST AVE NE_N_CNTR_S',
 '25TH AVE NW_W_SW',
 '40TH ST NW_N_NE',
 '43RD ST NW_N_NE',
 '7TH AVE NE_N_CNTR_S',
 'FOREST ST SW_S',
 'LAWTON CIR W',
 'MAGNOLIA BR W',
 'MERRILL LN NW',
 'RADFORD DR NE',
 'ROYAL BROUGHAM WAY S',
 'SEWARD PARK RD S',
 'SUMMIT AVE E_CNTR']

In [37]:
# is everything lining up?
testo = ms_gdf.loc[ms_gdf['ord_stname_unique'] != ms_gdf['ord_stname_concat'], :]

In [38]:
testo.head()

,snd_id,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,snd_group,sn_id,en_id,dist,city_sector,city_sector_group,group_id,geometry,street_status,dist_miles
5,65673,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,5,11829,12162,2024.641807,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31936 47.61176, -122.31943 47...",2,0.383455
6,65674,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,6,12319,12359,152.428743,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31942 47.60352, -122.31942 47...",2,0.028869
25,20435,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,174,11683,11604,423.143814,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31946 47.61409, -122.31948 47...",1,0.080141
26,20522,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,174,11752,11683,417.719952,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31945 47.61295, -122.31946 47...",1,0.079114
27,20601,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,174,11809,11752,278.657501,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31938 47.61218, -122.31939 47...",1,0.052776

In [39]:
testo.shape

(1830, 17)

In [40]:
testo['street_status'].value_counts()

street_status
1    1358
0     364
2     108
Name: count, dtype: int64

In [41]:
testo['ord_stname_concat'].value_counts()

ord_stname_concat
DENNY WAY                  30
4TH AVE                    29
MERCER ST                  26
2ND AVE                    26
5TH AVE                    25
                           ..
QUEEN ANNE AVE              1
RAVENNA BV WB ACCESS RD     1
BAY TERRACE RD              1
SMITH PL                    1
DEXTER AVE                  1
Name: count, Length: 203, dtype: int64

# compute if the added segments were indeed the shortest.

In [42]:
# ord_street_name: osn
# ord_street_type: ost
# ord_stname_type: osnt
# ord_stname_concat: osnc
# ord_stname_unique: osnu
# ord_stname_type_group: osntg
# weight                
# city_sector
# city_sector_group

In [43]:
# the number of times when the shortest segment is the shortest
col_names = ['ord_street_name', 'ord_street_type', 'ord_stname_type', 'ord_stname_concat',
             'ord_stname_unique', 'ord_stname_type_group', 'shortest_added_path',
             'n_discontinuities']                                      
sap_df = pd.DataFrame(data = shortest_added_path, columns = col_names)

In [44]:
sap_df['n_streets'] = int(1)

In [45]:
sap_df.head()

,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,shortest_added_path,n_discontinuities,n_streets
0,100TH,ST,100TH ST,NE 100TH ST,NE 100TH ST,100TH ST NW_N_NE,0,8,1
1,100TH,ST,100TH ST,S 100TH ST,S 100TH ST,100TH ST SW_S,0,5,1
2,101ST,ST,101ST ST,NW 101ST ST,NW 101ST ST,101ST ST NW_N,1,1,1
3,101ST,ST,101ST ST,S 101ST ST,S 101ST ST,101ST ST SW_S,0,2,1
4,102ND,ST,102ND ST,NE 102ND ST,NE 102ND ST,102ND ST N_NE,0,4,1

In [46]:
sap_df['ord_stname_type_group'].unique().shape

(699,)

In [47]:
recode_dict = {0:'shortest_is_false', 1:'shortest_is_true', }

In [48]:
sap_df['shortest_added_path'] = sap_df['shortest_added_path'].map(recode_dict)

In [49]:
sap_df = sap_df.sort_values(by = ['ord_stname_type', 'ord_stname_concat'])

In [50]:
sap_df['connection_status'] = "intraconnection"
sap_df.loc[sap_df['ord_stname_concat'] == '', 'connection_status'] = 'interconnection'

In [51]:
sap_df.head()

,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,shortest_added_path,n_discontinuities,n_streets,connection_status
0,100TH,ST,100TH ST,NE 100TH ST,NE 100TH ST,100TH ST NW_N_NE,shortest_is_false,8,1,intraconnection
1,100TH,ST,100TH ST,S 100TH ST,S 100TH ST,100TH ST SW_S,shortest_is_false,5,1,intraconnection
2,101ST,ST,101ST ST,NW 101ST ST,NW 101ST ST,101ST ST NW_N,shortest_is_true,1,1,intraconnection
3,101ST,ST,101ST ST,S 101ST ST,S 101ST ST,101ST ST SW_S,shortest_is_false,2,1,intraconnection
4,102ND,ST,102ND ST,NE 102ND ST,NE 102ND ST,102ND ST N_NE,shortest_is_false,4,1,intraconnection

In [52]:
sap_df_ct_count = pd.pivot_table(data = sap_df, values = 'n_streets',
                                 index = ['connection_status', 'n_discontinuities'], columns = 'shortest_added_path',
                                 aggfunc='sum', fill_value=0, margins = True).reset_index(drop=False)

In [53]:
sap_df_ct_count.columns

Index(['connection_status', 'n_discontinuities', 'shortest_is_false',
       'shortest_is_true', 'All'],
      dtype='object', name='shortest_added_path')

In [54]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,All
0,interconnection,1,0,11,11
1,interconnection,2,8,1,9
2,interconnection,3,3,0,3
3,interconnection,4,4,0,4
4,interconnection,5,1,0,1

In [55]:
for recode_key, recode_value in recode_dict.items():
    if recode_value not in sap_df_ct_count.columns:
        sap_df_ct_count[recode_value] = [0] * sap_df_ct_count.shape[0]

In [56]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,All
0,interconnection,1,0,11,11
1,interconnection,2,8,1,9
2,interconnection,3,3,0,3
3,interconnection,4,4,0,4
4,interconnection,5,1,0,1

In [57]:
sap_df_ct_count = sap_df_ct_count.rename(columns = {'All':'n_streets'})
col_names = ['connection_status', 'n_discontinuities', 'shortest_is_false', 'shortest_is_true', 'n_streets']
sap_df_ct_count = sap_df_ct_count[col_names]

In [58]:
for cn in ['shortest_is_false', 'shortest_is_true']:
    ncn = cn + '_per'
    sap_df_ct_count[ncn] = sap_df_ct_count[cn] / sap_df_ct_count['n_streets']

In [59]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,n_streets,shortest_is_false_per,shortest_is_true_per
0,interconnection,1,0,11,11,0.000000,1.000000
1,interconnection,2,8,1,9,0.888889,0.111111
2,interconnection,3,3,0,3,1.000000,0.000000
3,interconnection,4,4,0,4,1.000000,0.000000
4,interconnection,5,1,0,1,1.000000,0.000000

In [60]:
# export this to excel
if not os.path.exists(rc.ANALYSIS_OUTPUT_FILE_PATH):
    os.makedirs(rc.ANALYSIS_OUTPUT_FILE_PATH)
ofpn = os.path.join(rc.ANALYSIS_OUTPUT_FILE_PATH, rc.S04_SS_COUNT_OUT_FILE_NAME)
print(ofpn)

sap_df_ct_count.to_excel(excel_writer=ofpn, sheet_name='shortest_segment_count', index = False)

../../../project/seattle_streets/data\analysis\shortest_segment_count.xlsx

# add ranking by street type to help with visualization

In [61]:
st_type_df = ms_gdf.loc[ms_gdf['street_status'].isin((2,3)), 'ord_street_type'].value_counts().to_frame(name = 'n_segments').reset_index()

In [62]:
st_type_df.head()

  ord_street_type  n_segments
0              ST        1960
1             AVE        1919
2              PL          81
3             WAY          20
4              DR          16

In [63]:
st_type_df['segment_rank'] = st_type_df['n_segments'].rank(ascending = True).astype(int).astype(str).str.zfill(2)

In [64]:
st_type_df.head(n=20)

  ord_street_type  n_segments segment_rank
0              ST        1960           10
1             AVE        1919           09
2              PL          81           08
3             WAY          20           07
4              DR          16           06
5            BLVD          10           05
6              LN           9           04
7              RD           6           03
8              CT           2           02
9            PKWY           1           01

In [65]:
st_type_df['ord_street_type_rank'] = st_type_df['segment_rank'] + '_' + st_type_df['ord_street_type']

In [66]:
st_rank_dict = {ost:ostr for ost, ostr in zip(st_type_df['ord_street_type'], st_type_df['ord_street_type_rank'])}

In [67]:
ms_gdf['ord_street_type_rank'] = ms_gdf['ord_street_type'].map(st_rank_dict)

In [68]:
ms_gdf.loc[ms_gdf['ord_street_type_rank'].isna(), 'ord_street_type_rank'] = ""

In [69]:
ms_gdf.columns

Index(['snd_id', 'ord_street_name', 'ord_street_type', 'ord_stname_type',
       'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
       'snd_group', 'sn_id', 'en_id', 'dist', 'city_sector',
       'city_sector_group', 'group_id', 'geometry', 'street_status',
       'dist_miles', 'ord_street_type_rank'],
      dtype='object')

In [70]:
# ord_street_name: osn
# ord_street_type: ost
# ord_stname_type: osnt
# ord_stname_concat: osnc
# ord_stname_unique: osnu
# ord_stname_type_group: osntg
# weight                
# city_sector
# city_sector_group

In [71]:
# reorder columns
col_names = ['snd_id', 'ord_street_name', 'ord_street_type','ord_stname_type',
             'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
             'ord_street_type_rank','snd_group', 'group_id', 'city_sector',
             'city_sector_group', 'street_status', 'sn_id','en_id',
             'dist','dist_miles','geometry']

In [72]:
ms_gdf = ms_gdf[col_names]

# save the geodataframe with the continuous, discontinuous, and added streets

In [73]:
write_gdf(gdf = ms_gdf, output_file_path= rc.OUTPUT_FILE_PATH,
          output_file_name = rc.S04_MISSING_OUT_FILE_NAME)

In [74]:
'' in ms_gdf['ord_stname_type_group'].unique().tolist()

False