# Part 03: Find the discontinuities in Seattle's streets
michael babb  
2024 11 24

In [1]:
# standard
import os

In [2]:
# external
import geopandas as gpd
import networkx as nx
import numpy as np
import pandas as pd
from shapely.geometry import LineString, Point

In [3]:
# custom
import run_constants as rc
from utils import *

# load the working seattle street network data

In [4]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S03_SND_WORKING_IN_FILE_NAME)

In [5]:
gdf = gpd.read_file(filename = fpn)

In [6]:
gdf.shape

(25773, 38)

In [7]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, 'Street_Network_Database_Seattle_working_v2.gpkg')

In [8]:
gdf = gpd.read_file(filename = fpn)

In [9]:
gdf.shape

(25773, 40)

# load the node data

In [10]:
input_file_name = 'Street_Network_Nodes.gpkg'

In [11]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S03_NODE_IN_FILE_NAME)

In [12]:
node_gdf = gpd.read_file(filename = fpn)

In [13]:
node_gdf.head()

   node_id                     geometry
0    17740  POINT (-122.32287 47.52982)
1    11391  POINT (-122.32402 47.61849)
2      982   POINT (-122.29193 47.7649)
3    11695  POINT (-122.30782 47.61411)
4     6257  POINT (-122.38214 47.67456)

In [14]:
node_gdf['node_id'] = node_gdf['node_id'].astype(int)

In [15]:
node_gdf['coords'] = node_gdf['geometry'].map(lambda x: x.coords[0])

In [16]:
node_gdf.head()

,node_id,geometry,coords
0,17740,POINT (-122.32287 47.52982),"(-122.32287444824671, 47.529819957875)"
1,11391,POINT (-122.32402 47.61849),"(-122.32401964037119, 47.61848906651073)"
2,982,POINT (-122.29193 47.7649),"(-122.29192836110747, 47.764904310419276)"
3,11695,POINT (-122.30782 47.61411),"(-122.30781531879083, 47.61410595110372)"
4,6257,POINT (-122.38214 47.67456),"(-122.38214200036303, 47.67455801597557)"

In [17]:
node_gdf.dtypes

node_id        int32
geometry    geometry
coords        object
dtype: object

In [18]:
# zap this into a dictionary
node_dict = {}
for i, row in node_gdf.iterrows():
    node_dict[row['node_id']] = row['coords']

# find missing segments

In [19]:
# create the ord_street_name and ord_street_type variable
gdf['ord_street_name_type'] = gdf['ord_street_name'] + ' ' + gdf['ord_street_type']

In [20]:
# create a weight variable from the gis_segment_length variable
gdf['weight'] = gdf['gis_seg_length']

In [21]:
# only select columns names used in subsequent steps
col_names = ['f_intr_id',
't_intr_id',
'snd_id',
'snd_feacode',
'gis_seg_length',
'ord_street_name',
'ord_street_type',
'ord_street_name_type',
'ord_stname_concat',
'city_portion',
'geometry',
'weight',
'group_id']

In [22]:
gdf = gdf[col_names].copy()

In [23]:
# what's the current max snd ID?
gdf['snd_id'].max()

50338

In [24]:
# what's 2^16? start adding IDs at this value?
2**16

65536

In [25]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'gis_seg_length',
       'ord_street_name', 'ord_street_type', 'ord_street_name_type',
       'ord_stname_concat', 'city_portion', 'geometry', 'weight', 'group_id'],
      dtype='object')

In [90]:
# here is where the discontinuities are identified and the "missing" segments are created.
# a full run, without saving intermiedate data, takes less than a minute.
# saving intermediate data takes an additional ~5 minutes.

# save intermediate data for checking?

write_intermediate = False
use_v1 = False

# street_status
# 0: continuous street
# 1: discontinuous
# 2: added street

# hold the output
output_gdf_list = []
shortest_added_path = []
gdf['snd_group'] = int(0)
snd_group_count = -1
# use this value to start the ID number for the added segements.
temp_snd_id = 2**16
# get the list of unique names
snt_list = gdf['ord_street_name_type'].unique().tolist()

# uncomment to test specifc street
#snt_list = ['7TH AVE N', 'W GALER ST']
#snt_list = ['GALER ST']
#snt_list = ['15TH AVE W']
#snt_list = ['WOODLAWN AVE N']

# the trouble_list, for lack of a beter name, are streets with parallel edges
# we can record the names of these streets. 
trouble_list = []

for snt in snt_list[:None]:
    print(snt)
    
    # subset the gdf by ord_stname_concat
    sub_gdf = gdf.loc[gdf['ord_street_name_type'] == snt, :].copy().reset_index(drop = True)
    unique_id_list = sub_gdf['group_id'].unique().tolist()
    
    for gi in unique_id_list:
        
        temp_gdf = sub_gdf.loc[sub_gdf['group_id'] == gi, :].copy()
        
        # create the graph for a single street.
        # For example, all streets named W GALER ST are a single graph.
        # this is an undirected graph.
        fg = nx.from_pandas_edgelist(df = temp_gdf, source = 'f_intr_id', target = 't_intr_id', edge_attr=True)
        
        if temp_gdf.shape[0] != fg.number_of_edges():
            trouble_list.append(snt)            
            
            # subsequent steps need a single-edge graph. 
            # Parallel edges are not allowed. 
            # so, let's return the edges last added to the graph.
            mod_edge_list = []
            for ed in fg.edges.data():
                mod_edge_list.append(ed[2]['snd_id'])
            temp_gdf = temp_gdf.loc[temp_gdf['snd_id'].isin(mod_edge_list), :]
            
        # get the list of nodes in the graph.
        node_list = list(fg.nodes)
        
        # a list of the snd groups - this is necessary to match street segments to nodes
        # nx.connected_components() identifies disconnected graphs
        for cc in nx.connected_components(G = fg):
            # cc is the sub graph
            sub_graph = fg.subgraph(cc).copy()
            # this is the edge data        
            edge_data_list = sub_graph.edges.data()        
            # this marks the street(s) in each sub graph
            snd_id_list = []
            for edl in edge_data_list:                        
                snd_id_list.append(edl[2]['snd_id'])        
            snd_group_count += 1
            # this will update the gdf per street name with the groups of streets
            temp_gdf.loc[temp_gdf['snd_id'].isin(snd_id_list), 'snd_group'] = snd_group_count     
        
        # this is the number of unique snd_groups
        # also the number of discontinuities
        snd_group_id_list = temp_gdf['snd_group'].unique()    
        
        n_discontinuities = len(snd_group_id_list)    
        
        if n_discontinuities > 1:
            # process for the sub graphs
            node_snd_group_dict = {}
            # a node - an intersection - can have more than one street.
            # we need to update the node snd group dict for every street
            # identify each edge that each node is on
            for ir, row in temp_gdf.iterrows():       
                fn = row['f_intr_id']
                tn = row['t_intr_id']
                #osn = row['ord_street_name']
                #osnt = row['ord_street_name_type']
                #osnc = row['ord_stname_concat']

                snd_group_id = row['snd_group']
                node_snd_group_dict[fn] = snd_group_id
                node_snd_group_dict[tn] = snd_group_id                                             
            
            # create a list of available edges - these are the missing segments
            # these are formed from the non-edges of the graph.        
            avail_edges = []

            # compute the degree centrality 
            node_centrality_dict = nx.degree_centrality(G = fg)

            # dictionary to hold available edges
            # let's only make the distance calculation once, yeah?
            # it's a simple calculation, but even more simple to store it. 
            node_dist_dict = {}
            # enumerate the non-edges
            non_edge_count = 0
            # the total number of non-edges
            diff_non_edge_count = 0
            # the number of non-edges that connect disconnected components
            for ne in nx.non_edges(graph = fg):    
                non_edge_count += 1
                # ne is a tuple of from / to nodes.
                # create available edges if the nodes are not on the same segment
                # this will decrease the potential solution space
                if node_snd_group_dict[ne[0]] != node_snd_group_dict[ne[1]]:
                    diff_non_edge_count += 1
                    # calculate the straight-line distance between two nodes. 
                    # convert to feet to match the existing distance / weight variable
                    weight = points2distance(node_dict[ne[0]], node_dict[ne[1]], unit = 'miles') * 5280
                    
                    # build the output tuple
                    if use_v1:
                        # this does not use node centrality
                        output = (ne[0], ne[1], {'weight':weight})
                    else:
                        # let's get the node centrality and use its inverse to further weight distances                     
                        ne_0_nc = node_centrality_dict[ne[0]]
                        ne_1_nc = node_centrality_dict[ne[1]]
                        edge_weight = weight * (ne_0_nc * ne_1_nc)
                        output = (ne[0], ne[1], {'weight':edge_weight})                        
                    # add to the distance dict
                    node_dist_dict[(ne[0], ne[1])] = weight 
                    node_dist_dict[(ne[1], ne[0])] = weight 
                    avail_edges.append(output)

            # we just calculated all of the potential segments that span discontinuities
            # nx.k_edge_augmentation() creates the potential edges in a graph by adding as
            # few edges as possible. In a street network, with multiple disconnected
            # components, there is really one way to minimally connect the disparate components
            # to create full connectivity. And it's the shortest geographic segment in this case!
            # weighted graph traversal works by accumulating as little weight as possible. 
            
            # this will store the output
            data_list = []
            line_list = []
            # once nx.k_edge_augmentation() finishes, it returns a generator with the added edges that
            # ensure complete connectivity between all nodes.
            augmented_edges = nx.k_edge_augmentation(G = fg, k = 1, avail = avail_edges, weight = 'weight')    
            # enumerate the augmented edges
            for i_ae, ae in enumerate(augmented_edges):                
                # unpack
                fn, tn = ae            
                # get the weight / distance of the added edge
                weight = node_dist_dict[(fn, tn)] 
                # this is the output dictionary
                # street name, integer indicating the snd_group, from node, to node, distance of the edge

                # get node data
                fn_node_list = []                
                for curr_edge in fg.edges(fn):
                    edge_dict = fg.edges[curr_edge]
                    fn_node_list.append(edge_dict)
                
                fn_df = pd.DataFrame(data = fn_node_list)
                fn_osnc = fn_df['ord_stname_concat']

                tn_node_list = []
                for curr_edge in fg.edges(tn):
                    edge_dict = fg.edges[curr_edge]
                    tn_node_list.append(edge_dict)
                
                tn_df = pd.DataFrame(data = tn_node_list)
                tn_osnc = tn_df['ord_stname_concat']

                # ord_stname_concat: determine this by computing the set intersection
                osnc_set = set(fn_osnc).intersection(tn_osnc)
                if len(osnc_set) == 1:
                    osnc = osnc_set.pop()
                else:
                    osnc = ''

                # ord_street_name
                osn = temp_gdf['ord_street_name'].unique().tolist()[0]
                # ord_street_type
                ost = temp_gdf['ord_street_type'].unique().tolist()[0]

                # now, get the city portion
                tn_city_portion = set(tn_df['city_portion'])
                fn_city_portion = set(fn_df['city_portion'])
                cp = list(tn_city_portion.union(fn_city_portion))
                cp = '_'.join(sorted(cp))

                temp_snd_id += 1
                temp_data_list = [temp_snd_id, osn, ost, snt, osnc, i_ae, fn, tn, weight, cp]
                # now, let's create some geometry
                temp_line = LineString([node_dict[fn], node_dict[tn]])
                line_list.append(temp_line)
                data_list.append(temp_data_list)

            # compare the list of available edges to the list of chosen edges
            # this isn't necessary to complete the edge augmentation, but it's
            # nice to know how often added edges are always the shortest edges        
            av_df = pd.DataFrame(data = avail_edges, columns = ['sn_id', 'en_id', 'weight_dict'])
            #av_df['dist'] = av_df['weight_dict'].map(lambda x: x['weight'])

            av_df['dist'] = av_df.apply(func=lambda x: node_dist_dict[(x['sn_id'], x['en_id'])], axis = 1)
            av_df = av_df.drop(labels = 'weight_dict', axis = 1)
            # rank distance - the lower the rank, the shorter the segment.
            av_df['dist_rank'] = av_df['dist'].rank(method = 'dense')
            
            # build a gpd.GeoDataFrame - these are the "missing" segments"
            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_street_name_type', 'ord_stname_concat',
                         'snd_group', 'sn_id', 'en_id', 'dist', 'city_portion']
            ms_gdf = gpd.GeoDataFrame(data = data_list,
                                            columns = col_names,
                                            geometry = line_list, crs = 'epsg:4326')
            # these edges are not on the same street group
            ms_gdf['street_status'] = int(2)
            # update where the connection spans city portions     
            ms_gdf.loc[ms_gdf['ord_stname_concat'] == '', 'street_status'] = 3

            # this will track if there are any graphs with parallel edges.
            if ms_gdf.empty:
                trouble_list.append(snt)            
            
            # select where the rank is LTE than the number of records in the missing segement gdf
            av_df = av_df.loc[av_df['dist_rank'] <= ms_gdf.shape[0], :]
            
            # if the sum of the distance of the added segments is the same, then only the
            # shortest segments were added. If not, then other, longer, segments were added
            # but that makes for less total distance traversed in the graph.
            # So, how often does that happen?
            shortest_tot_path = av_df['dist'].sum() == ms_gdf['dist'].sum()
            shortest_tot_path = int(shortest_tot_path)
            shortest_added_path.append([osn, ost, snt, osnc,  shortest_tot_path, n_discontinuities - 1])        
                    
            # add the known, disconnected segments. These are the existing streets.
            col_names = ['snd_id','ord_street_name', 'ord_street_type', 'ord_street_name_type',
                         'ord_stname_concat', 'snd_group',  'f_intr_id', 't_intr_id',
                         'gis_seg_length', 'city_portion', 'geometry']    
            ks_gdf = temp_gdf[col_names].copy()
            ks_gdf['street_status'] = int(1)
            ks_gdf = ks_gdf.rename(columns = {'f_intr_id':'sn_id', 't_intr_id':'en_id', 'gis_seg_length':'dist'})

            # stack the geodataframes
            output_gdf = pd.concat([ms_gdf, ks_gdf])            
        
            # write intermediate
            if write_intermediate:
                # intermediate streets - existing streets
                is_output_file_path = os.path.join(rc.OUTPUT_FILE_PATH, 'individual_streets')
                if not os.path.exists(is_output_file_path):
                    os.makedirs(is_output_file_path)
                output_file_name = '_'.join(snt.split()) + '.gpkg'
                write_gdf(gdf = temp_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)
            
                # intermediate nodes
                curr_node_df = pd.DataFrame(data = {'node_id':fg.nodes()})
                #curr_node_list = curr_node_df['node_id'].tolist()
                curr_node_df['node_centrality'] = curr_node_df['node_id'].map(node_centrality_dict)
                node_subset_gdf = subset_node_gdf(node_gdf = node_gdf, other_node_df = curr_node_df)
                output_file_name = '_'.join(snt.split()) + '_full_nodes.gpkg'
                write_gdf(gdf = node_subset_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)

                # the added and continuous segments for a street
                output_file_name = '_'.join(snt.split()) + '_missing_segments.gpkg'
                ofpn = os.path.join(is_output_file_path, output_file_name)                
                write_gdf(gdf = output_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)

        else:
            # gather the streets with no missing segments.         
            col_names = ['snd_id', 'ord_street_name', 'ord_street_type', 
                         'ord_street_name_type', 'ord_stname_concat', 
                         'snd_group', 'f_intr_id', 't_intr_id', 'gis_seg_length', 
                         'city_portion', 'geometry']    
            output_gdf = temp_gdf[col_names].copy()
            output_gdf['street_status'] = int(0)
            output_gdf = output_gdf.rename(columns = {'f_intr_id':'sn_id', 't_intr_id':'en_id', 'gis_seg_length':'dist'})

        # add to the output list
        output_gdf_list.append(output_gdf)

8TH AVE
BELMONT AVE
63RD ST
MCCLINTOCK AVE
NORTH PARK AVE
37TH AVE
25TH AVE
WAITE ST
107TH ST
42ND ST
LINDEN AVE
40TH ST
FAUNTLEROY PL
GALER ST
WALKER ST
20TH AVE
BYRON ST
FOREST ST
VICTORY LN
18TH AVE
26TH AVE
29TH AVE
27TH AVE
17TH AVE
KIRKWOOD PL
7TH AVE
ROWAN RD
28TH AVE
130TH ST
38TH AVE
MARION ST
HOLLY ST
95TH ST
OLIVE ST
LOUISA ST
REPUBLICAN ST
15TH AVE
5TH AVE
45TH AVE
RAYE ST
DAKOTA ST
91ST ST
70TH ST
48TH AVE
102ND ST
FULTON ST
68TH ST
RUFFNER ST
35TH AVE
46TH AVE
CHERRY ST
21ST AVE
ALKI AVE
DAYTON AVE
90TH ST
ANDOVER ST
FREMONT AVE
THOMAS ST
WESTERN AVE
STONE AVE
94TH ST
123RD ST
24TH AVE
130TH PL
62ND ST
3RD AVE
WESTMONT WAY
FAIRVIEW AVE
55TH ST
105TH ST
47TH AVE
120TH ST
12TH AVE
42ND AVE
COLUMBIA ST
WOODLAWN AVE
CAMPUS PKWY
ASHWORTH AVE
MASSACHUSETTS ST
CRESCENT DR
ELMWOOD PL
MCGRAW ST
CHARLESTOWN ST
PERKINS LN
SUMMIT AVE
ANN ARBOR AVE
51ST AVE
22ND AVE
33RD AVE
MYERS WAY
LANGSTON RD
LAKE RIDGE DR
KENYON ST
64TH ST
67TH ST
EDMUNDS ST
98TH ST
6TH AVE
10TH AVE
JANSEN CT
CALIFORNIA AVE
40TH AVE
117TH ST
BRANDON ST
CORNELL AVE
49TH AVE
PROSPECT ST
43RD PL
104TH ST
MELROSE AVE
14TH AVE
57TH ST
121ST ST
DEARBORN ST
41ST AVE
57TH AVE
30TH AVE
19TH AVE
MERIDIAN AVE
1ST AVE
GRAYSON ST
GARFIELD ST
STEVENS ST
37TH ST
GREENWOOD AVE
39TH AVE
77TH ST
55TH AVE
52ND AVE
53RD AVE
EVANSTON AVE
DENNY WAY
82ND AVE
INTERLAKE AVE
36TH AVE
115TH ST
NEWTON ST
112TH ST
137TH ST
HANFORD ST
106TH ST
THURMAN ST
97TH ST
LANDER ST
HILL ST
71ST ST
VIRGINIA ST
ROANOKE ST
53RD ST
LEE ST
HOWELL ST
BLAINE ST
MYRTLE ST
34TH AVE
BROADMOOR DR
TRENTON ST
52ND ST
74TH ST
CAMBRIDGE ST
SHILSHOLE AVE
34TH ST
44TH AVE
PHINNEY AVE
92ND ST
DECATUR PL
4TH AVE
122ND ST
HARRIS PL
DIXON DR
127TH ST
WELLER ST
11TH AVE
83RD ST
51ST ST
CLOVERDALE ST
43RD ST
ANGELINE ST
HAZEL CT
9TH AVE
80TH AVE
ELMORE ST
FRONTENAC ST
142ND ST
INDUSTRIAL WAY
OAKWOOD AVE
129TH ST
59TH ST
WILLARD AVE
LAKE WASHINGTON BLVD
126TH ST
32ND AVE
76TH AVE
79TH AVE
FIDALGO ST
VINE ST
118TH PL
56TH AVE
OREGON ST
UNION ST
PLUM ST
50TH AVE
BOREN AVE
WETMORE AVE
54TH AVE
UNIVERSITY CIR
JEFFERSON ST
CORLISS AVE
75TH AVE
41ST ST
16TH AVE
73RD ST
66TH AVE
HENDERSON ST
GOLDEN PL
124TH ST
82ND ST
TERRY AVE
66TH ST
HAZEL ST
EASTERN AVE
MARY AVE
HARRISON ST
36TH ST
86TH ST
ALASKA ST
NORTHLAKE PL
BOYLSTON AVE
GAY AVE
73RD LN
HINDS ST
75TH ST
39TH ST
77TH AVE
48TH ST
61ST ST
103RD ST
HUDSON ST
140TH ST
62ND AVE
31ST AVE
BLUE RIDGE DR
2ND AVE
CASCADIA AVE
FOUNTAIN ST
MONTVALE CT
5TH PL
61ST AVE
84TH ST
WHITMAN AVE
GRAND ST
CROCKETT ST
CHARLES ST
MILITARY RD
69TH PL
43RD AVE
STENDALL DR
HIGHLAND DR
60TH ST
ORCAS ST
VAN DYKE RD
PINE ST
EXETER AVE
59TH AVE
DENVER AVE
FOREST AVE
HOLLY TER
89TH ST
BARRETT ST
MAIN ST
LYNN ST
CRANE DR
72ND ST
WARD ST
WINTHROP ST
CONCORD ST
50TH ST
UNIVERSITY ST
PILGRIM ST
13TH AVE
69TH AVE
49TH ST
HELEN ST
WASHINGTON ST
FINDLAY ST
CLISE CT
WARREN AVE
ROY ST
PALATINE AVE
DAWSON ST
MCCLELLAN ST
SUNRISE VISTA ST
TILLMAN ST
SEELYE CT
WHEELER ST
SMITH ST
SPOKANE ST
MANNING ST
RANDOLPH AVE
FAIRWAY DR
CORWIN PL
HIRAM PL
BOSTON ST
BOYD PL
DENSMORE AVE
BAGLEY AVE
NOB HILL AVE
LOTUS AVE
MARINE VIEW DR
LENORA PL
LAKE SHORE BLVD
DEXTER AVE
MORGAN ST
132ND ST
SURBER DR
MEAD ST
MERCER ST
MOUNT BAKER BLVD
WOODBINE PL
69TH ST
78TH ST
CREMONA ST
BOWDOIN PL
BARTON ST
BANGOR ST
45TH ST
23RD AVE
108TH ST
THISTLE ST
ELLINOR DR
ORANGE PL
BERTONA ST
MAYNARD AVE
BROADWAY CT
STACY ST
44TH ST
CHAPIN PL
GLENMONT LN
FERDINAND ST
LAKEVIEW LN
ATLANTIC ST
ALTON AVE
BEACON AVE
GOODELL PL
BRADFORD ST
SPRUCE ST
MOUNTAIN DR
CHICAGO ST
DOUGLAS PL
PIKE ST
28TH PL
PAISLEY PL
ELMGROVE ST
SNOQUALMIE ST
THACKERAY PL
IDAHO ST
JONES AVE
BAYVIEW ST
LUCILE ST
WARSAW ST
88TH ST
WOODLAND PARK AVE
46TH ST
SULLIVAN ST
58TH ST
PARKSIDE DR
80TH ST
135TH ST
DIRECTOR ST
SPRING ST
JUNEAU ST
LAWTON ST
122ND PL
ETRURIA ST
JACKSON ST
HAMLIN ST
79TH ST
KINNEAR PL
LANE ST
BIGELOW AVE
54TH ST
SAINT ANDREWS WAY
SHENANDOAH DR
HOLDEN ST
OBERLIN AVE
ARMOUR ST
MCCORD PL
ORCHARD ST
RANDOLPH PL
47TH ST
YORK RD
DUNCAN AVE
MAYFLOWER ST
118TH ST
RAVENNA BLVD
SOUTHERN ST
ALASKA PL
ESTELLE ST
BELLA VISTA AVE
143RD ST
MONTAVISTA PL
MINOR AVE
CARLETON AVE
100TH ST
101ST ST
CROWN PL
SHERWOOD RD
SEATTLE ST
HOLGATE ST
ALBION PL
COLLEGE ST
WINDERMERE RD
OLGA ST
70TH PL
ALDER ST
109TH ST
SHELBY ST
HORTON ST
EYRES PL
ESPLANADE ST
LATONA AVE
68TH AVE
61ST PL
SUNNYSIDE AVE
CHELAN AVE
FRANKLIN AVE
113TH ST
BENNETT ST
34TH PL
CAMANO PL
CORGIAT DR
110TH ST
SPENCER ST
56TH PL
MIDVALE AVE
60TH AVE
HALLADAY ST
JOHN ST
VERNON PL
48TH PL
BATTERY ST
96TH ST
CARVER ST
FARRAR ST
125TH ST
EMERSON ST
PORTLAND ST
OCCIDENTAL AVE
14TH CT
CREST DR
NORFOLK ST
HUGHES AVE
GILMAN AVE
WILLOW ST
LEXINGTON PL
136TH ST
PEARL ST
TAFT ST
PRINCE ST
BROOKLYN AVE
BEACH DR
SEOLA BEACH DR
GRAND AVE
FEDERAL AVE
MAPLEWOOD PL
AIKINS AVE
SUNNY VIEW DR
OTHELLO ST
56TH ST
EAGLE ST
24TH PL
KENNY ST
HILLMAN PL
GARLOUGH AVE
HAYES ST
105TH PL
WESTLAKE AVE
LEDROIT CT
ROOSEVELT WAY
COOPER ST
LOTUS PL
CRAMER ST
BELVIDERE AVE
DEWEY PL
85TH ST
LOYAL AVE
NESBIT AVE
BARRETT LN
87TH ST
WALLINGFORD AVE
DONOVAN ST
FORT ST
ROSE ST
ARROYO CT
ARROYO DR
108TH PL
BURKE AVE
LEROY PL
YAKIMA AVE
EDDY ST
90TH PL
NEWELL ST
MOUNT ADAMS PL
SHORE DR
CARKEEK PARK RD
45TH PL
RENTON AVE
MCGRAW PL
GENESEE ST
JUDKINS ST
NORTHROP PL
MARINE AVE
HOWE ST
3RD PL
IRVING ST
81ST ST
IVANHOE PL
ORIN CT
MAIDEN LN
FLETCHER ST
COMSTOCK ST
AUBURN PL
VALENTINE PL
MCKINLEY PL
128TH ST
AMERICUS ST
WEBSTER ST
LAKESIDE AVE
LAKE RIDGE PL
141ST ST
CALHOUN ST
74TH AVE
DELAPPE PL
FERRIS PL
DIAGONAL AVE
ADAMS ST
AUSTIN ST
AUBURN AVE
FIR ST
WELLINGTON AVE
CONOVER CT
PIKE PL
BAKER AVE
EARL AVE
LETITIA AVE
BOTHWELL ST
138TH ST
38TH ST
SENECA ST
ADMIRAL WAY
TROLL AVE
ARAPAHOE PL
RAVENNA AVE
LEXINGTON WAY
35TH ST
PARKLAND PL
14TH PL
RADFORD AVE
CEDAR ST
SHORELAND DR
ALOHA ST
COLUMBIA DR
FREMONT LN
PATTEN PL
107TH WAY
TERRACE ST
WALNUT AVE
FONTANELLE ST
KING ST
NEBRASKA ST
PARK RD
ROUNDHILL CIR
HAMPTON RD
JAMESON ST
PRENTICE ST
131ST ST
STEWART ST
DIBBLE AVE
LUTHER AVE
STATE ST
33RD ST
OLIN PL
EASTMONT WAY
FAUNTLEROY WAY
1ST PL
RAYMOND ST
MARTIN ST
26TH PL
63RD AVE
117TH PL
135TH PL
QUEEN ANNE AVE
MERIDIAN PL
CONSTANCE DR
WOODLEY AVE
99TH ST
GRAHAM ST
111TH ST
BRIGHTON ST
CORSON AVE
HARLEY ST
DONALD ST
JAMES CT
EDGEWEST DR
SUNNYCREST RD
144TH ST
COURTLAND PL
113TH PL
INVERNESS DR
NORMAN ST
25TH PL
LIMA TER
PRESCOTT AVE
URSULA PL
PARKMONT PL
HUBBELL PL
116TH ST
KEEN WAY
LONGWOOD PL
ALVIN PL
89TH PL
MAYFAIR AVE
10TH PL
WICKSTROM PL
ALLEN PL
RYAN ST
RIVER ST
BROADWAY ST
SYLVAN PL
RUSTIC RD
23RD PL
CLEOPATRA PL
131ST PL
BANGOR CT
MANSELL ST
112TH PL
ELLIS AVE
CONKLING PL
GROVER ST
VIEW AVE
YALE AVE
PRINCETON AVE
THORIN PL
DRAVUS ST
COLORADO AVE
GREEN LAKE DR
ARTHUR PL
67TH AVE
FRONT ST
PUGET BLVD
STURGUS AVE
GILMAN PL
LAKE CITY WAY
LAWTON LN
COURT ST
LENORA ST
IAGO PL
HEINZE WAY
WINONA AVE
33RD PL
ROXBURY ST
VALLEY ST
PUGET DR
ALTON PL
KENYON WAY
SHERIDAN ST
POST AVE
CULPEPER CT
ALDERBROOK PL
MICHIGAN ST
UTAH AVE
HARNEY ST
JAMES ST
72ND AVE
15TH PL
RAINIER AVE
AVALON WAY
DURLAND AVE
47TH PL
SEAVIEW TER
CRESTWOOD DR
IRONDALE AVE
UNIVERSITY VIEW PL
ELK PL
WOODLAND PL
115TH PL
STROUD AVE
MILLER ST
RAYMOND PL
CHILBERG AVE
LAUREL ST
VILLA PL
MONROE ST
52ND TER
BATEMAN ST
38TH CT
WINSLOW PL
FAUNTLEE CREST ST
BROCKMAN PL
KNOX PL
SWIFT AVE
MISSION DR
114TH ST
LEO ST
CRESTMONT PL
CONOVER WAY
MORLEY PL
70TH AVE
MARS AVE
51ST PL
SHELTON ST
VASSAR AVE
BAINBRIDGE PL
FERRY AVE
BELL ST
133RD ST
65TH AVE
CARR PL
PEACH CT
BOAT ST
103RD PL
TALLMAN AVE
64TH AVE
FOREST DR
DORFFEL DR
KEYSTONE PL
MAYES CT
CLAY ST
DANIEL PL
OLIVE PL
EATON PL
BLAKELY PL
GRATTAN PL
GWINN PL
GRATTAN ST
BURTON PL
EDGEMONT PL
YANCY ST
ALLISON ST
HARVARD AVE
CULBERTSON DR
AVON ST
ALONZO AVE
LOYAL WAY
WOODROW PL
76TH ST
BELLEVUE PL
GAZELLE ST
MOUNT VIEW DR
MALDEN AVE
BELGROVE CT
LAKEWOOD AVE
65TH ST
CALIFORNIA LN
EAST LAURELHURST DR
BRANDON CT
PONTIUS AVE
PULLMAN AVE
FRANCIS AVE
MOORE ST
JONES PL
58TH AVE
PADILLA PL
PLYMOUTH ST
CLAREMONT AVE
SAND POINT PL
PARKVIEW AVE
CONISTON RD
139TH ST
IDA ST
PASADENA PL
HOLDEN PL
PENINSULA PL
GLENRIDGE WAY
NEVADA ST
MCGILVRA BLVD
126TH PL
SEMPLE ST
BLAKELEY ST
WEST PARK DR
ARROYO BEACH PL
NORTHWOOD RD
BLAKELY CT
NORTH BEACH DR
FARWELL PL
BRACE POINT DR
PAISLEY DR
BRADNER PL
PRITCHARD ST
MONTEREY PL
BAYARD AVE
THAYER ST
81ST PL
WALDEN ST
EVERETT AVE
116TH PL
KENSINGTON PL
WOODBINE WAY
BEDFORD CT
110TH PL
31ST ST
55TH PL
GOLDEN DR
WHITMAN PL
BONAIR DR
EDGAR ST
IONE PL
PROSCH AVE
WABASH AVE
CANTERBURY LN
BURNS ST
LAKE DELL AVE
TEXAS WAY
FOX AVE
MOUNT ST HELENS PL
93RD ST
DIRECTOR PL
134TH ST
58TH PL
VALMAY AVE
BENNETT DR
RUSSELL AVE
SUNSET AVE
RIVERSIDE DR
HIGH LN
POWELL PL
20TH PL
WINDERMERE DR
CLAREMONT PL
PALMER CT
GOODWIN WAY
WHALLEY PL
HEMLOCK WAY
MONTVALE PL
57TH PL
GALER PL
HOLLY PARK DR
HURON ST
WESTVIEW DR
NORTHLAKE WAY
QUEEN ANNE DR
FAIRMOUNT AVE
HAHN PL
HAROLD PL
WOLCOTT AVE
UNIVERSITY WAY
74TH PL
HILL TOP LN
KELSEY LN
FOREST VISTA ST
BARTLETT AVE
143RD PL
MADISON ST
22ND CT
37TH PL
LAKESIDE PL
CALIFORNIA PL
WALLACE ST
WELLESLEY WAY
ELLERAY LN
BOWEN PL
PLUMMER ST
39TH PL
INTERLAKEN PL
SIERRA DR
PINEHURST WAY
YUKON AVE
RIDGE DR
PALM AVE
FOSTER ISLAND RD
YESLER WAY
BELVOIR PL
WAYNE PL
RIDGEWAY PL
JACKSON PL
FAIRVIEW PL
PURDUE AVE
AUGUSTA ST
LAURELCREST LN
AMBLESIDE RD
PENRITH RD
COURT PL
CITY VIEW ST
SYCAMORE AVE
60TH PL
ROSLYN PL
POINT PL
ELSHIN PL
REMINGTON CT
88TH PL
120TH PL
MORLEY WAY
DELLA ST
GREENBRIER WAY
BLANCHARD ST
GALE PL
42ND PL
18TH PL
29TH PL
DOSE TER
BRADFORD PL
54TH PL
GLEN ST
CYRUS AVE
44TH PL
OCEAN VIEW DR
FOREST CT
NORTHSHIRE RD
SHERMAN RD
NORWOOD PL
11TH PL
MCGILVRA ST
NEWPORT WAY
PRESCOTT PL
134TH PL
FRATER AVE
BRIGHT ST
FRAZIER PL
CENTRAL PL
FORNEY ST
WAVERLY WAY
VASHON PL
THORNDYKE AVE
OSWEGO PL
PARK PL
PACIFIC ST
PREFONTAINE PL
ARMOUR PL
DETROIT AVE
SHORELINE PARK DR
BOND ST
OHMAN PL
MADISON CT
KELDEN PL
VICTOR ST
SPEAR PL
CRAWFORD PL
EUCLID AVE
VALE ST
WEST LAUREL DR
123RD PL
WINSTON AVE
MARSHALL AVE
RED AVE
SAND POINT WAY
PIEDMONT PL
HILLCREST AVE
BARTON PL
DEAN CT
BELLEVUE CT
DOROTHY PL
119TH ST
SLOOP PL
2ND PL
7TH PL
35TH PL
EASTWOOD DR
BLAKE PL
HOBART AVE
DIVISION AVE
ORLEANS ST
MOTOR PL
BENEFIT ST
WADSWORTH PL
BEVERIDGE PL
BITTER PL
106TH PL
FLORA AVE
CANOE PL
WILLIAMS AVE
SHELL ST
CHERRYLANE AVE
TILDEN ST
FERN PL
BLAIR TER
ELDORADO LN
UPLAND RD
SHAFFER AVE
HOLYOKE WAY
PARK POINT PL
ARCH AVE
LAUREL LN
WRIGHT AVE
TERRACE DR
LUCAS PL
ROYAL CT
52ND PL
WATERS AVE
HOOKER ST
LANDER PL
PROSPER ST
83RD AVE
HARDY ST
GARDEN PL
RIDGEMONT WAY
LYNN PL
FLORENTIA PL
KESWICK DR
RAINIER PL
BARNES AVE
BIRCH AVE
STONE WAY
DALLAS AVE
BRUCE ST
GARDEN ST
SOUND VIEW TER
EAST LAUREL DR
HEIGHTS PL
MAPLE LEAF PL
ALAMO PL
GRANDVIEW PL
AUGUSTA PL
WAVERLY PL
ARGYLE PL
LATIMER PL
PLEASANT PL
104TH PL
SHORE PL
RONALD DR
CHEASTY BLVD
EDDY CT
BOSTON TER
46TH PL
TAYLOR AVE
STENDALL PL
HALLECK AVE
LAFAYETTE AVE
HARADEN PL
MENFORD PL
WOODWARD AVE
71ST AVE
6TH PL
MITHUN PL
BISHOP PL
OAKHURST RD
CARROLL ST
MATTHEWS PL
NICKLAS PL
MARGINAL PL
LAKE SHORE DR
CHILBERG PL
STANFORD AVE
RICHWOOD AVE
MERRILL LN
PERRY ST
89TH AVE
85TH AVE
145TH ST
129TH PL
17TH PL
NIESZ CT
ELFORD DR
8TH PL
DEDHAM PL
CECIL AVE
BLENHEIM DR
LEARY WAY
SUPERIOR ST
MADRONA PL
KENILWORTH PL
BARCLAY CT
RAILROAD AVE
FISCHER PL
OLYMPIC PL
THISTLE PL
BELMONT PL
EATON ST
VINTON CT
CANFIELD PL
27TH PL
CORYELL CT
FRANKLIN PL
OLYMPIC VIEW PL
ARGAND ST
KENWOOD PL
LEWIS PL
HIAWATHA PL
MORGAN PL
71ST PL
HEIGHTS AVE
WEBSTER POINT RD
KEPPLER ST
FORD PL
WEST MARGINAL WAY
PALMER DR
JUNEAU TER
TULANE PL
FULLERTON AVE
CHATHAM DR
KENYON PL
ERIE AVE
LAKEMONT DR
LORENTZ PL
STURTEVANT AVE
DAVIS PL
DOCK PL
127TH PL
97TH CT
WOODLAWN PL
FOREST HILL PL
31ST PL
MILFORD WAY
82ND PL
WEST LAURELHURST DR
RIVIERA PL
ALTAVISTA PL
NYE PL
OAKLAWN PL
ARLINGTON PL
MARKET ST
DEXTER WAY
ANGEL PL
LESCHI PL
53RD CT
41ST PL
FAUNTLEROY AVE
8TH CT
WINGARD CT
WOODSIDE PL
MILLS ST
MAGNOLIA LN
HOLLY PL
EAST PARK DR
GREENWOOD CIR
COVELLO DR
141ST CT
ELM PL
NORTH ST
ROBERTS WAY
SCHMITZ AVE
30TH PL
AVON CREST PL
OHIO AVE
DAY ST
MOUNT BAKER DR
TERMINAL CT
64TH PL
NORCROSS WAY
URBAN VISTA ST
74TH LN
DEARBORN PL
HAMLET AVE
ARROWSMITH AVE
KILBOURNE CT
THORNDYKE PL
NAOMI PL
96TH PL
YALE PL
MARYLAND PL
ANGELO ST
TILLICUM RD
ORCHARD PL
CAMPBELL PL
BELLEVUE AVE
RUTAN PL
HARBOR LN
MARINE VIEW PL
GOULD AVE
107TH PL
BEACH DRIVE TER
HAWTHORN RD
EAST MARGINAL ER WAY
SPOKANE NR ST
40TH ALLEY ST
BUSH PL
31ST WR AVE
FOREST PL
NAGLE PL
BRIGHTON LN
AQUA WAY
OAKHURST PL
MCLAREN ST
FISHER PL
CLOGSTON WAY
MORSE AVE
4TH PL
34TH CT
ROSE CT
MONTFORT PL
TEIG PL
81ST AVE
BRYGGER PL
102ND LN
YAKIMA PL
HOMER ST
CANADA DR
38TH PL
MARMOUNT DR
HOLLY CT
LEDROIT PL
WARREN PL
ORCHARD TER
19TH PL
STANTON PL
LAWTON CIR
CHICAGO CT
WOLFE PL
CREST PL
WEST MARGINAL PL
FUHRMAN AVE
GOVERNMENT WAY
STANLEY AVE
KLICKITAT WAY
SEWARD PARK AVE
BUDD CT
CANAL ST
JILL PL
137TH PL
TAYLOR PL
TEMPLE PL
64TH LN
114TH PL
EASTLAKE AVE
6TH CIR
DUWAMISH AV S ACCESS RD
FLORIDA ST
ISLAND DR
BOZEMAN ST
FAIRBANKS ST
RENTON PL
MERTON WAY
M L KING JR WAY
MACARTHUR LN
TWIN MAPLE LN
67TH PL
64TH CT
FAIRVIEW NR AVE
11TH AV NW ACCESS RD
SPOKANE TURN RD
U-TURN RD
WEST MARGINAL ER WAY
BROAD ST
CAROLINE AVE
118TH CT
PORTAGE BAY PL
AURORA AVE
9TH PL
INTERLAKEN DR
65TH CT
PARKER CT
JOHN CT
79TH PL
STATION 30 ACCESS RD
EMERSON TURN RD
W GARFIELD ST ACCESS RD
ROOSEVELT TURN RD
115TH LN
MCCOY PL
66TH LN
CHELAN SR AVE
CYCLE CT
GREENBELT STATION DR
VERN CT
LANHAM PL
97TH PL
3RD LN
ARBORETUM PL
PUGET WAY
LILAC ST
BRIARCLIFF LN
BATAAN ST
DISCOVERY PARK BLVD
AUSTIN PL
PORTLAND CT
CROFT PL
CAMBRIDGE PL
MARCUS AVE
VALDEZ AVE
110TH CT
WHITE CENTER CUTOFF RD
BOYER AVE
DELMAR DR
EAST MARGINAL WAY
OLIVE WAY
MADRONA DR
ALASKAN WAY
ELLIOTT AVE
LEARY AVE
BRIDGE WAY
WEST VIEWMONT WAY
GREEN LAKE WAY
DELRIDGE WAY
MAGNOLIA BLVD
TRITON DR
EAST GREEN LAKE DR
AIRPORT WAY
HIGHLAND PARK WAY
NORTHGATE WAY
HUNTER BLVD
VIEWMONT WAY
NICKERSON ST
CLISE PL
WILSON AVE
OLYMPIC WAY
WALL ST
SEAVIEW AVE
COLUMBIAN WAY
CARKEEK DR
ALBRO PL
COLLEGE WAY
MOUNT RAINIER DR
SYLVAN WAY
BALLARD AVE
FLORENTIA ST
SEAVIEW PL
BAILEY ST
OLSON PL
ERSKINE WAY
MYRTLE PL
KLICKITAT AVE
COWEN PL
POPLAR PL
UNION BAY PL
WILDWOOD PL
ROYAL BROUGHAM WAY
BALLARD WAY
HARBOR AVE
HOLMAN RD
EAST GREEN LAKE WAY
100TH PL
WEST GREEN LAKE WAY
EAST MONTLAKE PL
MANOR PL
COMMODORE WAY
WEST GREEN LAKE DR
GLENN WAY
FREMONT PL
LINCOLN PARK WAY
WEST MONTLAKE PL
JAMES WAY
JACOBSEN RD
QUEEN ANNE DRIVEWAY ST
PRINCETON WAY
MONTLAKE BLVD
MIDVALE PL
NEPTUNE PL
CORLISS WAY
EMERSON PL
GOLDEN GARDENS DR
CONDON WAY
WEEDIN PL
ROSEMONT PL
MAGNOLIA BR
CALIFORNIA WAY
LAKE PARK DR
GENESEE WAY
TURNER WAY
DUMAR WAY
HENDERSON PL
DUWAMISH AVE
DES MOINES MEMORIAL DR
EWING PL
TOWER PL
HIGH POINT DR
SEATTLE BLVD
SPORTSFIELD DR
WILTON CT
BANNER PL
VIEW LN
REDWING ST
80TH PL
124TH PL
EWING ST
88TH AVE
MURRAY AVE
PARK POINT LN
PARK POINT WAY
PARK POINT DR
LAKEVIEW BLVD
111TH PL
ROCKERY DR
2ND LN
112TH LN
111TH LN
RAVENNA PL
BONAIR PL
113TH LN
96TH CIR
JUNIPER ST
EDWARD DR
PORTER WAY
78TH AVE
87TH AVE
ATLAS PL
MOUNT CLAIRE DR
HINDS PL
104TH WAY
BRYGGER DR
DARTMOUTH AVE
VOLUNTEER PARK RD
SNOHOMISH LN
WALLA WALLA RD
32ND PL
23RD CT
SMITH PL
73RD PL
INVERNESS CT
GATEWOOD RD
ITHACA PL
VASHON VIEW
PALATINE PL
FOUNTAIN PL
FLORENCE CT
LAFERN PL
ALPINE WAY
INGERSOLL PL
ANTHONY PL
EAST STEVENS WAY
CHELAN LN
PEND OREILLE RD
RADFORD DR
LK UNION PARK ACCESS RD
SW KLICKITAT WY TURN RD
EDGEWATER PL
POWER AVE
NOB HILL PL
PAR PL
ENGLEWOOD ST
SNOQUALMIE PL
BENTON PL
EDGAR MARTINEZ DR
LORETTA PL
NORTHWOOD PL
COTTAGE PL
AUTUMN LN
BRANDON PL
ADDITION ST
WARD PL
PARK DR
UNIVERSITY BR
59TH AV SW TURN ST
RAVENNA BV WB ACCESS RD
SANDER RD
NICKERSON TURN RD
UPLAND TER
YALE TER
72ND PL
ELMORE PL
22ND PL
SEWARD PARK RD
STADIUM PL
IDAHO AVE
NELSON PL
COLMAN DOCK ACCESS RD
TERMINAL 5 ACCESS RD
TERMINAL 5 EXIT RD
KANSAS AVE
IOWA ST
ARCH PL
JESSE AVE
WASHINGTON AVE
MONTANA CIR
RAILROAD WAY
ARBORETUM DR
INTERLAKEN BLVD
21ST PL
110TH LN
85TH PL
BANNER WAY
84TH AVE
W MARGINAL TURN RD
WEST STEVENS WAY
OKANOGAN LN
MASON RD
PACIFIC PL
GILMAN DR
11TH AV SW ACCESS RD
TERMINAL 18 BR
SHINKLE PL
SYLVAN HEIGHTS DR
MORROW LN
FERRY PL
WEST POINT AVE
MEMORIAL WAY
COLUMBIA RD
PEND OREILLE PL
SAN JUAN RD
LINDSAY PL
AMHERST PL
GLENDALE WAY
S MONROE ST ACCESS RD
MOUNT BAKER BLVD TUR RD
5TH LN
CHERRYLANE PL
FONTANELLE PL
CLOVERDALE PL
BOWLYN PL
SCHMITZ PARK RD
BAY ST
ERICKSON PL
86TH CT
EASTLAKE PL
THORNTON CREEK LN
CALIFORNIA DR
GLENWILDE PL
ORR ST
SEOLA LN
VETERAN HOSPITAL DR
CONVENTION PL
23RD WR AVE
PENNY DR
MONTLAKE BR
AURORA BR
58TH AV SW ACCESS RD
16TH AV S BR
GARDEN LOOP RD
WESTLAKE EAST RDWY AVE
FREMONT BR
68TH PL
MAGNOLIA WAY
W SEATTLE STADIUM AC RD
HOLGATE BR
DUWAMISH AVE S BR
NOAA DR
WESTBRIDGE PL
ROSEBERG AVE
DEAN ST
MARINA PL
60TH LN
92ND PL
GLEN ACRES DR
EDGEWOOD AVE
VICTORIA AVE
SW KLICKITAT WY ACC RD
PERIMETER RD
NORTH KC AIRPORT ACC RD
MAIN KC AIRPORT ACC RD
GARFIELD PL
SKAGIT LN
N NORTHLAKE WAY ACC RD
DILLING WAY
SCHUBERT PL
96TH LN
104TH LN
MAPLE WAY
COMSTOCK PL
SPOKANE CR ST
SUMNER WAY
BROOK AVE
S ROYAL BROUGHAM WAY BR
BALLARD BR
S LUCILE ST BR
LYON CT
118TH LN
THORNTON PL
MATTHEWS AVE
DENNY BLAINE PL
BOREALIS AVE
VISTA AVE
WESTWOOD VILLAGE CT
WOODLAND PARK LOOP
SOUND VIEW DR
HILLSIDE DR
MARINA PARKING PL
125TH SR ST
MARGUERITE CT
CLUB HOUSE DR
SYLVAN LN
EXPEDIA GROUP WAY
ELIZABETH ST
DURLAND PL
WASHINGTON PL
FRINK PL
ROBERTO MAESTAS FEST ST
BEACON WR AVE
WAHKIAKUM RD
COWLITZ RD
LINCOLN WAY
SW SPOKANE ST BR
87TH PL
99TH PL
98TH PL
LITTLE CANOE CHANNEL ST
KLICKITAT LN
LENNY WILKENS WAY
PHINNEY WAY
CLARK RD
MASON PL
ADAMS LN
101ST PL
4TH LN
MARY GATES MEMORIAL DR
CANAL RD
FREMONT WAY
STEVENS WAY
BENTON LN
SPOKANE LN
GRANT LN
GEORGE WASHINGTON LN
ASOTIN PL
WHITNEY PL
OREGON AVE
ILLINOIS AVE
BERNIE WHITEBEAR WAY
YESLER TERRACE ACC RD
CAROLINA ST
BRONSON WAY
LAWTONWOOD RD
BAY TERRACE RD
BERNICE PL
COLMAN DOCK EXIT RD
BARBARA BAILEY WAY
127TH LN
GOLF DR
CAMPUS DR
LOCKS PL
54TH SR ST
75TH PL
ELLIOTT WAY
HUMES PL
ARMORY WAY
ROXBURY PL
RUGGLES ST
SUE BIRD CT
S 99TH PL ACCESS RD
UNIVERSITY VILLAGE ST
HOWELL PL
TALARIS WAY
OLIVE LN
131ST CT
JEFFERSON RD
NORTHGATE TRANSIT RD
NORTHGATE STATION RD
NORTHGATE PZ
CARSTENS PL
EVERGREEN PL
DORIS ST
MERCER PL
13TH PL
CRESTON ST
RYAN WAY
WESTWOOD PL

# combine data for output

In [91]:
ms_gdf = pd.concat(objs = output_gdf_list)

In [92]:
ms_gdf['dist_miles'] = ms_gdf['dist'] / 5280

In [93]:
# join in other street indentification data

In [94]:
ms_gdf.shape

(29785, 13)

In [95]:
ms_gdf['street_status'].value_counts()

street_status
1    21940
0     3818
2     3615
3      412
Name: count, dtype: int64

In [96]:
ms_gdf.head()

,snd_id,ord_street_name,ord_street_type,ord_street_name_type,ord_stname_concat,snd_group,sn_id,en_id,dist,city_portion,geometry,street_status,dist_miles
0,65537,8TH,AVE,8TH AVE,8TH AVE S,0,18097,18114,204.196924,S,"LINESTRING (-122.32234 47.52483, -122.32313 47...",2,0.038674
1,65538,8TH,AVE,8TH AVE,8TH AVE S,1,17487,17351,643.858375,S,"LINESTRING (-122.32281 47.53338, -122.32258 47...",2,0.121943
2,65539,8TH,AVE,8TH AVE,8TH AVE,2,12225,12261,313.330763,CNTR,"LINESTRING (-122.32587 47.6051, -122.32533 47....",2,0.059343
3,65540,8TH,AVE,8TH AVE,,3,11344,11253,431.899865,CNTR_N,"LINESTRING (-122.34139 47.61855, -122.3411 47....",3,0.081799
4,65541,8TH,AVE,8TH AVE,8TH AVE NE,4,5669,5498,622.915283,NE,"LINESTRING (-122.31972 47.68148, -122.32021 47...",2,0.117976

In [97]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'gis_seg_length',
       'ord_street_name', 'ord_street_type', 'ord_street_name_type',
       'ord_stname_concat', 'city_portion', 'geometry', 'weight', 'group_id',
       'snd_group'],
      dtype='object')

In [98]:
ofpn = os.path.join(rc.OUTPUT_FILE_PATH, 'test_connection.gpkg')
ms_gdf.to_file(filename = ofpn, driver = 'GPKG', index = False)

In [99]:
ms_gdf.shape

(29785, 13)

In [100]:
ms_gdf.head()

,snd_id,ord_street_name,ord_street_type,ord_street_name_type,ord_stname_concat,snd_group,sn_id,en_id,dist,city_portion,geometry,street_status,dist_miles
0,65537,8TH,AVE,8TH AVE,8TH AVE S,0,18097,18114,204.196924,S,"LINESTRING (-122.32234 47.52483, -122.32313 47...",2,0.038674
1,65538,8TH,AVE,8TH AVE,8TH AVE S,1,17487,17351,643.858375,S,"LINESTRING (-122.32281 47.53338, -122.32258 47...",2,0.121943
2,65539,8TH,AVE,8TH AVE,8TH AVE,2,12225,12261,313.330763,CNTR,"LINESTRING (-122.32587 47.6051, -122.32533 47....",2,0.059343
3,65540,8TH,AVE,8TH AVE,,3,11344,11253,431.899865,CNTR_N,"LINESTRING (-122.34139 47.61855, -122.3411 47....",3,0.081799
4,65541,8TH,AVE,8TH AVE,8TH AVE NE,4,5669,5498,622.915283,NE,"LINESTRING (-122.31972 47.68148, -122.32021 47...",2,0.117976

In [101]:
ms_gdf['street_status'].value_counts()

street_status
1    21940
0     3818
2     3615
3      412
Name: count, dtype: int64

In [102]:
# check for missing values
for cn in ms_gdf.columns:
    print(cn, ms_gdf[cn].isna().unique())

snd_id [False]
ord_street_name [False]
ord_street_type [False]
ord_street_name_type [False]
ord_stname_concat [False]
snd_group [False]
sn_id [False]
en_id [False]
dist [False]
city_portion [False]
geometry [False]
street_status [False]
dist_miles [False]

In [103]:
# what streets have parallel edges?
# these can be verified / examined in qGIS
trouble_list

['25TH AVE',
 '40TH ST',
 'FOREST ST',
 '7TH AVE',
 'SUMMIT AVE',
 '1ST AVE',
 '43RD ST',
 'MERRILL LN',
 'LAWTON CIR',
 'ROYAL BROUGHAM WAY',
 'MAGNOLIA BR',
 'RADFORD DR',
 'SEWARD PARK RD']

# compute if the added segments were indeed the shortest.

In [109]:
# the number of times when the shortest segments
col_names = ['ord_street_name', 'ord_street_type', 'ord_street_name_type',
             'ord_stname_concat', 'shortest_added_path', 'n_discontinuities']                                      
sap_df = pd.DataFrame(data = shortest_added_path, columns = col_names)

In [110]:
sap_df['n_streets'] = int(1)

In [111]:
sap_df.head()

,ord_street_name,ord_street_type,ord_street_name_type,ord_stname_concat,shortest_added_path,n_discontinuities,n_streets
0,8TH,AVE,8TH AVE,8TH AVE S,0,23,1
1,8TH,AVE,8TH AVE,,0,13,1
2,BELMONT,AVE,BELMONT AVE,,1,1,1
3,63RD,ST,63RD ST,NE 63RD ST,0,6,1
4,NORTH PARK,AVE,NORTH PARK AVE,NORTH PARK AVE N,0,4,1

In [112]:
recode_dict = {0:'shortest_is_false', 1:'shortest_is_true', }

In [113]:
sap_df['shortest_added_path'] = sap_df['shortest_added_path'].map(recode_dict)

In [114]:
sap_df = sap_df.sort_values(by = ['ord_street_name_type', 'ord_stname_concat'])

In [115]:
sap_df['connection_status'] = "intraconnection"
sap_df.loc[sap_df['ord_stname_concat'] == '', 'connection_status'] = 'interconnection'

In [117]:
sap_df.head()

,ord_street_name,ord_street_type,ord_street_name_type,ord_stname_concat,shortest_added_path,n_discontinuities,n_streets,connection_status
400,100TH,ST,100TH ST,NE 100TH ST,shortest_is_false,8,1,intraconnection
399,100TH,ST,100TH ST,SW 100TH ST,shortest_is_false,5,1,intraconnection
401,101ST,ST,101ST ST,,shortest_is_false,2,1,interconnection
402,101ST,ST,101ST ST,NW 101ST ST,shortest_is_true,1,1,intraconnection
57,102ND,ST,102ND ST,NE 102ND ST,shortest_is_false,4,1,intraconnection

In [118]:
sap_df_ct_count = pd.pivot_table(data = sap_df, values = 'n_streets',
                                 index = ['connection_status', 'n_discontinuities'], columns = 'shortest_added_path',
                                 aggfunc='sum', fill_value=0, margins = True).reset_index(drop=False)

In [119]:
sap_df_ct_count.columns

Index(['connection_status', 'n_discontinuities', 'shortest_is_false',
       'shortest_is_true', 'All'],
      dtype='object', name='shortest_added_path')

In [120]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,All
0,interconnection,1,0,12,12
1,interconnection,2,9,2,11
2,interconnection,3,3,0,3
3,interconnection,4,8,0,8
4,interconnection,5,5,0,5

In [121]:
for recode_key, recode_value in recode_dict.items():
    if recode_value not in sap_df_ct_count.columns:
        sap_df_ct_count[recode_value] = [0] * sap_df_ct_count.shape[0]

In [122]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,All
0,interconnection,1,0,12,12
1,interconnection,2,9,2,11
2,interconnection,3,3,0,3
3,interconnection,4,8,0,8
4,interconnection,5,5,0,5

In [123]:
sap_df_ct_count = sap_df_ct_count.rename(columns = {'All':'n_streets'})
col_names = ['connection_status', 'n_discontinuities', 'shortest_is_false', 'shortest_is_true', 'n_streets']
sap_df_ct_count = sap_df_ct_count[col_names]

In [124]:
for cn in ['shortest_is_false', 'shortest_is_true']:
    ncn = cn + '_per'
    sap_df_ct_count[ncn] = sap_df_ct_count[cn] / sap_df_ct_count['n_streets']

In [125]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,n_streets,shortest_is_false_per,shortest_is_true_per
0,interconnection,1,0,12,12,0.000000,1.000000
1,interconnection,2,9,2,11,0.818182,0.181818
2,interconnection,3,3,0,3,1.000000,0.000000
3,interconnection,4,8,0,8,1.000000,0.000000
4,interconnection,5,5,0,5,1.000000,0.000000

In [127]:
# export this to excel
if not os.path.exists(rc.ANALYSIS_OUTPUT_FILE_PATH):
    os.makedirs(rc.ANALYSIS_OUTPUT_FILE_PATH)
ofpn = os.path.join(rc.ANALYSIS_OUTPUT_FILE_PATH, rc.S03_SS_COUNT_OUT_FILE_NAME)
print(ofpn)

sap_df_ct_count.to_excel(excel_writer=ofpn, sheet_name='shortest_segment_count', index = False)

../../../project/seattle_streets/data\analysis\shortest_segment_count.xlsx

# add ranking by street type to help with visualization

In [129]:
st_type_df = ms_gdf.loc[ms_gdf['street_status'].isin((2,3)), 'ord_street_type'].value_counts().to_frame(name = 'n_segments').reset_index()

In [130]:
st_type_df.head()

  ord_street_type  n_segments
0              ST        1960
1             AVE        1921
2              PL          82
3             WAY          20
4              DR          16

In [131]:
st_type_df['segment_rank'] = st_type_df['n_segments'].rank(ascending = True).astype(int).astype(str).str.zfill(2)

In [132]:
st_type_df.head(n=20)

  ord_street_type  n_segments segment_rank
0              ST        1960           10
1             AVE        1921           09
2              PL          82           08
3             WAY          20           07
4              DR          16           06
5            BLVD          10           05
6              LN           9           04
7              RD           6           03
8              CT           2           02
9            PKWY           1           01

In [133]:
st_type_df['ord_street_type_rank'] = st_type_df['segment_rank'] + '_' + st_type_df['ord_street_type']

In [134]:
st_rank_dict = {ost:ostr for ost, ostr in zip(st_type_df['ord_street_type'], st_type_df['ord_street_type_rank'])}

In [135]:
ms_gdf['ord_street_type_rank'] = ms_gdf['ord_street_type'].map(st_rank_dict)

In [136]:
ms_gdf.loc[ms_gdf['ord_street_type_rank'].isna(), 'ord_street_type_rank'] = ""

In [137]:
ms_gdf.columns

Index(['snd_id', 'ord_street_name', 'ord_street_type', 'ord_street_name_type',
       'ord_stname_concat', 'snd_group', 'sn_id', 'en_id', 'dist',
       'city_portion', 'geometry', 'street_status', 'dist_miles',
       'ord_street_type_rank'],
      dtype='object')

In [138]:
# reorder columns
col_names = ['snd_id', 'ord_street_name','ord_stname_concat','ord_street_name_type',
             'ord_street_type', 'city_portion', 'ord_street_type_rank', 'snd_group',
               'street_status','sn_id','en_id','dist','dist_miles','geometry']

In [139]:
ms_gdf = ms_gdf[col_names]

# save the geodataframe with the continuous, discontinuous, and added streets

In [140]:
write_gdf(gdf = ms_gdf, output_file_path= rc.OUTPUT_FILE_PATH,
          output_file_name = rc.S03_MISSING_OUT_FILE_NAME)