# Part 07: Identify streets that cross sectors, plot individual streets
michael babb  
2025 10 03

In [1]:
# standard
import os
import re
import collections

In [2]:
# external
import geopandas as gpd
import matplotlib as mpl
from matplotlib.gridspec import GridSpec
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# custom
import run_constants as rc
from utils import *

In [4]:
# process flow variables

# load the street network data

In [5]:
rc.S03_SND_WORKING_IN_FILE_NAME

'Street_Network_Database_Seattle_working.gpkg'

In [6]:
# load the list of streets - this is before any work is done to compute the missing segments. 
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S03_SND_WORKING_IN_FILE_NAME)

In [7]:
gdf = gpd.read_file(filename = fpn)

In [8]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'citycode',
       'stname_id', 'st_code', 'arterial_code', 'segment_type', 'agency_code',
       'access_code', 'divided_code', 'structure_type', 'legalloc_code',
       'vehicle_use_code', 'gis_seg_length', 'l_adrs_from', 'l_adrs_to',
       'r_adrs_from', 'r_adrs_to', 'ord_pre_dir', 'ord_street_name',
       'ord_street_type', 'ord_suf_dir', 'ord_stname_concat', 'l_city',
       'l_state', 'l_zip', 'r_city', 'r_state', 'r_zip', 'sndseg_update',
       'compkey', 'comptype', 'unitid', 'unitid2', 'city_sector',
       'ord_stname_unique', 'geometry'],
      dtype='object')

In [9]:
gdf['n_roads'] = int(1)

In [10]:

gdf['ord_stname_concat'].unique().shape

(2455,)

In [11]:
gdf['ord_stname_unique'].unique().shape

(2457,)

# group data by street type for use in version 2.0

In [12]:
col_names = ['ord_street_name', 'ord_street_type', 'ord_stname_concat','ord_stname_unique',  'city_sector']
st_name_type_df = gdf[col_names].drop_duplicates()

In [13]:
my_counter = collections.Counter(st_name_type_df['ord_stname_unique'])

In [14]:
my_counter.most_common()

[('NW 145TH ST', 1),
 ('N 145TH ST', 1),
 ('NE 145TH ST', 1),
 ('AURORA AVE N', 1),
 ('SHERWOOD RD NW', 1),
 ('3RD AVE NW', 1),
 ('1ST AVE NW', 1),
 ('NW 144TH ST', 1),
 ('GREENWOOD AVE N', 1),
 ('N 144TH ST', 1),
 ('FREMONT AVE N', 1),
 ('MIDVALE AVE N', 1),
 ('ROOSEVELT WAY N', 1),
 ('LENORA PL N', 1),
 ('MERRILL LN NW', 1),
 ('NW 143RD ST', 1),
 ('STONE AVE N', 1),
 ('N 143RD ST', 1),
 ('NW CULBERTSON DR', 1),
 ('HILL TOP LN NW', 1),
 ('PHINNEY AVE N', 1),
 ('DAYTON AVE N', 1),
 ('EVANSTON AVE N', 1),
 ('LINDEN AVE N', 1),
 ('INTERLAKE AVE N', 1),
 ('ROSLYN PL N', 1),
 ('ASHWORTH AVE N', 1),
 ('DENSMORE AVE N', 1),
 ('COURTLAND PL N', 1),
 ('WALLINGFORD AVE N', 1),
 ('BURKE AVE N', 1),
 ('WAYNE PL N', 1),
 ('MERIDIAN AVE N', 1),
 ('BAGLEY AVE N', 1),
 ('CORLISS AVE N', 1),
 ('SUNNYSIDE AVE N', 1),
 ('1ST AVE NE', 1),
 ('4TH AVE NE', 1),
 ('N 142ND ST', 1),
 ('ALPINE WAY NW', 1),
 ('NW NORTHWOOD RD', 1),
 ('N 141ST ST', 1),
 ('N 141ST CT', 1),
 ('2ND AVE NW', 1),
 ('NW 140TH ST', 1),
 ('NORTHWOOD PL NW', 1),
 ('PALATINE AVE N', 1),
 ('N 140TH ST', 1),
 ('NE 140TH ST', 1),
 ('NORTHWOOD RD NW', 1),
 ('PAR PL NE', 1),
 ('N 138TH ST', 1),
 ('NW ELFORD DR', 1),
 ('NE 139TH ST', 1),
 ('2ND AVE NE', 1),
 ('NW 137TH ST', 1),
 ('N 137TH ST', 1),
 ('NE 138TH ST', 1),
 ('NW 137TH PL', 1),
 ('NW 136TH ST', 1),
 ('N 136TH ST', 1),
 ('3RD AVE NE', 1),
 ('NE 137TH ST', 1),
 ('WINGARD CT N', 1),
 ('NW 135TH PL', 1),
 ('NORTHSHIRE RD NW', 1),
 ('SHERMAN RD NW', 1),
 ('8TH AVE NW', 1),
 ('NE 136TH ST', 1),
 ('N 135TH PL', 1),
 ('NORTH PARK AVE N', 1),
 ('N 135TH ST', 1),
 ('NE 135TH ST', 1),
 ('N 134TH ST', 1),
 ('NW 134TH ST', 1),
 ('BITTER PL N', 1),
 ('N 133RD ST', 1),
 ('11TH PL NW', 1),
 ('FRAZIER PL NW', 1),
 ('NW 132ND ST', 1),
 ('7TH AVE NW', 1),
 ('6TH AVE NW', 1),
 ('4TH AVE NW', 1),
 ('ROOSEVELT WAY NE', 1),
 ('N 132ND ST', 1),
 ('9TH AVE NW', 1),
 ('NE 133RD ST', 1),
 ('NW 131ST ST', 1),
 ('N 131ST ST', 1),
 ('13TH AVE NW', 1),
 ('12TH AVE NW', 1),
 ('NW 130TH ST', 1),
 ('10TH AVE NW', 1),
 ('N 130TH ST', 1),
 ('NW BLAKELY CT', 1),
 ('NE 130TH ST', 1),
 ('N 128TH ST', 1),
 ('BLAKELY PL NW', 1),
 ('11TH AVE NW', 1),
 ('NW 127TH ST', 1),
 ('N 127TH ST', 1),
 ('NW 126TH PL', 1),
 ('NW 126TH ST', 1),
 ('NW 125TH ST', 1),
 ('ELDORADO LN NW', 1),
 ('N 125TH ST', 1),
 ('NE 125TH ST', 1),
 ('NW 122ND ST', 1),
 ('RIDGEMONT WAY N', 1),
 ('N 122ND PL', 1),
 ('N 122ND ST', 1),
 ('NW 121ST ST', 1),
 ('NE 123RD ST', 1),
 ('N 121ST ST', 1),
 ('NW 120TH ST', 1),
 ('N 120TH ST', 1),
 ('NE 120TH ST', 1),
 ('NW 119TH ST', 1),
 ('STENDALL DR N', 1),
 ('STENDALL PL N', 1),
 ('NW 118TH ST', 1),
 ('NW 117TH ST', 1),
 ('N 117TH ST', 1),
 ('SHORELINE PARK DR NW', 1),
 ('NE 117TH ST', 1),
 ('NW 116TH ST', 1),
 ('N 116TH ST', 1),
 ('NW 115TH ST', 1),
 ('N 115TH ST', 1),
 ('NW 114TH PL', 1),
 ('NW CARKEEK PARK RD', 1),
 ('NW 113TH PL', 1),
 ('NW 112TH PL', 1),
 ('N 114TH ST', 1),
 ('NW 112TH ST', 1),
 ('N 112TH ST', 1),
 ('N 113TH PL', 1),
 ('N 113TH ST', 1),
 ('NW PUGET DR', 1),
 ('NW 110TH ST', 1),
 ('N 110TH ST', 1),
 ('NW NORCROSS WAY', 1),
 ('N NORTHGATE WAY', 1),
 ('NW WOODBINE WAY', 1),
 ('N 109TH ST', 1),
 ('WHITMAN AVE N', 1),
 ('5TH AVE NW', 1),
 ('NW WOODBINE PL', 1),
 ('NW 108TH ST', 1),
 ('VALMAY AVE NW', 1),
 ('NW 107TH ST', 1),
 ('N 107TH ST', 1),
 ('CULPEPER CT NW', 1),
 ('NW 106TH ST', 1),
 ('N 106TH ST', 1),
 ('15TH AVE NW', 1),
 ('NW 105TH ST', 1),
 ('14TH AVE NW', 1),
 ('N 105TH ST', 1),
 ('NW BLUE RIDGE DR', 1),
 ('NW ROUNDHILL CIR', 1),
 ('NW 104TH ST', 1),
 ('HOLMAN RD N', 1),
 ('N 104TH ST', 1),
 ('NW GREENBRIER WAY', 1),
 ('BEDFORD CT NW', 1),
 ('ALDERBROOK PL NW', 1),
 ('NW MILFORD WAY', 1),
 ('NW 103RD ST', 1),
 ('N 103RD ST', 1),
 ('RADFORD AVE NW', 1),
 ('BELGROVE CT NW', 1),
 ('NW 100TH PL', 1),
 ('N 102ND ST', 1),
 ('NW 101ST ST', 1),
 ('RICHWOOD AVE NW', 1),
 ('HOLMAN RD NW', 1),
 ('VINTON CT NW', 1),
 ('N 101ST ST', 1),
 ('NW 100TH ST', 1),
 ('BAYARD AVE NW', 1),
 ('MARY AVE NW', 1),
 ('DIBBLE AVE NW', 1),
 ('24TH AVE NW', 1),
 ('NW 99TH ST', 1),
 ('23RD AVE NW', 1),
 ('TRITON DR NW', 1),
 ('NW ESPLANADE', 1),
 ('17TH AVE NW', 1),
 ('N 100TH ST', 1),
 ('NW NORTH BEACH DR', 1),
 ('COLLEGE WAY N', 1),
 ('NW NEPTUNE PL', 1),
 ('NW 98TH ST', 1),
 ('21ST AVE NW', 1),
 ('27TH AVE NW', 1),
 ('26TH AVE NW', 1),
 ('N 98TH ST', 1),
 ('OLYMPIC VIEW PL N', 1),
 ('NW 97TH ST', 1),
 ('N GREENWOOD CIR', 1),
 ('22ND CT NW', 1),
 ('31ST AVE NW', 1),
 ('29TH AVE NW', 1),
 ('NW 96TH ST', 1),
 ('N 97TH ST', 1),
 ('28TH AVE NW', 1),
 ('WOODLAWN AVE N', 1),
 ('19TH AVE NW', 1),
 ('MARMOUNT DR NW', 1),
 ('NW GOLDEN DR', 1),
 ('NW 95TH ST', 1),
 ('N 96TH ST', 1),
 ('18TH PL NW', 1),
 ('18TH AVE NW', 1),
 ('11TH AV NW ACCESS RD', 1),
 ('25TH AVE NW', 1),
 ('NW 94TH ST', 1),
 ('N 95TH ST', 1),
 ('WHITNEY PL NW', 1),
 ('VIEW AVE NW', 1),
 ('32ND AVE NW', 1),
 ('NW 93RD ST', 1),
 ('N 94TH ST', 1),
 ('26TH PL NW', 1),
 ('22ND AVE NW', 1),
 ('NW 92ND ST', 1),
 ('ALVIN PL NW', 1),
 ('CYRUS AVE NW', 1),
 ('N 93RD ST', 1),
 ('N 92ND ST', 1),
 ('NW 91ST ST', 1),
 ('30TH AVE NW', 1),
 ('NW 90TH PL', 1),
 ('NW 90TH ST', 1),
 ('N 91ST ST', 1),
 ('FOREST HILL PL NW', 1),
 ('MERIDIAN PL N', 1),
 ('GOLDEN GARDENS DR NW', 1),
 ('NW 89TH ST', 1),
 ('SYLVAN PL NW', 1),
 ('LOYAL AVE NW', 1),
 ('N 90TH ST', 1),
 ('NW GOLDEN PL', 1),
 ('NW 89TH PL', 1),
 ('NW 88TH ST', 1),
 ('N 89TH ST', 1),
 ('EARL AVE NW', 1),
 ('NW 87TH ST', 1),
 ('16TH AVE NW', 1),
 ('N 88TH ST', 1),
 ('N 87TH ST', 1),
 ('JONES AVE NW', 1),
 ('JONES PL NW', 1),
 ('NESBIT AVE N', 1),
 ('NW 86TH ST', 1),
 ('N 86TH ST', 1),
 ('CAROLINE AVE N', 1),
 ('27TH AVE NE', 1),
 ('NE 144TH ST', 1),
 ('40TH AVE NE', 1),
 ('26TH AVE NE', 1),
 ('30TH AVE NE', 1),
 ('NE 143RD PL', 1),
 ('23RD PL NE', 1),
 ('24TH PL NE', 1),
 ('24TH AVE NE', 1),
 ('NE 143RD ST', 1),
 ('5TH AVE NE', 1),
 ('38TH AVE NE', 1),
 ('12TH AVE NE', 1),
 ('15TH AVE NE', 1),
 ('17TH AVE NE', 1),
 ('22ND AVE NE', 1),
 ('19TH AVE NE', 1),
 ('20TH AVE NE', 1),
 ('WESTWOOD PL NE', 1),
 ('25TH AVE NE', 1),
 ('32ND AVE NE', 1),
 ('LAKE CITY WAY NE', 1),
 ('35TH AVE NE', 1),
 ('36TH AVE NE', 1),
 ('37TH AVE NE', 1),
 ('NE 142ND ST', 1),
 ('41ST PL NE', 1),
 ('41ST AVE NE', 1),
 ('28TH AVE NE', 1),
 ('23RD AVE NE', 1),
 ('RIVIERA PL NE', 1),
 ('42ND AVE NE', 1),
 ('39TH AVE NE', 1),
 ('42ND PL NE', 1),
 ('15TH PL NE', 1),
 ('16TH AVE NE', 1),
 ('NE 135TH PL', 1),
 ('ERICKSON PL NE', 1),
 ('NE 134TH ST', 1),
 ('10TH AVE NE', 1),
 ('11TH AVE NE', 1),
 ('NE 130TH PL', 1),
 ('31ST AVE NE', 1),
 ('NE BROCKMAN PL', 1),
 ('8TH CT NE', 1),
 ('NE 131ST PL', 1),
 ('14TH PL NE', 1),
 ('8TH AVE NE', 1),
 ('NE 128TH ST', 1),
 ('NE 127TH ST', 1),
 ('NE 126TH ST', 1),
 ('NE 125TH SR ST', 1),
 ('14TH AVE NE', 1),
 ('33RD AVE NE', 1),
 ('NE 124TH ST', 1),
 ('SAND POINT WAY NE', 1),
 ('18TH AVE NE', 1),
 ('HIRAM PL NE', 1),
 ('10TH PL NE', 1),
 ('PINEHURST WAY NE', 1),
 ('NE 122ND ST', 1),
 ('9TH AVE NE', 1),
 ('EXETER AVE NE', 1),
 ('DANIEL PL NE', 1),
 ('LAKESIDE PL NE', 1),
 ('BARTLETT AVE NE', 1),
 ('7TH AVE NE', 1),
 ('NE 118TH ST', 1),
 ('31ST PL NE', 1),
 ('6TH PL NE', 1),
 ('NE 116TH ST', 1),
 ('LAKESIDE AVE NE', 1),
 ('NE 115TH ST', 1),
 ('DURLAND AVE NE', 1),
 ('34TH AVE NE', 1),
 ('NE 114TH ST', 1),
 ('ALTON AVE NE', 1),
 ('NE 113TH ST', 1),
 ('1ST PL NE', 1),
 ('GOODWIN WAY NE', 1),
 ('NE 112TH ST', 1),
 ('NE NORTHGATE WAY', 1),
 ('NE 110TH ST', 1),
 ('NORTHGATE PZ NE', 1),
 ('NE 108TH ST', 1),
 ('NE 109TH ST', 1),
 ('NE 108TH PL', 1),
 ('NE 107TH ST', 1),
 ('VICTORY LN NE', 1),
 ('NE 106TH ST', 1),
 ('NE 106TH PL', 1),
 ('NE 105TH ST', 1),
 ('NE ELSHIN PL', 1),
 ('NE 105TH PL', 1),
 ('RAVENNA AVE NE', 1),
 ('ALTON PL NE', 1),
 ('NE 104TH ST', 1),
 ('LAKEVIEW LN NE', 1),
 ('NE 104TH WAY', 1),
 ('NE 103RD ST', 1),
 ('45TH AVE NE', 1),
 ('NE 104TH PL', 1),
 ('NE 103RD PL', 1),
 ('48TH AVE NE', 1),
 ('LAKE SHORE BLVD NE', 1),
 ('NE 102ND ST', 1),
 ('43RD PL NE', 1),
 ('FISCHER PL NE', 1),
 ('29TH AVE NE', 1),
 ('NE 100TH ST', 1),
 ('46TH AVE NE', 1),
 ('46TH PL NE', 1),
 ('44TH AVE NE', 1),
 ('21ST AVE NE', 1),
 ('49TH AVE NE', 1),
 ('NE 98TH ST', 1),
 ('NE 97TH ST', 1),
 ('NE 96TH PL', 1),
 ('NE 96TH ST', 1),
 ('NE 95TH ST', 1),
 ('NE 94TH ST', 1),
 ('44TH PL NE', 1),
 ('NE 92ND ST', 1),
 ('NE 93RD ST', 1),
 ('NE 91ST ST', 1),
 ('LATONA AVE NE', 1),
 ('51ST AVE NE', 1),
 ('NE 90TH ST', 1),
 ('MATTHEWS PL NE', 1),
 ('MATTHEWS AVE NE', 1),
 ('NE 89TH ST', 1),
 ('NE 90TH PL', 1),
 ('NE 88TH ST', 1),
 ('25TH PL NE', 1),
 ('INVERNESS CT NE', 1),
 ('NE 87TH ST', 1),
 ('NE 86TH ST', 1),
 ('PAISLEY DR NE', 1),
 ('53RD CT NE', 1),
 ('53RD AVE NE', 1),
 ('17TH PL NE', 1),
 ('54TH AVE NE', 1),
 ('NE 85TH ST', 1),
 ('RIDGE DR NE', 1),
 ('FOREST DR NE', 1),
 ('NE FOREST VISTA', 1),
 ('LAKEMONT DR NE', 1),
 ('NE CROWN PL', 1),
 ('CREST DR NE', 1),
 ('56TH PL NE', 1),
 ('NE 77TH ST', 1),
 ('58TH AVE NE', 1),
 ('57TH AVE NE', 1),
 ('56TH AVE NE', 1),
 ('NE SUNRISE VISTA', 1),
 ('NE URBAN VISTA', 1),
 ('57TH PL NE', 1),
 ('FAIRWAY DR NE', 1),
 ('NE PARK PL', 1),
 ('55TH PL NE', 1),
 ('55TH AVE NE', 1),
 ('NE 88TH PL', 1),
 ('INVERNESS DR NE', 1),
 ('43RD AVE NE', 1),
 ('PAISLEY PL NE', 1),
 ('CLUB HOUSE DR NE', 1),
 ('NW 85TH ST', 1),
 ('N 85TH ST', 1),
 ('NW 84TH ST', 1),
 ('N 84TH ST', 1),
 ('LOYAL WAY NW', 1),
 ('NW 83RD ST', 1),
 ('N 83RD ST', 1),
 ('20TH AVE NW', 1),
 ('N 82ND ST', 1),
 ('NW 82ND ST', 1),
 ('SEAVIEW AVE NW', 1),
 ('GREEN LAKE DR N', 1),
 ('NW 81ST ST', 1),
 ('N 81ST ST', 1),
 ('NW 80TH ST', 1),
 ('33RD AVE NW', 1),
 ('N 80TH ST', 1),
 ('CORLISS WAY N', 1),
 ('STROUD AVE N', 1),
 ('NE 80TH ST', 1),
 ('NW 79TH ST', 1),
 ('N 79TH ST', 1),
 ('NW 78TH ST', 1),
 ('34TH AVE NW', 1),
 ('NW 77TH ST', 1),
 ('N 78TH ST', 1),
 ('EAST GREEN LAKE DR N', 1),
 ('N 77TH ST', 1),
 ('WEST GREEN LAKE DR N', 1),
 ('WINONA AVE N', 1),
 ('NW 76TH ST', 1),
 ('N 76TH ST', 1),
 ('ORIN CT N', 1),
 ('NE LONGWOOD PL', 1),
 ('NW 75TH ST', 1),
 ('N 75TH ST', 1),
 ('NE 76TH ST', 1),
 ('NW 74TH ST', 1),
 ('NE 75TH ST', 1),
 ('KEEN WAY N', 1),
 ('N 74TH ST', 1),
 ('WOODLAWN AVE NE', 1),
 ('NE MAPLE LEAF PL', 1),
 ('NW 73RD ST', 1),
 ('N 73RD ST', 1),
 ('ALONZO AVE NW', 1),
 ('NE 74TH ST', 1),
 ('NW 72ND ST', 1),
 ('6TH AVE NE', 1),
 ('NE 73RD ST', 1),
 ('N 72ND ST', 1),
 ('35TH AVE NW', 1),
 ('NW 71ST ST', 1),
 ('SYCAMORE AVE NW', 1),
 ('NE 72ND ST', 1),
 ('NW CANOE PL', 1),
 ('N 71ST ST', 1),
 ('NW 70TH ST', 1),
 ('NE 71ST ST', 1),
 ('CLEOPATRA PL NW', 1),
 ('N 70TH ST', 1),
 ('NW SLOOP PL', 1),
 ('36TH AVE NW', 1),
 ('33RD PL NW', 1),
 ('NE 70TH ST', 1),
 ('NW 69TH ST', 1),
 ('FRANCIS AVE N', 1),
 ('NE RAVENNA BLVD', 1),
 ('STANTON PL NW', 1),
 ('NW 68TH ST', 1),
 ('N 68TH ST', 1),
 ('EAST GREEN LAKE WAY N', 1),
 ('WEEDIN PL NE', 1),
 ('NE 69TH ST', 1),
 ('35TH PL NW', 1),
 ('NW 67TH ST', 1),
 ('37TH AVE NW', 1),
 ('DIVISION AVE NW', 1),
 ('N 67TH ST', 1),
 ('NE 68TH ST', 1),
 ('OSWEGO PL NE', 1),
 ('NW 66TH ST', 1),
 ('N 66TH ST', 1),
 ('NW 65TH CT', 1),
 ('NW 65TH ST', 1),
 ('PARKER CT NW', 1),
 ('N 65TH ST', 1),
 ('WOODLAND PL N', 1),
 ('NW 64TH ST', 1),
 ('CHAPIN PL N', 1),
 ('NE 65TH ST', 1),
 ('N 64TH ST', 1),
 ('NW 63RD ST', 1),
 ('NE 64TH ST', 1),
 ('NW 62ND ST', 1),
 ('N 63RD ST', 1),
 ('N 62ND ST', 1),
 ('WEST GREEN LAKE WAY N', 1),
 ('NE 63RD ST', 1),
 ('HILLMAN PL NE', 1),
 ('NW 61ST ST', 1),
 ('NE 62ND ST', 1),
 ('N 61ST ST', 1),
 ('38TH AVE NW', 1),
 ('NW 60TH ST', 1),
 ('KIRKWOOD PL N', 1),
 ('NW BRYGGER PL', 1),
 ('N 60TH ST', 1),
 ('NE 61ST ST', 1),
 ('WHITMAN PL N', 1),
 ('NW 59TH ST', 1),
 ('MCKINLEY PL N', 1),
 ('NE 60TH ST', 1),
 ('N 59TH ST', 1),
 ('NW 58TH ST', 1),
 ('KENWOOD PL N', 1),
 ('KENSINGTON PL N', 1),
 ('N 58TH ST', 1),
 ('NE 59TH ST', 1),
 ('37TH PL NW', 1),
 ('NW 57TH ST', 1),
 ('WOODLAND PARK LOOP', 1),
 ('N 57TH ST', 1),
 ('NE 58TH ST', 1),
 ('KEYSTONE PL N', 1),
 ('NW 56TH ST', 1),
 ('PALATINE PL N', 1),
 ('N 56TH ST', 1),
 ('NE 57TH ST', 1),
 ('NW MARKET ST', 1),
 ('N ARGYLE PL', 1),
 ('NE 56TH ST', 1),
 ('NW 55TH ST', 1),
 ('NW 55TH PL', 1),
 ('N 55TH ST', 1),
 ('CANFIELD PL N', 1),
 ('NW 54TH ST', 1),
 ('NW LOCKS PL', 1),
 ('GREEN LAKE WAY N', 1),
 ('NE 55TH ST', 1),
 ('N CLOGSTON WAY', 1),
 ('RUSSELL AVE NW', 1),
 ('BAKER AVE NW', 1),
 ('BALLARD AVE NW', 1),
 ('N 54TH ST', 1),
 ('BARNES AVE NW', 1),
 ('TALLMAN AVE NW', 1),
 ('NW 53RD ST', 1),
 ('NE 54TH ST', 1),
 ('LEARY AVE NW', 1),
 ('NW CENTRAL PL', 1),
 ('N 53RD ST', 1),
 ('NW 52ND ST', 1),
 ('N 52ND ST', 1),
 ('SHILSHOLE AVE NW', 1),
 ('NW IONE PL', 1),
 ('NW VERNON PL', 1),
 ('NE 53RD ST', 1),
 ('PALMER DR NW', 1),
 ('PALMER CT NW', 1),
 ('NE 52ND ST', 1),
 ('NW 51ST ST', 1),
 ('N 51ST ST', 1),
 ('NW DOCK PL', 1),
 ('NW 50TH ST', 1),
 ('NE 51ST ST', 1),
 ('N 50TH ST', 1),
 ('NW 49TH ST', 1),
 ('NE 50TH ST', 1),
 ('N 49TH ST', 1),
 ('NW 48TH ST', 1),
 ('WOODLAND PARK AVE N', 1),
 ('STONE WAY N', 1),
 ('NW LEARY WAY', 1),
 ('N 48TH ST', 1),
 ('NW 47TH ST', 1),
 ('NW BALLARD WAY', 1),
 ('N 47TH ST', 1),
 ('LEARY WAY NW', 1),
 ('THACKERAY PL NE', 1),
 ('NE 47TH ST', 1),
 ('N MARKET ST', 1),
 ('NW 46TH ST', 1),
 ('N 46TH ST', 1),
 ('EASTERN AVE N', 1),
 ('NE 46TH ST', 1),
 ('NW 45TH ST', 1),
 ('N MIDVALE PL', 1),
 ('N 45TH ST', 1),
 ('N PHINNEY WAY', 1),
 ('NE 45TH ST', 1),
 ('NW 44TH ST', 1),
 ('BALLARD BR NW', 1),
 ('WOODLAWN PL N', 1),
 ('N ALLEN PL', 1),
 ('WINSLOW PL N', 1),
 ('N 44TH ST', 1),
 ('NW BRIGHT ST', 1),
 ('NE 44TH ST', 1),
 ('N 43RD ST', 1),
 ('NW 43RD ST', 1),
 ('NW FERN PL', 1),
 ('NE 43RD ST', 1),
 ('N MOTOR PL', 1),
 ('N MENFORD PL', 1),
 ('NW 42ND ST', 1),
 ('N 42ND ST', 1),
 ('NE 42ND ST', 1),
 ('NW 41ST ST', 1),
 ('N 41ST ST', 1),
 ('NW 40TH ST', 1),
 ('N LUCAS PL', 1),
 ('N 40TH ST', 1),
 ('NE 40TH ST', 1),
 ('NW BOWDOIN PL', 1),
 ('N DOROTHY PL', 1),
 ('N BOWDOIN PL', 1),
 ('NE PACIFIC ST', 1),
 ('NW 39TH ST', 1),
 ('N 39TH ST', 1),
 ('BRIDGE WAY N', 1),
 ('FREMONT LN N', 1),
 ('NE NORTHLAKE WAY', 1),
 ('NW 36TH ST', 1),
 ('FREMONT WAY N', 1),
 ('CARR PL N', 1),
 ('N 38TH CT', 1),
 ('N 38TH ST', 1),
 ('N 36TH ST', 1),
 ('ALBION PL N', 1),
 ('NW CANAL ST', 1),
 ('N PACIFIC ST', 1),
 ('N 37TH ST', 1),
 ('N 35TH ST', 1),
 ('FREMONT PL N', 1),
 ('N CANAL ST', 1),
 ('N NORTHLAKE WAY', 1),
 ('N 34TH ST', 1),
 ('AURORA BR N', 1),
 ('FREMONT BR CNTR', 1),
 ('N NORTHLAKE PL', 1),
 ('NE 84TH ST', 1),
 ('NE 83RD ST', 1),
 ('NE 82ND ST', 1),
 ('NE ELK PL', 1),
 ('BANNER WAY NE', 1),
 ('22ND PL NE', 1),
 ('NE 81ST ST', 1),
 ('NE 81ST PL', 1),
 ('23RD CT NE', 1),
 ('BROOKLYN AVE NE', 1),
 ('NE 79TH ST', 1),
 ('NE 78TH ST', 1),
 ('NE BANNER PL', 1),
 ('NE 74TH PL', 1),
 ('52ND AVE NE', 1),
 ('NE 73RD PL', 1),
 ('47TH AVE NE', 1),
 ('50TH AVE NE', 1),
 ('20TH PL NE', 1),
 ('NE 67TH ST', 1),
 ('NE PARK POINT DR', 1),
 ('NE 66TH ST', 1),
 ('PARK POINT WAY NE', 1),
 ('PARK POINT LN NE', 1),
 ('NE PARK POINT PL', 1),
 ('NE PRINCETON WAY', 1),
 ('NE RADFORD DR', 1),
 ('NE NAOMI PL', 1),
 ('60TH AVE NE', 1),
 ('RAVENNA BV WB ACCESS RD NE', 1),
 ('VASSAR AVE NE', 1),
 ('PRINCETON AVE NE', 1),
 ('ANN ARBOR AVE NE', 1),
 ('WELLESLEY WAY NE', 1),
 ('NE WINDERMERE RD', 1),
 ('65TH AVE NE', 1),
 ('OBERLIN AVE NE', 1),
 ('COWEN PL NE', 1),
 ('63RD AVE NE', 1),
 ('TWIN MAPLE LN NE', 1),
 ('UNIVERSITY WAY NE', 1),
 ('59TH AVE NE', 1),
 ('STANFORD AVE NE', 1),
 ('PARK RD NE', 1),
 ('NE PARK RD', 1),
 ('PURDUE AVE NE', 1),
 ('61ST AVE NE', 1),
 ('64TH AVE NE', 1),
 ('CONISTON RD NE', 1),
 ('NE 55TH PL', 1),
 ('NE TULANE PL', 1),
 ('PULLMAN AVE NE', 1),
 ('NE KELDEN PL', 1),
 ('IVANHOE PL NE', 1),
 ('NE KESWICK DR', 1),
 ('RAVENNA PL NE', 1),
 ('ELLERAY LN NE', 1),
 ('MITHUN PL NE', 1),
 ('NE 52ND PL', 1),
 ('NE BLAKELEY ST', 1),
 ('SAND POINT PL NE', 1),
 ('NE PENRITH RD', 1),
 ('NE AMBLESIDE RD', 1),
 ('KENILWORTH PL NE', 1),
 ('NICKLAS PL NE', 1),
 ('HAROLD PL NE', 1),
 ('NE 49TH ST', 1),
 ('NE 48TH ST', 1),
 ('UNIVERSITY VIEW PL NE', 1),
 ('TERRACE DR NE', 1),
 ('NE UNIVERSITY VILLAGE ST', 1),
 ('NE 45TH PL', 1),
 ('UNION BAY PL NE', 1),
 ('EAST LAUREL DR NE', 1),
 ('PEND OREILLE PL NE', 1),
 ('WEST LAUREL DR NE', 1),
 ('MONTLAKE BLVD NE', 1),
 ('PEND OREILLE RD NE', 1),
 ('MARY GATES MEMORIAL DR NE', 1),
 ('MEMORIAL WAY NE', 1),
 ('NE STEVENS WAY', 1),
 ('EAST STEVENS WAY NE', 1),
 ('KLICKITAT LN NE', 1),
 ('LITTLE CANOE CHANNEL NE', 1),
 ('NE CLARK RD', 1),
 ('MASON RD NE', 1),
 ('NE 41ST ST', 1),
 ('PASADENA PL NE', 1),
 ('NE BELVOIR PL', 1),
 ('EASTLAKE AVE NE', 1),
 ('NE LATIMER PL', 1),
 ('NE 39TH ST', 1),
 ('SURBER DR NE', 1),
 ('48TH PL NE', 1),
 ('NE CAMPUS PKWY', 1),
 ('NE 38TH ST', 1),
 ('NE LAURELCREST LN', 1),
 ('CANAL RD NE', 1),
 ('NE SURBER DR', 1),
 ('UNIVERSITY BR NE', 1),
 ('NE LINCOLN WAY', 1),
 ('GEORGE WASHINGTON LN NE', 1),
 ('WEST STEVENS WAY NE', 1),
 ('NE NORTHLAKE PL', 1),
 ('NE COWLITZ RD', 1),
 ('ADAMS LN NE', 1),
 ('COWLITZ RD NE', 1),
 ('47TH PL NE', 1),
 ('NE 36TH ST', 1),
 ('WEST LAURELHURST DR NE', 1),
 ('NE BOAT ST', 1),
 ('NE 35TH ST', 1),
 ('WALLA WALLA RD NE', 1),
 ('EAST LAURELHURST DR NE', 1),
 ('JEFFERSON RD NE', 1),
 ('NE 33RD ST', 1),
 ('NE MASON RD', 1),
 ('WEBSTER POINT RD NE', 1),
 ('MONTLAKE BR', 1),
 ('UNIVERSITY CIR NE', 1),
 ('NE WAHKIAKUM RD', 1),
 ('NE SNOHOMISH LN', 1),
 ('NE COLUMBIA RD', 1),
 ('SAN JUAN RD NE', 1),
 ('NE SAN JUAN RD', 1),
 ('W HOOKER ST', 1),
 ('43RD AVE W', 1),
 ('W SHERIDAN ST', 1),
 ('45TH AVE W', 1),
 ('40TH AVE W', 1),
 ('39TH AVE W', 1),
 ('47TH AVE W', 1),
 ('W CRAMER ST', 1),
 ('LAWTONWOOD RD', 1),
 ('BERNIE WHITEBEAR WAY', 1),
 ('BAY TERRACE RD W', 1),
 ('W LAWTON ST', 1),
 ('TEXAS WAY', 1),
 ('ILLINOIS AVE W', 1),
 ('W COMMODORE WAY', 1),
 ('36TH AVE W', 1),
 ('GILMAN AVE W', 1),
 ('33RD AVE W', 1),
 ('W HARLEY ST', 1),
 ('LAWTON LN W', 1),
 ('GAY AVE W', 1),
 ('32ND AVE W', 1),
 ('34TH AVE W', 1),
 ('31ST AVE W', 1),
 ('35TH AVE W', 1),
 ('W MCCORD PL', 1),
 ('27TH AVE W', 1),
 ('W FORT ST', 1),
 ('W GOVERNMENT WAY', 1),
 ('30TH AVE W', 1),
 ('DISCOVERY PARK BLVD W', 1),
 ('IDAHO AVE W', 1),
 ('KANSAS AVE W', 1),
 ('MONTANA CIR W', 1),
 ('WEST POINT AVE W', 1),
 ('NEBRASKA ST W', 1),
 ('WASHINGTON AVE', 1),
 ('BRYGGER DR W', 1),
 ('W OHMAN PL', 1),
 ('OREGON AVE W', 1),
 ('W JAMESON ST', 1),
 ('29TH AVE W', 1),
 ('CALIFORNIA AVE W', 1),
 ('26TH AVE W', 1),
 ('GILMAN PL W', 1),
 ('28TH PL W', 1),
 ('WILLIAMS AVE W', 1),
 ('28TH AVE W', 1),
 ('24TH AVE W', 1),
 ('23RD AVE W', 1),
 ('W MANSELL ST', 1),
 ('WASHINGTON AVE W', 1),
 ('W ELMORE ST', 1),
 ('22ND AVE W', 1),
 ('21ST AVE W', 1),
 ('W ELMORE PL', 1),
 ('IOWA ST', 1),
 ('25TH AVE W', 1),
 ('BURTON PL W', 1),
 ('W EMERSON PL', 1),
 ('W THURMAN ST', 1),
 ('W EWING ST', 1),
 ('20TH AVE W', 1),
 ('W EWING PL', 1),
 ('W NICKERSON ST', 1),
 ('18TH AVE W', 1),
 ('16TH AVE W', 1),
 ('15TH PL W', 1),
 ('CAROLINA ST W', 1),
 ('11TH AVE W', 1),
 ('W EMERSON ST', 1),
 ('19TH AVE W', 1),
 ('15TH AVE W', 1),
 ('PERKINS LN W', 1),
 ('14TH AVE W', 1),
 ('13TH AVE W', 1),
 ('NICKERSON TURN RD W', 1),
 ('12TH AVE W', 1),
 ('MAGNOLIA BLVD W', 1),
 ('W TILDEN ST', 1),
 ('W MANOR PL', 1),
 ('25TH PL W', 1),
 ('W ROBERTS WAY', 1),
 ('26TH PL W', 1),
 ('27TH PL W', 1),
 ('W RUFFNER ST', 1),
 ('24TH PL W', 1),
 ('ARAPAHOE PL W', 1),
 ('41ST AVE W', 1),
 ('38TH AVE W', 1),
 ('37TH AVE W', 1),
 ('JESSE AVE W', 1),
 ('WEST VIEWMONT WAY W', 1),
 ('W MCLAREN ST', 1),
 ('THORNDYKE AVE W', 1),
 ('8TH AVE W', 1),
 ('3RD AVE W', 1),
 ('W GROVER ST', 1),
 ('6TH AVE W', 1),
 ('W BERTONA ST', 1),
 ('SOUND VIEW DR W', 1),
 ('42ND AVE W', 1),
 ('9TH AVE W', 1),
 ('10TH AVE W', 1),
 ('W ARGAND ST', 1),
 ('W PROSPER ST', 1),
 ('W CREMONA ST', 1),
 ('IRONDALE AVE W', 1),
 ('7TH AVE W', 1),
 ('QUEEN ANNE AVE N', 1),
 ('NICKERSON ST CNTR', 1),
 ('CREMONA ST CNTR', 1),
 ('5TH AVE W', 1),
 ('W DRAVUS ST', 1),
 ('44TH AVE W', 1),
 ('WHALLEY PL W', 1),
 ('E ALLISON ST', 1),
 ('17TH AVE W', 1),
 ('FAIRVIEW AVE E', 1),
 ('DRAVUS ST CNTR', 1),
 ('CONKLING PL W', 1),
 ('EASTLAKE AVE E', 1),
 ('4TH AVE W', 1),
 ('W BARRETT ST', 1),
 ('W ETRURIA ST', 1),
 ('WARREN AVE N', 1),
 ('ETRURIA ST CNTR', 1),
 ('W BARRETT LN', 1),
 ('W FLORENTIA PL', 1),
 ('HUMES PL W', 1),
 ('W FLORENTIA ST', 1),

In [15]:
# the number of unique streets
st_name_type_df.shape

(2457, 5)

In [16]:
st_name_type_df = st_name_type_df.sort_values(by = ['ord_street_name', 'ord_street_type', 'ord_stname_concat'])

In [17]:
st_name_type_df.head(n=10)

,ord_street_name,ord_street_type,ord_stname_concat,ord_stname_unique,city_sector
1013,100TH,PL,NW 100TH PL,NW 100TH PL,NW
25614,100TH,PL,SW 100TH PL,SW 100TH PL,SW
1101,100TH,ST,N 100TH ST,N 100TH ST,N
2842,100TH,ST,NE 100TH ST,NE 100TH ST,NE
1055,100TH,ST,NW 100TH ST,NW 100TH ST,NW
22712,100TH,ST,S 100TH ST,S 100TH ST,S
21026,100TH,ST,SW 100TH ST,SW 100TH ST,SW
25612,101ST,PL,SW 101ST PL,SW 101ST PL,SW
1040,101ST,ST,N 101ST ST,N 101ST ST,N
1030,101ST,ST,NW 101ST ST,NW 101ST ST,NW

In [18]:
# make some ids - ord_street_name
osn_df = st_name_type_df['ord_street_name'].drop_duplicates().to_frame().sort_values(by = 'ord_street_name').reset_index(drop = True)
osn_df['osn_id'] = range(0, osn_df.shape[0])
osn_df.head()

  ord_street_name  osn_id
0           100TH       0
1           101ST       1
2           102ND       2
3           103RD       3
4           104TH       4

In [19]:
# ord_street_name and ord_street_type
col_names = ['ord_street_name', 'ord_street_type']
osn_ost_df = st_name_type_df[col_names].drop_duplicates().sort_values(by = col_names).reset_index(drop = True)
osn_ost_df['osn_ost'] = osn_ost_df['ord_street_name'] + ' ' + osn_ost_df['ord_street_type']
osn_ost_df['osn_ost_id'] = range(0, osn_ost_df.shape[0])
osn_ost_df.head()

  ord_street_name ord_street_type   osn_ost  osn_ost_id
0           100TH              PL  100TH PL           0
1           100TH              ST  100TH ST           1
2           101ST              PL  101ST PL           2
3           101ST              ST  101ST ST           3
4           102ND              LN  102ND LN           4

In [20]:
# ord_stname_concat
ostc_df = st_name_type_df['ord_stname_concat'].drop_duplicates().to_frame().sort_values(by = 'ord_stname_concat').reset_index(drop = True)
ostc_df['ostc_id'] = range(0, ostc_df.shape[0])
ostc_df.head()

  ord_stname_concat  ostc_id
0          10TH AVE        0
1        10TH AVE E        1
2       10TH AVE NE        2
3       10TH AVE NW        3
4        10TH AVE S        4

In [21]:
# ord_stname_unique 
ostu_df = st_name_type_df['ord_stname_unique'].drop_duplicates().to_frame().sort_values(by = 'ord_stname_unique').reset_index(drop = True)
ostu_df['ostu_id'] = range(0, ostu_df.shape[0])
ostu_df.head()

  ord_stname_unique  ostu_id
0     10TH AVE CNTR        0
1        10TH AVE E        1
2       10TH AVE NE        2
3       10TH AVE NW        3
4        10TH AVE S        4

In [22]:
# join to get the id values
st_name_type_df = pd.merge(left = st_name_type_df, right = osn_df)
st_name_type_df = pd.merge(left = st_name_type_df, right = osn_ost_df)
st_name_type_df = pd.merge(left = st_name_type_df, right = ostc_df)
st_name_type_df = pd.merge(left = st_name_type_df, right = ostu_df)

In [23]:
st_name_type_df.shape

(2457, 10)

In [24]:
st_name_type_df.head()

,ord_street_name,ord_street_type,ord_stname_concat,ord_stname_unique,city_sector,osn_id,osn_ost,osn_ost_id,ostc_id,ostu_id
0,100TH,PL,NW 100TH PL,NW 100TH PL,NW,0,100TH PL,0,1450,1451
1,100TH,PL,SW 100TH PL,SW 100TH PL,SW,0,100TH PL,0,2041,2042
2,100TH,ST,N 100TH ST,N 100TH ST,N,0,100TH ST,1,1127,1128
3,100TH,ST,NE 100TH ST,NE 100TH ST,NE,0,100TH ST,1,1253,1254
4,100TH,ST,NW 100TH ST,NW 100TH ST,NW,0,100TH ST,1,1451,1452

In [25]:
st_name_type_df['ord_street_type'].unique()

array(['PL', 'ST', 'LN', 'WAY', 'AVE', 'CT', 'RD', 'BR', 'TER', 'CIR',
       'DR', 'PKWY', 'BLVD', 'PZ', 'VIEW', 'LOOP'], dtype=object)

In [26]:
st_name_type_df['city_sector'].unique()

array(['NW', 'SW', 'N', 'NE', 'S', 'CNTR', 'E', 'W'], dtype=object)

In [27]:
check = st_name_type_df.loc[st_name_type_df['city_sector'] == 'WB', ]

In [28]:
check.head()

Empty DataFrame
Columns: [ord_street_name, ord_street_type, ord_stname_concat, ord_stname_unique, city_sector, osn_id, osn_ost, osn_ost_id, ostc_id, ostu_id]
Index: []

In [29]:
# let's connect the ord_street_name and the ord_street_type
st_name_type_df['osn_ost'].unique().shape

(1631,)

In [30]:
# LET'S COUNT HOW MANY STREETS WE NEED TO PLOT AND MANUALLY REVIEW

In [31]:
st_name_type_df['n_roads'] = int(1)

In [32]:
st_name_type_df.columns

Index(['ord_street_name', 'ord_street_type', 'ord_stname_concat',
       'ord_stname_unique', 'city_sector', 'osn_id', 'osn_ost', 'osn_ost_id',
       'ostc_id', 'ostu_id', 'n_roads'],
      dtype='object')

In [33]:
pv_df = pd.pivot_table(data = st_name_type_df, values = ['n_roads'],
                          index = ['ord_street_name', 'ord_street_type'],
                          columns = ['city_sector'], aggfunc='sum', fill_value=0,
                          margins=True)

In [34]:
pv_df.head()

                                n_roads
city_sector                        CNTR  E  N NE NW  S SW  W All
ord_street_name ord_street_type
100TH           PL                    0  0  0  0  1  0  1  0   2
                ST                    0  0  1  1  1  1  1  0   5
101ST           PL                    0  0  0  0  0  0  1  0   1
                ST                    0  0  1  0  1  1  1  0   4
102ND           LN                    0  0  0  0  0  0  1  0   1

In [35]:
# clean up column names
pv_df.columns = [cn[1] for cn in pv_df.columns]

In [36]:
pv_df.columns

Index(['CNTR', 'E', 'N', 'NE', 'NW', 'S', 'SW', 'W', 'All'], dtype='object')

In [37]:
pv_df = pv_df.reset_index()

In [38]:
pv_df.tail()

,ord_street_name,ord_street_type,CNTR,E,N,NE,NW,S,SW,W,All
1627,YESLER,WAY,1,1,0,0,0,0,0,0,2
1628,YESLER TERRACE ACC,RD,0,0,0,0,0,1,0,0,1
1629,YORK,RD,0,0,0,0,0,1,0,0,1
1630,YUKON,AVE,0,0,0,0,0,1,0,0,1
1631,All,,170,188,236,386,244,621,390,222,2457

In [39]:
pv_df.shape

(1632, 11)

In [40]:
# grouping by ord_street_name and ord_street_type tells us the number of streets
# there are across the city sectors
# we only need to worry about streets that span at least two sectors
osn_count_df = pv_df.loc[(pv_df['All'] >= 2), :].copy()

In [41]:
# drop the All row
osn_count_df = osn_count_df.loc[osn_count_df['ord_street_name'] != 'All', :]

In [42]:
osn_count_df.head()

  ord_street_name ord_street_type  CNTR  E  N  NE  NW  S  SW  W  All
0           100TH              PL     0  0  0   0   1  0   1  0    2
1           100TH              ST     0  0  1   1   1  1   1  0    5
3           101ST              ST     0  0  1   0   1  1   1  0    4
5           102ND              ST     0  0  1   1   0  1   1  0    4
6           103RD              PL     0  0  0   1   0  0   1  0    2

In [43]:
# melt, to reshape
osnt_df = pd.melt(frame = osn_count_df, id_vars = ['ord_street_name', 'ord_street_type'],var_name='city_sector', value_name = 'n_roads')

In [44]:
# drop zero records
osnt_df = osnt_df.loc[(osnt_df['n_roads'] > 0), :].copy()

In [45]:
osnt_df.head()

   ord_street_name ord_street_type city_sector  n_roads
14            10TH             AVE        CNTR        1
30            11TH             AVE        CNTR        1
42            12TH             AVE        CNTR        1
55            13TH             AVE        CNTR        1
61            14TH             AVE        CNTR        1

In [46]:
# the osnt_df is effectively the same shape as the input gdf, but by pivoting we
# can very easily count the number of roads that span multiple sectors by using
# built-in tools.

In [47]:
osnt_df = osnt_df.loc[(osnt_df['city_sector'] != 'All'), :].copy()

In [48]:
# sort it...
osnt_df = osnt_df.sort_values(by = ['ord_street_name', 'ord_street_type', 'city_sector'])

In [49]:
# we don't need this column
osnt_df = osnt_df.drop(labels = ['n_roads'], axis = 1)

In [50]:
osnt_df.head()

     ord_street_name ord_street_type city_sector
1644           100TH              PL          NW
2466           100TH              PL          SW
823            100TH              ST           N
1234           100TH              ST          NE
1645           100TH              ST          NW

In [51]:
# get the numeric value of the streets, for the sort order...
osnt_df['sort_order'] = osnt_df['ord_street_name'].map(get_sort_order)

In [52]:
osnt_df.head()

     ord_street_name ord_street_type city_sector sort_order
1644           100TH              PL          NW        100
2466           100TH              PL          SW        100
823            100TH              ST           N        100
1234           100TH              ST          NE        100
1645           100TH              ST          NW        100

In [53]:
# reorder
col_names = ['sort_order', 'ord_street_name', 'ord_street_type', 'city_sector']
osnt_df = osnt_df[col_names].sort_values(by = col_names[:4])

In [54]:
# set an index - this is helpful for when we write this to excel 
# easier to read for manual review
osnt_df = osnt_df.set_index(keys = col_names[:4])

In [55]:
osnt_df.head()

Empty DataFrame
Columns: []
Index: [(001, 1ST, AVE, CNTR), (001, 1ST, AVE, N), (001, 1ST, AVE, NE), (001, 1ST, AVE, NW), (001, 1ST, AVE, S)]

In [56]:
osnt_df.shape

(1217, 0)

In [57]:
osnt_df.columns

Index([], dtype='object')

In [58]:
# save it to excel
ofpn = os.path.join(rc.ANALYSIS_OUTPUT_FILE_PATH, rc.S07_STREET_GROUP_OUT_FILE_NAME)
osnt_df.to_excel(excel_writer=ofpn)

# make a simple plot of each street.

In [59]:
# each plot will feature the city sector boundaries as created by the convex-hull 
# in step 2 and the different road segments for each street.

In [60]:
# use the same colors for each city sector
cdm = {}
dir_list = ['CNTR', 'E', 'N', 'NE', 'NW', 'S', 'SW', 'W']
for idir, dir_value in enumerate(dir_list):
    cdm[dir_value] = mpl.colormaps["Dark2"].colors[idir]

my_cmap = mpl.colors.ListedColormap([cdm[c] for c in dir_list])

In [61]:
# plot bounds to use across each plot
bounds = [-122.4197794277490061,47.4803548409661005, -122.2200188105690017,47.7341482423694004]

In [62]:
# load the boundaries of the city sectors
ifpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S02_CITY_SECTORS_OUT_FILE_NAME)
cs_gdf = gpd.read_file(filename=ifpn)

In [63]:
osnt_df = osnt_df.reset_index()

In [64]:
osnt_df.head()

  sort_order ord_street_name ord_street_type city_sector
0        001             1ST             AVE        CNTR
1        001             1ST             AVE           N
2        001             1ST             AVE          NE
3        001             1ST             AVE          NW
4        001             1ST             AVE           S

In [65]:
osn_ost_df.shape

(1631, 4)

In [66]:
wosnt_df = osnt_df[['ord_street_name', 'ord_street_type']].drop_duplicates()

In [67]:
wosnt_df.shape

(411, 2)

In [68]:
t_wosnt_df = wosnt_df.iloc[1:10]

In [69]:
t_wosnt_df.head()

   ord_street_name ord_street_type
7              2ND             AVE
14             3RD             AVE
21             3RD              PL
23             4TH             AVE
30             4TH              PL

In [70]:
wosnt_df.shape

(411, 2)

In [71]:
make_plots = False
output_file_name_list = []
if make_plots:
    for irow, row in wosnt_df.iterrows():
        osn = row['ord_street_name']
        ost = row['ord_street_type']


        output_file_name = f"{osn}_{ost}.png"
        ofpn = os.path.join(rc.S06_PLOT_OUTPUT_FILE_PATH, output_file_name)
        print(ofpn)
        output_file_name_list.append(output_file_name)

        # now, let's make a map...
        wgdf = gdf.loc[(gdf['ord_street_name'] == osn) &
                    (gdf['ord_street_type'] == ost), :]
        to_draw = wgdf[['city_sector', 'geometry']].dissolve(by = 'city_sector', as_index = False)
        to_draw['coords'] = to_draw['geometry'].map(lambda x: x.centroid.coords[0])
        fig = plt.figure(layout = 'constrained', figsize = (5, 10))
        gs = GridSpec(1,1, figure = fig, height_ratios = [1])
        ax1 = fig.add_subplot(gs[0,0])
        ax1.set_xlim(bounds[0], bounds[2])
        ax1.set_ylim(bounds[1], bounds[3])
        cs_gdf.plot(ax = ax1, column = 'city_sector', alpha = .2)
        to_draw.plot(ax = ax1, column = 'city_sector', cmap = my_cmap,  linewidth = 5, legend = True)

        for irrow, row in to_draw.iterrows():    
            ax1.annotate(text=row['city_sector'], xy=row['coords'], fontsize = 16 )

        ax1.set_axis_off()

        osn = wgdf['ord_street_name'].unique().tolist()[0]
        ost = wgdf['ord_street_type'].unique().tolist()[0]
        my_title = f"Street Name: {osn} {ost}"
        plt.title(label = my_title)

        #plt.show()

        fig.savefig(fname = ofpn)
        plt.close()

# manually review each plot to identify the groups within each street

In general, avenues run north-south and streets run east-west. 
Avenues can be grouped by:
* NE, E, CNTR, S  
* N, CNTR, S
* NW, W, SW

Streets can be be grouped by:
* NW, N, NE
* W, N, CNTR, E
* SW, S

# BONUS: is every state name represented as a street?

In [72]:
fpn = os.path.join(rc.INPUT_FILE_PATH, 'state_name.csv')

In [73]:
state_df = pd.read_csv(filepath_or_buffer=fpn)

In [74]:
state_df.head()

         Name
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [75]:
# build a set of the state names after cleaning and converting to lower case
state_name_set =  set([sn.strip().lower() for sn in state_df['Name']])

In [76]:
len(state_name_set)

51

In [77]:
# do the same for the street name after dropping the streets that start with a number.
street_name_set = set(gdf.loc[-gdf['ord_street_name'].str[0].isin(list('0123456789')), 'ord_street_name'].str.lower().unique().tolist())

In [78]:
len(street_name_set)

1040

In [79]:
test_intersection = state_name_set.intersection(street_name_set)

In [80]:
len(test_intersection)

20

In [81]:
# so, 20 states are represented...

In [82]:
test_intersection

{'alaska',
 'california',
 'colorado',
 'florida',
 'idaho',
 'illinois',
 'iowa',
 'kansas',
 'maryland',
 'massachusetts',
 'michigan',
 'montana',
 'nebraska',
 'nevada',
 'ohio',
 'oregon',
 'texas',
 'utah',
 'virginia',
 'washington'}

In [83]:
# what's not represented?
state_name_set.difference(street_name_set)

{'alabama',
 'arizona',
 'arkansas',
 'connecticut',
 'delaware',
 'district of columbia',
 'georgia',
 'hawaii',
 'indiana',
 'kentucky',
 'louisiana',
 'maine',
 'minnesota',
 'mississippi',
 'missouri',
 'new hampshire',
 'new jersey',
 'new mexico',
 'new york',
 'north carolina',
 'north dakota',
 'oklahoma',
 'pennsylvania',
 'rhode island',
 'south carolina',
 'south dakota',
 'tennessee',
 'vermont',
 'west virginia',
 'wisconsin',
 'wyoming'}

In [84]:
# what about states with directions in the name and DC?

In [85]:
'dakota' in street_name_set

True

In [86]:
'columbia' in street_name_set

True

In [87]:
'virginia' in street_name_set

True

In [88]:
'carolina' in street_name_set

True

In [89]:
# if we count Dakota as ND and SD
# columbia as Washington DC
# Virginia as both VA and West Virginia
# Carolina as both NC and SC
# that brings us to: 26. 
# so, over half. That's kind of cool.