# Part 04: Find the discontinuities in Seattle's streets
michael babb  
2025 02 18

In [1]:
# standard
import os

In [2]:
# external
import geopandas as gpd
import networkx as nx
import numpy as np
import pandas as pd
from shapely.geometry import LineString, Point

In [3]:
# custom
import run_constants as rc
from utils import *
from geo_data_io.df_operations import get_a_set, hey_what_is_na, split_col_values
from geo_data_io.fc_df_spatial import write_gdf
from geo_data_io.geo_operations import points2distance

# load the working seattle street network data

In [4]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S04_SND_WORKING_IN_FILE_NAME)

In [5]:
gdf = gpd.read_file(filename = fpn)

In [6]:
gdf.shape

(25771, 44)

# load the node data

In [7]:
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S04_NODE_IN_FILE_NAME)

In [8]:
node_gdf = gpd.read_file(filename = fpn)

In [9]:
node_gdf.head()

   node_id                     geometry
0    17740  POINT (-122.32287 47.52982)
1    11391  POINT (-122.32402 47.61849)
2      982   POINT (-122.29193 47.7649)
3    11695  POINT (-122.30782 47.61411)
4     6257  POINT (-122.38214 47.67456)

In [10]:
node_gdf['node_id'] = node_gdf['node_id'].astype(int)

In [11]:
node_gdf['coords'] = node_gdf['geometry'].map(lambda x: x.coords[0])

In [12]:
node_gdf.head()

,node_id,geometry,coords
0,17740,POINT (-122.32287 47.52982),"(-122.32287444824671, 47.529819957875)"
1,11391,POINT (-122.32402 47.61849),"(-122.32401964037119, 47.61848906651073)"
2,982,POINT (-122.29193 47.7649),"(-122.29192836110747, 47.764904310419276)"
3,11695,POINT (-122.30782 47.61411),"(-122.30781531879083, 47.61410595110372)"
4,6257,POINT (-122.38214 47.67456),"(-122.38214200036303, 47.67455801597557)"

In [13]:
node_gdf.dtypes

node_id        int64
geometry    geometry
coords        object
dtype: object

In [14]:
# zap the node id and the coords into a dictionary
node_dict = {}
for i, row in node_gdf.iterrows():
    node_dict[row['node_id']] = row['coords']

# find missing segments

In [15]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'citycode',
       'stname_id', 'st_code', 'arterial_code', 'segment_type', 'agency_code',
       'access_code', 'divided_code', 'structure_type', 'legalloc_code',
       'vehicle_use_code', 'gis_seg_length', 'l_adrs_from', 'l_adrs_to',
       'r_adrs_from', 'r_adrs_to', 'ord_pre_dir', 'ord_street_name',
       'ord_street_type', 'ord_suf_dir', 'ord_stname_concat', 'l_city',
       'l_state', 'l_zip', 'r_city', 'r_state', 'r_zip', 'sndseg_update',
       'compkey', 'comptype', 'unitid', 'unitid2', 'city_sector',
       'ord_stname_unique', 'group_id', 'sort_order', 'ord_stname_type',
       'city_sector_group', 'ord_stname_type_group', 'geometry'],
      dtype='object')

In [16]:
# create a weight variable from the gis_segment_length variable
gdf['weight'] = gdf['gis_seg_length']

In [17]:
# only select column names used in subsequent steps
col_names = ['f_intr_id',
't_intr_id',
'snd_id',
'snd_feacode',
'gis_seg_length',
'ord_street_name',
'ord_street_type',
'ord_stname_type',
'ord_stname_concat',
'ord_stname_unique', 
'ord_stname_type_group',
'city_sector',
'city_sector_group',
'weight',
'group_id',
'sort_order',
'geometry']

In [18]:
gdf = gdf[col_names].copy()

In [19]:
# what's the current max snd ID?
gdf['snd_id'].max()

50338

In [20]:
# what's 2^16? start adding IDs at this value?
2**16

65536

In [21]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'gis_seg_length',
       'ord_street_name', 'ord_street_type', 'ord_stname_type',
       'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
       'city_sector', 'city_sector_group', 'weight', 'group_id', 'sort_order',
       'geometry'],
      dtype='object')

In [22]:
testo = gdf.loc[gdf['ord_street_name'] == 'NEBRASKA', :]

In [23]:
testo.head()

,f_intr_id,t_intr_id,snd_id,snd_feacode,gis_seg_length,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,city_sector,city_sector_group,weight,group_id,sort_order,geometry
21590,7667,7707,15592,1,150.029545,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,150.029545,1,NEBRASKA,"LINESTRING (-122.41747 47.66069, -122.41745 47..."
21591,7707,7745,15602,1,292.030442,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,292.030442,1,NEBRASKA,"LINESTRING (-122.41721 47.66034, -122.4161 47...."
21592,7777,7745,15617,1,236.185868,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,236.185868,1,NEBRASKA,"LINESTRING (-122.4152 47.65985, -122.4161 47.6..."
21593,16353,16302,32147,1,973.211903,NEBRASKA,ST,NEBRASKA ST,S NEBRASKA ST,S NEBRASKA ST,NEBRASKA ST W_S,S,W_S,973.211903,1,NEBRASKA,"LINESTRING (-122.32104 47.5489, -122.31899 47...."
21594,7707,7706,45368,0,16.710732,NEBRASKA,ST,NEBRASKA ST,NEBRASKA ST,NEBRASKA ST W,NEBRASKA ST W_S,W,W_S,16.710732,1,NEBRASKA,"LINESTRING (-122.41721 47.66034, -122.41715 47..."

In [24]:
'' in gdf['ord_stname_type_group'].unique().tolist()

False

In [25]:
testo = gdf.loc[gdf['ord_stname_type_group'].str.find('HOLMAN') > -1, :]

In [26]:
testo['ord_stname_type_group'].unique()

array(['HOLMAN RD N_NW'], dtype=object)

In [27]:
49727 in testo['snd_id'].tolist()

True

In [28]:
# here is where the discontinuities are identified and the "missing" segments are created.
# a full run, without saving intermediate data, takes less than a minute.
# saving intermediate data takes an additional ~5 minutes.

write_intermediate = False
use_v1 = False

# street_status
# 0: continuous street
# 1: discontinuous
# 2: added street: intra-connection
# 3: added street: inter-connection

# hold the output
output_gdf_list = []
shortest_added_path = []
gdf['snd_group'] = int(0)
snd_group_count = -1
# use this value to start the ID number for the added segements.
temp_snd_id = 2**16
# get the list of unique names
osntg_list = gdf['ord_stname_type_group'].unique().tolist()

# uncomment to test specifc street
#osntg_list = ['7TH AVE N', 'W GALER ST']
#osntg_list = ['GALER ST']
#osntg_list = ['15TH AVE W']
#osntg_list = ['WOODLAWN AVE N']
#osntg_list = ['92ND ST NW_N_NE']

#osntg_list = ['HOLMAN RD N_NW']

# the trouble_list, for lack of a better name, are streets with parallel edges
# we can record the names of these streets. 
trouble_list = []

for osntg in osntg_list[:None]:
    print(osntg)
    
    # subset the gdf by ord_stname_concat
    sub_gdf = gdf.loc[gdf['ord_stname_type_group'] == osntg, :].copy().reset_index(drop = True)
    unique_id_list = sub_gdf['group_id'].unique().tolist()
    
    for gi in unique_id_list:
        
        temp_gdf = sub_gdf.loc[sub_gdf['group_id'] == gi, :].copy()
        
        # create the graph for a single street.
        # For example, all streets named W GALER ST are a single graph.
        # this is an undirected graph.
        fg = nx.from_pandas_edgelist(df = temp_gdf, source = 'f_intr_id', target = 't_intr_id', edge_attr=True)
        
        if temp_gdf.shape[0] != fg.number_of_edges():
            trouble_list.append(osntg)              
            
            # subsequent steps need a single-edge graph. 
            # Parallel edges are not allowed. 
            # so, let's return the edges last added to the graph.
            mod_edge_list = []
            for ed in fg.edges.data():
                mod_edge_list.append(ed[2]['snd_id'])
            temp_gdf = temp_gdf.loc[temp_gdf['snd_id'].isin(mod_edge_list), :]
            
        # get the list of nodes in the graph.
        node_list = list(fg.nodes)
        
        # a list of the snd groups - this is necessary to match street segments to nodes
        # nx.connected_components() identifies disconnected graphs
        for cc in nx.connected_components(G = fg):
            # cc is the sub graph
            sub_graph = fg.subgraph(cc).copy()
            # this is the edge data        
            edge_data_list = sub_graph.edges.data()        
            # this marks the street(s) in each sub graph
            snd_id_list = []
            for edl in edge_data_list:                        
                snd_id_list.append(edl[2]['snd_id'])        
            snd_group_count += 1
            # this will update the gdf per street name with the groups of streets
            temp_gdf.loc[temp_gdf['snd_id'].isin(snd_id_list), 'snd_group'] = snd_group_count             
        
        # this is the number of unique snd_groups
        # also the number of discontinuities
        snd_group_id_list = temp_gdf['snd_group'].unique()    
        
        n_discontinuities = len(snd_group_id_list)    
        print(n_discontinuities)
        
        if n_discontinuities > 1:

            # process for the sub graphs
            node_snd_group_dict = {}
            # a node - an intersection - can have more than one street.
            # we need to update the node snd group dict for every street
            # identify each edge that each node is on
            for ir, row in temp_gdf.iterrows():       
                fn = row['f_intr_id']
                tn = row['t_intr_id']
                #osn = row['ord_street_name']
                #osnt = row['ord_stname_type']
                #osnu = row['ord_stname_concat']

                snd_group_id = row['snd_group']
                node_snd_group_dict[fn] = snd_group_id
                node_snd_group_dict[tn] = snd_group_id                                             
            
            # create a list of available edges - these are the missing segments
            # these are formed from the non-edges of the graph.        
            avail_edges = []

            # compute the degree centrality 
            node_centrality_dict = nx.degree_centrality(G = fg)

            # dictionary to hold available edges
            # let's only make the distance calculation once, yeah?
            # it's a simple calculation, but even more simple to store it. 
            node_dist_dict = {}
            # enumerate the non-edges
            non_edge_count = 0
            # the total number of non-edges
            diff_non_edge_count = 0
            # the number of non-edges that connect disconnected components
            for ne in nx.non_edges(graph = fg):    
                non_edge_count += 1
                # ne is a tuple of from / to nodes.
                # create available edges if the nodes are not on the same segment
                # this will decrease the potential solution space
                if node_snd_group_dict[ne[0]] != node_snd_group_dict[ne[1]]:
                    diff_non_edge_count += 1
                    # calculate the straight-line distance between two nodes. 
                    # convert to feet to match the existing distance / weight variable
                    weight = points2distance(node_dict[ne[0]], node_dict[ne[1]], unit = 'miles') * 5280
                    
                    # build the output tuple
                    if use_v1:
                        # this does not use node centrality
                        output = (ne[0], ne[1], {'weight':weight})
                    else:
                        # let's get the node centrality and use its inverse to 
                        # further weight distances                     
                        ne_0_nc = node_centrality_dict[ne[0]]
                        ne_1_nc = node_centrality_dict[ne[1]]
                        edge_weight = weight * (ne_0_nc * ne_1_nc)
                        output = (ne[0], ne[1], {'weight':edge_weight})                        
                    # add to the distance dict
                    node_dist_dict[(ne[0], ne[1])] = weight 
                    node_dist_dict[(ne[1], ne[0])] = weight 
                    avail_edges.append(output)

            # we just calculated all of the potential segments that span discontinuities
            # nx.k_edge_augmentation() creates the potential edges in a graph by adding as
            # few edges as possible. In a street network, with multiple disconnected
            # components, there is really one way to minimally connect the disparate components
            # to create full connectivity. And it's the shortest geographic segment in this case!
            # weighted graph traversal works by accumulating as little weight as possible. 
            
            # this will store the output
            data_list = []
            line_list = []
            # once nx.k_edge_augmentation() finishes, it returns a generator with the added edges that
            # ensure complete connectivity between all nodes.
            augmented_edges = nx.k_edge_augmentation(G = fg, k = 1, avail = avail_edges, weight = 'weight')    
            # enumerate the augmented edges
            for i_ae, ae in enumerate(augmented_edges):                
                # unpack
                # fn: from node, tn: to node
                fn, tn = ae            
                # get the weight / distance of the added edge
                weight = node_dist_dict[(fn, tn)] 
                # this is the output dictionary
                # street name, integer indicating the snd_group, from node, to node, distance of the edge

                # get node data: from nodes
                fn_node_list = []                
                for curr_edge in fg.edges(fn):
                    edge_dict = fg.edges[curr_edge]
                    fn_node_list.append(edge_dict)
                
                fn_df = pd.DataFrame(data = fn_node_list)
                fn_osnu = fn_df['ord_stname_unique']
                fn_osnc = fn_df['ord_stname_concat']
                fn_cp = fn_df['city_sector']

                # get node data: to nodes
                tn_node_list = []
                for curr_edge in fg.edges(tn):
                    edge_dict = fg.edges[curr_edge]
                    tn_node_list.append(edge_dict)
                
                tn_df = pd.DataFrame(data = tn_node_list)
                tn_osnu = tn_df['ord_stname_unique']
                tn_osnc = tn_df['ord_stname_concat']
                tn_cp = tn_df['city_sector']

                # ord_stname_concat: determine this by computing the set intersection
                osnu_set = set(fn_osnu).intersection(tn_osnu)
                osnc_set = set(fn_osnc).intersection(tn_osnc)
                cp_set = set(fn_cp).intersection(tn_cp)
                
                if len(osnu_set) == 1:
                    # this means that the segments are on the same street
                    osnu = osnu_set.pop()
                    osnc = osnc_set.pop()
                    cp = cp_set.pop()
                    
                else:
                    # the segments
                    osnu = ''
                    osnc = ''
                    cp = '_'.join(sorted(temp_gdf['city_sector'].unique().tolist()))

                # ord_street_name
                osn = temp_gdf['ord_street_name'].unique().tolist()[0]
                # ord_street_type
                ost = temp_gdf['ord_street_type'].unique().tolist()[0]
                # ord_stname_type
                osnt = temp_gdf['ord_stname_type'].unique().tolist()[0]                                                
                
                # ostntg
                # this is calculated from the osntg - a part of the loop
                
                
                # city_sector group
                cpg = temp_gdf['city_sector_group'].unique().tolist()[0]

                # order of the columns to add:
                # ord_street_name: osn
                # ord_street_type: ost
                # ord_stname_type: osnt
                # ord_stname_concat: osnc
                # ord_stname_unique: osnu
                # ord_stname_type_group: osntg
                # weight                
                # city_sector
                # city_sector_group

                temp_snd_id += 1

                temp_data_list = [temp_snd_id, osn, ost, osnt, osnc, osnu, osntg, i_ae, fn, tn, weight, cp, cpg, gi]
                # now, let's create some geometry
                temp_line = LineString([node_dict[fn], node_dict[tn]])
                line_list.append(temp_line)
                data_list.append(temp_data_list)

            # compare the list of available edges to the list of chosen edges
            # this isn't necessary to complete the edge augmentation, but it's
            # nice to know how often added edges are always the shortest edges        
            av_df = pd.DataFrame(data = avail_edges, columns = ['sn_id', 'en_id', 'weight_dict'])
            #av_df['dist'] = av_df['weight_dict'].map(lambda x: x['weight'])

            av_df['dist'] = av_df.apply(func=lambda x: node_dist_dict[(x['sn_id'], x['en_id'])], axis = 1)
            av_df = av_df.drop(labels = 'weight_dict', axis = 1)
            # rank distance - the lower the rank, the shorter the segment.
            av_df['dist_rank'] = av_df['dist'].rank(method = 'dense')

            # ord_street_name: osn
            # ord_street_type: ost
            # ord_stname_type: osnt
            # ord_stname_concat: osnc
            # ord_stname_unique: osnu
            # ord_stname_type_group: osntg
            # weight                
            # city_sector
            # city_sector_group
            
            # build a gpd.GeoDataFrame - these are the "missing" segments"
            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_stname_type', 'ord_stname_concat', 
                         'ord_stname_unique', 'ord_stname_type_group',
                         'snd_group', 'sn_id', 'en_id', 'dist', 'city_sector',
                         'city_sector_group', 'group_id']
            
            ms_gdf = gpd.GeoDataFrame(data = data_list,
                                            columns = col_names,
                                            geometry = line_list, crs = 'epsg:4326')
            
            # these edges are not on the same street group
            ms_gdf['street_status'] = int(2)
            
            # update where the connection spans city sectors     
            ms_gdf.loc[ms_gdf['ord_stname_unique'] == '', 'street_status'] = 3

            # but sometimes, there will be instances where it's the same street, but
            # only by direction prefix / suffix          
            cp_set = get_a_set(cn = ms_gdf['city_sector'])
            cpg_set = split_col_values(cn = ms_gdf['city_sector_group'])

            if len(cp_set) == 1 and len(cpg_set) == 1:
                ms_gdf.loc[ms_gdf['ord_stname_unique'] == '', 'street_status'] = 2                

            # this will track if there are any graphs with parallel edges.
            if ms_gdf.empty:
                trouble_list.append(osntg)            
            
            # select where the rank is LTE than the number of records in the missing segement gdf
            av_df = av_df.loc[av_df['dist_rank'] <= ms_gdf.shape[0], :]
            
            # if the sum of the distance of the added segments is the same, then only the
            # shortest segments were added. If not, then other, longer, segments were added
            # but that makes for less total distance traversed in the graph.
            # So, how often does that happen?
            shortest_tot_path = av_df['dist'].sum() == ms_gdf['dist'].sum()
            shortest_tot_path = int(shortest_tot_path)
            shortest_added_path.append([osn, ost, osnt, osnc, osnu, osntg, shortest_tot_path, n_discontinuities - 1])        

            # now, let's update where the ord_stname_concat variable and the 
            # ord_stname_unique variable with the ord_stname_type_group variable
            # when ord_stname_concat and ord_stname_unique are null
            col_names = ['ord_stname_concat', 'ord_stname_unique']
            for cn in col_names:
                ms_gdf.loc[ms_gdf[cn] == '', cn] = ms_gdf.loc[ms_gdf[cn] == '', 'ord_stname_type_group']

            # ord_street_name: osn
            # ord_street_type: ost
            # ord_stname_type: osnt
            # ord_stname_concat: osnc
            # ord_stname_unique: osnu
            # ord_stname_type_group: osntg
            # weight                
            # city_sector
            # city_sector_group
            #                     
            # add the known, disconnected segments. These are the existing streets.
            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_stname_type', 'ord_stname_concat', 'ord_stname_unique', 
                         'ord_stname_type_group', 'snd_group',  'f_intr_id', 't_intr_id',
                         'gis_seg_length', 'city_sector', 'city_sector_group', 'group_id', 'geometry']                             

            ks_gdf = temp_gdf[col_names].copy()
            ks_gdf['street_status'] = int(1)
            ks_gdf = ks_gdf.rename(columns = {'f_intr_id':'sn_id', 't_intr_id':'en_id', 'gis_seg_length':'dist'})

            # stack the geodataframes
            output_gdf = pd.concat([ms_gdf, ks_gdf])            
        
            # write intermediate
            if write_intermediate:
                # intermediate streets - existing streets
                is_output_file_path = os.path.join(rc.OUTPUT_FILE_PATH, 'individual_streets')
                if not os.path.exists(is_output_file_path):
                    os.makedirs(is_output_file_path)
                output_file_name = '_'.join(osntg.split()) + '.gpkg'
                write_gdf(gdf = temp_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)
            
                # intermediate nodes
                curr_node_df = pd.DataFrame(data = {'node_id':fg.nodes()})
                #curr_node_list = curr_node_df['node_id'].tolist()
                curr_node_df['node_centrality'] = curr_node_df['node_id'].map(node_centrality_dict)
                node_subset_gdf = subset_node_gdf(node_gdf = node_gdf, other_node_df = curr_node_df)
                output_file_name = '_'.join(osntg.split()) + '_full_nodes.gpkg'
                write_gdf(gdf = node_subset_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)

                # the added and continuous segments for a street
                output_file_name = '_'.join(osntg.split()) + '_missing_segments.gpkg'
                ofpn = os.path.join(is_output_file_path, output_file_name)                
                write_gdf(gdf = output_gdf, output_file_path = is_output_file_path, output_file_name = output_file_name)

        else:
            # gather the streets with no missing segments.         
            # ord_street_name: osn
            # ord_street_type: ost
            # ord_stname_type: osnt
            # ord_stname_concat: osnc
            # ord_stname_unique: osnu
            # ord_stname_type_group: osntg
            # weight                
            # city_sector
            # city_sector_group

            col_names = ['snd_id', 'ord_street_name', 'ord_street_type',
                         'ord_stname_type', 'ord_stname_concat', 'ord_stname_unique', 
                         'ord_stname_type_group', 'snd_group',  'f_intr_id',
                         't_intr_id', 'gis_seg_length', 'city_sector',
                         'city_sector_group', 'group_id', 'geometry']    

            output_gdf = temp_gdf[col_names].copy()
            output_gdf['street_status'] = int(0)
            output_gdf = output_gdf.rename(columns = {'f_intr_id':'sn_id', 't_intr_id':'en_id', 'gis_seg_length':'dist'})

        # add to the output list
        output_gdf_list.append(output_gdf)

100TH PL NW
1
100TH PL SW
1
100TH ST NW_N_NE
9
100TH ST SW_S
6
101ST PL SW
1
101ST ST NW_N
2
101ST ST SW_S
3
102ND LN SW
1
102ND ST N_NE
5
102ND ST SW_S
7
103RD PL NE
1
103RD PL SW
1
103RD ST NW_N_NE
12
103RD ST SW_S
6
104TH LN S
1
104TH PL NE
1
104TH ST NW_N_NE
10
104TH ST SW_S
10
104TH WAY NE
1
105TH PL NE
2
105TH PL SW
1
105TH ST NW_N_NE
12
105TH ST SW_S
5
106TH PL NE
1
106TH ST NW_N_NE
10
106TH ST SW_S
8
107TH PL SW
1
107TH ST NW_N_NE
10
107TH ST SW_S
7
107TH WAY SW
1
108TH PL NE
1
108TH PL S
1
108TH PL SW
1
108TH ST NW_NE
3
108TH ST SW_S
7
109TH ST N_NE
3
109TH ST SW
5
10TH AVE NW_W_SW
11
10TH AVE NE_E_CNTR_S
16
10TH PL NE
3
10TH PL SW
1
10TH PL W
1
110TH CT S
1
110TH LN SW
2
110TH PL S
1
110TH PL SW
1
110TH ST NW_N_NE
3
110TH ST SW_S
9
111TH LN SW
1
111TH PL SW
2
111TH ST SW_S
4
112TH LN SW
1
112TH PL NW
1
112TH PL S
1
112TH PL SW
1
112TH ST NW_N_NE
7
112TH ST SW_S
7
113TH LN SW
1
113TH PL N
1
113TH PL NW
1
113TH ST N_NE
10
113TH ST SW_S
4
114TH PL NW
1
114TH ST NW_N_NE
5
114TH ST SW_S
6
115TH LN S
1
115TH PL S
3
115TH ST NW_N_NE
3
115TH ST SW_S
4
116TH PL S
3
116TH ST NW_N_NE
5
116TH ST SW_S
6
117TH PL N
1
117TH PL S
2
117TH ST NW_N_NE
5
117TH ST S
5
118TH CT S
1
118TH LN S
1
118TH PL S
2
118TH ST NW_NE
3
118TH ST S
5
119TH ST NW
1
119TH ST S
3
11TH AVE NW_W_SW
22
11TH AVE NE_E_CNTR_S
16
11TH PL NW
1
11TH AV NW ACCESS RD NW
1
11TH AV SW ACCESS RD SW
1
120TH PL S
2
120TH ST NW_N_NE
7
120TH ST S
4
121ST ST NW_N
2
121ST ST S
3
122ND PL N
1
122ND PL S
1
122ND ST NW_N_NE
6
122ND ST S
7
123RD PL S
3
123RD ST NE
5
123RD ST S
4
124TH PL S
1
124TH ST NE
5
124TH ST S
5
125TH ST NW_N_NE
5
125TH ST S
3
125TH SR ST NE
1
126TH PL NW
1
126TH PL S
3
126TH ST NW_NE
3
126TH ST S
4
127TH LN S
1
127TH PL S
2
127TH ST NW_N_NE
7
127TH ST S
1
128TH ST N_NE
3
128TH ST S
1
129TH PL S
2
129TH ST S
3
12TH AVE NW_W_SW
12
12TH AVE NE_E_CNTR_S
22
130TH PL NE
1
130TH PL S
1
130TH ST NW_N_NE
7
130TH ST S
2
131ST CT S
1
131ST PL NE
1
131ST PL S
1
131ST ST NW_N
2
131ST ST S
1
132ND ST NW_N
2
132ND ST S
2
133RD ST N_NE
6
133RD ST S
1
134TH PL S
1
134TH ST NW_N_NE
6
134TH ST S
2
135TH PL N
1
135TH PL NE
1
135TH PL NW
1
135TH ST N_NE
5
135TH ST S
1
136TH ST NW_N_NE
6
137TH PL NW
1
137TH ST NW_N_NE
5
138TH ST N_NE
4
139TH ST NE
1
13TH AVE NW_W_SW
12
13TH AVE E_CNTR_S
11
13TH PL S
1
140TH ST NW_N_NE
8
141ST CT N
1
141ST ST N
2
142ND ST N_NE
3
143RD PL NE
1
143RD ST NW_N_NE
4
144TH ST NW_N_NE
2
145TH ST NW_N_NE
1
14TH AVE NW_W_SW
13
14TH AVE NE_E_CNTR_S
17
14TH CT S
1
14TH PL NE
1
15TH AVE NW_W_SW
8
15TH AVE NE_E_CNTR_S
9
15TH PL NE
1
15TH PL S
2
15TH PL W
1
16TH AVE NW_W_SW
9
16TH AVE NE_E_CNTR_S
25
16TH AV S BR S
1
17TH AVE NW_W_SW
13
17TH AVE NE_E_CNTR_S
20
17TH PL NE
1
17TH PL S
1
18TH AVE NW_W_SW
9
18TH AVE NE_E_CNTR_S
15
18TH PL NW
1
19TH AVE NW_W_SW
11
19TH AVE NE_E_CNTR_S
21
19TH PL S
1
1ST AVE NW_W_SW
23
1ST AVE NE_N_CNTR_S
14
1ST PL NE
2
20TH AVE NW_W_SW
9
20TH AVE NE_E_CNTR_S
20
20TH PL NE
1
20TH PL S
2
21ST AVE NW_W_SW
8
21ST AVE NE_E_CNTR_S
18
21ST PL NE
1
22ND AVE NW_W_SW
13
22ND AVE NE_E_CNTR_S
21
22ND CT NW
1
22ND PL NE
2
22ND PL S
1
23RD AVE NW_W_SW
12
23RD AVE NE_E_CNTR_S
15
23RD CT NE
1
23RD CT SW
1
23RD PL NE
3
23RD WR AVE S
1
24TH AVE NW_W_SW
10
24TH AVE NE_E_CNTR_S
26
24TH PL NE
1
24TH PL S
3
24TH PL SW
1
24TH PL W
1
25TH AVE NW_W_SW
16
25TH AVE NE_E_CNTR_S
18
25TH PL NE
1
25TH PL W
1
26TH AVE NW_W_SW
16
26TH AVE NE_E_CNTR_S
24
26TH PL NW
1
26TH PL SW
1
26TH PL W
1
27TH AVE NW_W_SW
18
27TH AVE NE_E_CNTR_S
20
27TH PL W
1
28TH AVE NW_W_SW
7
28TH AVE NE_E_CNTR_S
20
28TH PL W
3
29TH AVE NW_W_SW
10
29TH AVE NE_E_CNTR_S
19
29TH PL SW
2
2ND AVE NW_W_SW
24
2ND AVE NE_N_CNTR_S
34
2ND LN SW
1
2ND PL SW
1
30TH AVE NW_W_SW
8
30TH AVE NE_E_CNTR_S
24
30TH PL SW
2
31ST AVE NW_W_SW
16
31ST AVE NE_E_CNTR_S
25
31ST PL NE
1
31ST PL S
1
31ST PL SW
1
31ST ST NE
2
31ST WR AVE S
1
32ND AVE NW_W_SW
14
32ND AVE NE_E_CNTR_S
21
32ND PL SW
1
33RD AVE NW_W_SW
12
33RD AVE NE_E_CNTR_S
20
33RD PL NE
1
33RD PL NW
1
33RD PL S
1
33RD ST NE
1
34TH AVE NW_W_SW
12
34TH AVE NE_E_CNTR_S
18
34TH CT S
1
34TH CT W
1
34TH PL S
1
34TH PL SW
1
34TH ST N
1
35TH AVE NW_W_SW
7
35TH AVE NE_E_CNTR_S
19
35TH PL NW
2
35TH PL S
1
35TH ST N_NE
3
36TH AVE NW_W_SW
16
36TH AVE NE_E_CNTR_S
25
36TH ST N
1
36TH ST NE
1
36TH ST NW
1
37TH AVE NW_W_SW
15
37TH AVE NE_E_CNTR_S
21
37TH PL E
1
37TH PL NW
1
37TH PL S
1
37TH PL SW
1
37TH ST N
1
38TH AVE NW_W_SW
10
38TH AVE NE_E_CNTR_S
25
38TH CT N
1
38TH PL E
1
38TH ST N_NE
4
39TH AVE W_SW
8
39TH AVE NE_E_CNTR_S
21
39TH PL SW
1
39TH ST NW_N_NE
4
3RD AVE NW_W_SW
7
3RD AVE NE_N_CNTR_S
22
3RD LN SW
1
3RD PL NW
1
3RD PL SW
1
40TH AVE W_SW
13
40TH AVE NE_E_CNTR_S
17
40TH ST NW_N_NE
8
40TH ALLEY ST NE
1
41ST AVE W_SW
11
41ST AVE NE_E_S
15
41ST PL NE
3
41ST ST NW_N_NE
9
42ND AVE W_SW
12
42ND AVE NE_E_S
17
42ND PL NE
1
42ND PL S
1
42ND ST NW_N_NE
10
43RD AVE W
3
43RD AVE NE_E_S
10
43RD PL NE
1
43RD PL SW
3
43RD ST NW_N_NE
12
44TH AVE W_SW
11
44TH AVE NE_S
13
44TH PL NE
2
44TH PL S
1
44TH PL SW
1
44TH ST NW_N_NE
13
45TH AVE W_SW
13
45TH AVE NE_S
19
45TH PL NE
1
45TH ST NW_N_NE
5
46TH AVE W_SW
13
46TH AVE NE_S
19
46TH PL NE
1
46TH PL SW
1
46TH ST NW_N_NE
9
47TH AVE W_SW
7
47TH AVE NE_S
13
47TH PL NE
1
47TH PL SW
1
47TH ST NW_N_NE
9
48TH AVE SW
4
48TH AVE NE_S
14
48TH PL NE
1
48TH ST NW_N_NE
5
49TH AVE SW
5
49TH AVE NE_S
15
49TH ST NW_N_NE
4
4TH AVE NW_W_SW
14
4TH AVE NE_N_CNTR_S
23
4TH LN SW
1
4TH PL S
1
4TH PL SW
1
50TH AVE SW
9
50TH AVE NE_S
10
50TH ST NW_N_NE
6
51ST AVE SW
6
51ST AVE NE_S
12
51ST PL S
2
51ST PL SW
1
51ST ST NW_N_NE
5
52ND AVE SW
8
52ND AVE NE_S
10
52ND PL NE
1
52ND PL SW
2
52ND ST NW_N_NE
10
52ND TER S
1
53RD AVE SW
6
53RD AVE NE_S
13
53RD CT NE
1
53RD ST NW_N_NE
9
54TH AVE SW
2
54TH AVE NE_S
16
54TH PL SW
1
54TH ST NW_N_NE
13
54TH SR ST NW
1
55TH AVE SW
3
55TH AVE NE_S
15
55TH PL NE
1
1
55TH PL NW
1
55TH ST NW_N_NE
9
56TH AVE SW
7
56TH AVE NE_S
12
56TH PL NE
1
56TH PL S
1
56TH PL SW
1
56TH ST NW_N_NE
7
57TH AVE SW
5
57TH AVE NE_S
14
57TH PL NE
1
57TH PL SW
1
57TH ST NW_N_NE
9
58TH AVE SW
6
58TH AVE NE_S
5
58TH PL S
1
58TH PL SW
2
58TH ST NW_N_NE
10
58TH AV SW ACCESS RD SW
1
59TH AVE SW
1
59TH AVE NE_S
6
59TH ST NW_N_NE
8
59TH AV SW TURN ST SW
1
5TH AVE NW_W_SW
16
5TH AVE NE_N_CNTR_S
16
5TH LN SW
2
5TH PL S
2
60TH AVE SW
3
60TH AVE NE_S
8
60TH LN S
1
60TH PL S
1
60TH ST NW_N_NE
9
61ST AVE SW
1
61ST AVE NE_S
6
61ST PL S
1
61ST ST NW_N_NE
9
62ND AVE SW
1
62ND AVE NE_S
7
62ND ST NW_N_NE
12
63RD AVE SW
1
63RD AVE NE_S
4
63RD ST NW_N_NE
7
64TH AVE SW
1
64TH AVE NE_S
5
64TH CT S
1
64TH LN S
1
64TH PL S
1
64TH PL SW
1
64TH ST NW_N_NE
6
65TH AVE SW
1
65TH AVE NE_S
5
65TH CT NW
1
65TH ST NW_N_NE
4
66TH AVE SW
1
66TH AVE S
5
66TH LN S
1
66TH ST NW_N_NE
5
67TH AVE S
3
67TH PL S
1
67TH ST NW_N_NE
7
68TH AVE S
4
68TH PL S
1
68TH ST NW_N_NE
6
69TH AVE S
3
69TH PL S
1
69TH ST NW_NE
4
6TH AVE NW_W_SW
20
6TH AVE NE_N_CNTR_S
12
6TH CIR SW
1
6TH PL NE
1
6TH PL S
1
6TH PL SW
1
70TH AVE S
5
70TH PL S
2
70TH ST NW_N_NE
5
71ST AVE S
2
71ST PL S
1
71ST ST NW_N_NE
7
72ND AVE S
4
72ND PL S
2
72ND ST NW_N_NE
8
73RD LN S
1
73RD PL NE
1
73RD PL S
1
73RD ST NW_N_NE
12
74TH AVE S
3
74TH LN S
1
74TH PL NE
1
74TH PL S
1
74TH ST NW_N_NE
9
75TH AVE S
2
75TH PL S
1
75TH ST NW_N_NE
6
76TH AVE S
3
76TH ST NW_N_NE
4
77TH AVE S
3
77TH ST NW_N_NE
9
78TH AVE S
1
78TH ST NW_N_NE
3
79TH AVE S
3
79TH PL S
1
79TH ST NW_N_NE
4
7TH AVE NW_W_SW
15
7TH AVE NE_N_CNTR_S
18
7TH PL S
2
7TH PL SW
1
80TH AVE S
4
80TH PL S
1
80TH ST NW_N_NE
4
81ST AVE S
1
81ST PL NE
1
81ST PL S
2
81ST ST NW_N_NE
4
82ND AVE S
5
82ND PL S
2
82ND ST NW_N_NE
7
83RD AVE S
2
83RD ST NW_N_NE
8
84TH AVE S
1
84TH ST NW_N_NE
4
85TH AVE S
1
85TH PL NE
1
85TH ST NW_N_NE
6
86TH CT S
1
86TH ST NW_N_NE
13
87TH AVE S
1
87TH PL NE
1
87TH ST NW_N_NE
13
88TH AVE S
2
88TH PL NE
1
88TH ST NW_N_NE
10
89TH AVE S
1
89TH PL NW
1
89TH ST NW_N_NE
11
8TH AVE NW_W_SW
14
8TH AVE NE_N_CNTR_S
24
8TH CT NE
1
8TH PL S
1
8TH PL SW
1
8TH PL W
1
90TH PL NE
1
90TH PL NW
2
90TH ST NW_N_NE
11
91ST ST NW_N_NE
9
92ND PL S
1
92ND ST NW_N_NE
13
93RD ST NW_N_NE
7
93RD ST S
1
94TH ST NW_N_NE
11
95TH ST NW_N_NE
11
95TH ST S
1
96TH CIR SW
1
96TH LN SW
2
96TH PL NE
1
96TH PL SW
1
96TH ST NW_N_NE
15
96TH ST S
2
97TH CT SW
1
97TH PL SW
2
97TH ST NW_N_NE
13
97TH ST SW
5
98TH PL SW
1
98TH ST NW_N_NE
5
98TH ST SW
5
99TH PL S
1
99TH PL SW
2
99TH ST NW
2
99TH ST SW_S
5
9TH AVE NW_W_SW
14
9TH AVE NE_N_CNTR_S
19
9TH PL SW
1
ADAMS LN NE
1
ADAMS ST SW_S
9
ADDITION ST S
1
ADMIRAL WAY SW
1
AIKINS AVE SW
1
AIRPORT WAY S
2
ALAMO PL S
1
ALASKA PL S
1
ALASKA ST SW_S
11
ALASKAN WAY W_CNTR_S
3
ALBION PL N
1
ALBRO PL S
1
ALDER ST CNTR_E
5
ALDERBROOK PL NW
1
ALKI AVE SW
1
ALLEN PL N
2
ALLISON ST E
2
ALOHA ST W_CNTR_E
3
ALONZO AVE NW
2
ALPINE WAY NW
1
ALTAVISTA PL W
1
ALTON AVE NE
1
ALTON PL NE
1
ALVIN PL NW
1
AMBLESIDE RD NE
1
AMERICUS ST S
2
AMHERST PL W
1
ANDOVER ST SW_S
17
ANGEL PL S
1
ANGELINE ST SW_S
11
ANGELO ST S
1
ANN ARBOR AVE NE
2
ANTHONY PL S
1
AQUA WAY S
1
ARAPAHOE PL W
2
ARBORETUM DR E
1
ARBORETUM PL E
1
ARCH AVE SW
1
ARCH PL SW
1
ARGAND ST W
1
ARGYLE PL N
1
ARLINGTON PL E
1
ARMORY WAY W
1
ARMOUR PL W
1
ARMOUR ST W_CNTR
12
ARROWSMITH AVE S
2
ARROYO CT SW
1
ARROYO DR SW
1
ARROYO BEACH PL SW
1
ARTHUR PL E
1
ASHWORTH AVE N
9
ASOTIN PL NE
1
ATLANTIC ST SW_S
10
ATLAS PL SW
1
AUBURN AVE S
1
AUBURN PL E
1
AUGUSTA PL S
1
AUGUSTA ST S
3
AURORA AVE N
2
AURORA BR N
1
AUSTIN PL SW
1
AUSTIN ST SW_S
12
AUTUMN LN SW
1
AVALON WAY SW
1
AVON ST S
2
AVON CREST PL S
1
BAGLEY AVE N
6
BAILEY ST S
1
BAINBRIDGE PL SW
1
BAKER AVE NW
4
BALLARD AVE NW
1
BALLARD BR NW_W
1
BALLARD WAY NW
2
BANGOR CT S
1
BANGOR ST S
1
BANNER PL NE
1
BANNER WAY NE
1
BARBARA BAILEY WAY E
1
BARCLAY CT E
1
BARNES AVE NW
1
BARRETT LN W
1
BARRETT ST W
12
BARTLETT AVE NE
1
BARTON PL S
1
BARTON PL SW
1
BARTON ST SW_S
8
BATAAN ST SW
1
BATEMAN ST S
5
BATTERY ST CNTR
1
BAY ST CNTR
2
BAY TERRACE RD W
1
BAYARD AVE NW
1
BAYVIEW ST S
7
BEACH DR SW
1
BEACH DRIVE TER SW
1
BEACON AVE S
4
BEACON WR AVE S
1
BEDFORD CT NW
1
BELGROVE CT NW
1
BELL ST CNTR
1
BELLA VISTA AVE S
1
BELLEVUE AVE E_CNTR
1
BELLEVUE CT E
1
BELLEVUE PL E
1
BELMONT AVE E_CNTR
2
BELMONT PL E
1
BELVIDERE AVE SW
2
BELVOIR PL NE
1
BENEFIT ST S
2
BENNETT DR S
1
BENNETT ST S
10
BENTON LN NE
1
BENTON PL SW
1
BERNICE PL SW
1
BERNIE WHITEBEAR WAY W
1
BERTONA ST W
7
BEVERIDGE PL SW
2
BIGELOW AVE N
1
BIRCH AVE N
1
BISHOP PL W
1
BITTER PL N
1
BLAINE ST W_CNTR_E
13
BLAIR TER S
1
BLAKE PL SW
1
BLAKELEY ST NE
2
BLAKELY CT NW
1
BLAKELY PL NW
1
BLANCHARD ST CNTR
1
BLENHEIM DR E
1
BLUE RIDGE DR NW
1
BOAT ST NE
1
BONAIR DR SW
1
BONAIR PL SW
1
BOND ST S
1
BOREALIS AVE CNTR
1
BOREN AVE N_CNTR_S
3
BOSTON ST W_CNTR_E
8
BOSTON TER E
1
BOTHWELL ST W
3
BOWDOIN PL N
3
BOWDOIN PL NW
2
BOWEN PL S
1
BOWLYN PL S
1
BOYD PL SW
1
BOYER AVE E
1
BOYLSTON AVE E_CNTR
6
BOZEMAN ST S
2
BRACE POINT DR SW
1
BRADFORD PL S
1
BRADFORD ST SW_S
13
BRADNER PL S
2
BRANDON CT S
1
BRANDON PL S
1
BRANDON ST SW_S
15
BRIARCLIFF LN W
1
BRIDGE WAY N
1
BRIGHT ST NW
1
BRIGHTON LN S
1
BRIGHTON ST S
7
BROAD ST CNTR
1
BROADMOOR DR E
1
BROADWAY CT CNTR
1
BROADWAY ST CNTR_E
6
BROCKMAN PL NE
2
BRONSON WAY SW
1
BROOK AVE SW
1
BROOKLYN AVE NE
4
BRUCE ST SW
1
BRYGGER DR W
1
BRYGGER PL NW
1
BUDD CT S
1
BURKE AVE N
8
BURNS ST S
1
BURTON PL W
1
BUSH PL S
2
BYRON ST S
1
CALHOUN ST E
2
CALIFORNIA AVE W_SW
6
CALIFORNIA DR SW
1
CALIFORNIA LN SW
1
CALIFORNIA PL SW
1
CALIFORNIA WAY SW
1
CAMANO PL S
1
CAMBRIDGE PL SW
1
CAMBRIDGE ST SW_S
12
CAMPBELL PL SW
1
CAMPUS DR CNTR
1
CAMPUS PKWY NE
2
CANADA DR SW
2
CANAL RD NE
1
CANAL ST NW_N
1
CANFIELD PL N
1
CANOE PL NW
1
CANTERBURY LN E
1
CARKEEK DR S
1
CARKEEK PARK RD NW
1
CARLETON AVE S
1
CAROLINA ST W
1
CAROLINE AVE N
1
CARR PL N
1
CARROLL ST SW
1
CARSTENS PL S
1
CARVER ST S
1
CASCADIA AVE S
1
CECIL AVE S
1
CEDAR ST CNTR
1
CENTRAL PL NW
1
CHAPIN PL N
1
CHARLES ST S
11
CHARLESTOWN ST SW_S
14
CHATHAM DR S
1
CHEASTY BLVD S
1
CHELAN AVE SW
2
CHELAN LN NE
2
CHELAN SR AVE SW
1
CHERRY ST CNTR_E
2
CHERRYLANE AVE S
1
CHERRYLANE PL S
1
CHICAGO CT SW_S
2
CHICAGO ST S
8
CHILBERG AVE SW
1
CHILBERG PL SW
1
CITY VIEW ST SW
2
CLAREMONT AVE S
1
CLAREMONT PL S
1
CLARK RD NE
1
CLAY ST CNTR
1
CLEOPATRA PL NW
1
CLISE CT W
1
CLISE PL W
1
CLOGSTON WAY N
1
CLOVERDALE PL S
1
CLOVERDALE ST SW_S
11
CLUB HOUSE DR NE
1
COLLEGE ST SW_S
9
COLLEGE WAY N
1
COLMAN DOCK ACCESS RD CNTR
1
COLMAN DOCK EXIT RD CNTR
1
COLORADO AVE S
4
COLUMBIA DR S
1
COLUMBIA RD NE
1
COLUMBIA ST CNTR_E
7
COLUMBIAN WAY S
2
COMMODORE WAY W
1
COMSTOCK PL CNTR
1
COMSTOCK ST W_CNTR
3
CONCORD ST SW_S
6
CONDON WAY W
1
CONISTON RD NE
1
CONKLING PL W
1
CONOVER CT E
1
CONOVER WAY S
1
CONSTANCE DR W
2
CONVENTION PL CNTR
1
COOPER ST S
4
CORGIAT DR S
1
CORLISS AVE N
10
CORLISS WAY N
1
CORNELL AVE S
1
CORSON AVE S
3
CORWIN PL S
1
CORYELL CT E
1
COTTAGE PL SW
1
COURT PL CNTR
1
COURT ST S
5
COURTLAND PL N
1
COURTLAND PL S
2
COVELLO DR S
1
COWEN PL NE
1
COWLITZ RD NE
1
CRAMER ST W
5
CRANE DR W
1
CRAWFORD PL CNTR
1
CREMONA ST W_CNTR
2
CRESCENT DR E
1
CREST DR NE
1
CREST PL S
1
CRESTMONT PL W
1
CRESTON ST S
1
CRESTWOOD DR S
1
CROCKETT ST W_CNTR_E
14
CROFT PL SW
2
CROWN PL NE
1
CULBERTSON DR NW
1
CULPEPER CT NW
1
CYCLE CT SW
1
CYRUS AVE NW
1
DAKOTA ST SW_S
12
DALLAS AVE S
1
DANIEL PL NE
1
DARTMOUTH AVE W
1
DAVIS PL S
1
DAWSON ST SW_S
14
DAY ST S
3
DAYTON AVE N
9
DEAN CT S
1
DEAN ST S
1
DEARBORN PL S
1
DEARBORN ST S
5
DECATUR PL S
1
DEDHAM PL S
1
DELAPPE PL S
1
DELLA ST S
1
DELMAR DR E
1
DELRIDGE WAY SW
1
DENNY WAY W_CNTR_E
4
DENNY BLAINE PL E
1
DENSMORE AVE N
12
DENVER AVE S
2
DES MOINES MEMORIAL DR S
2
DETROIT AVE SW
1
DEWEY PL E
1
DEXTER AVE N_CNTR
1
DEXTER WAY N
1
DIAGONAL AVE S
6
DIBBLE AVE NW
3
DILLING WAY CNTR
1
DIRECTOR PL SW
1
DIRECTOR ST SW_S
9
DISCOVERY PARK BLVD W
1
DIVISION AVE NW
1
DIXON DR S
1
DOCK PL NW
1
DONALD ST SW
1
DONOVAN ST SW_S
7
DORFFEL DR E
1
DORIS ST S
1
DOROTHY PL N
1
DOSE TER S
1
DOUGLAS PL SW
1
DRAVUS ST W_CNTR
6
DUMAR WAY SW
1
DUNCAN AVE S
3
DURLAND AVE NE
2
DURLAND PL NE
1
DUWAMISH AVE S
1
DUWAMISH AV S ACCESS RD S
1
DUWAMISH AVE S BR S
1
EAGLE ST CNTR
1
EARL AVE NW
2
EAST GREEN LAKE DR N
1
EAST GREEN LAKE WAY N
1
EAST LAUREL DR NE
1
EAST LAURELHURST DR NE
1
EAST MARGINAL WAY S
1
EAST MARGINAL ER WAY S
1
EAST MONTLAKE PL E
1
EAST PARK DR E
1
EAST STEVENS WAY NE
1
EASTERN AVE N
2
EASTLAKE AVE NE_CNTR_E
3
EASTLAKE PL NE
1
EASTMONT WAY W
1
EASTWOOD DR S
1
EATON PL E
1
EATON ST W
1
EDDY CT S
1
EDDY ST SW_S
7
EDGAR ST E
4
EDGAR MARTINEZ DR S
1
EDGEMONT PL W
1
EDGEWATER PL E
1
EDGEWEST DR NW
1
EDGEWOOD AVE SW
2
EDMUNDS ST SW_S
12
EDWARD DR S
1
ELDORADO LN NW
1
ELFORD DR NW
1
ELIZABETH ST S
1
ELK PL NE
1
ELLERAY LN NE
1
ELLINOR DR W
1
ELLIOTT AVE W_CNTR
1
ELLIOTT WAY CNTR
1
ELLIS AVE S
1
ELM PL SW
1
ELMGROVE ST SW_S
13
ELMORE PL W
1
ELMORE ST W
4
ELMWOOD PL S
1
ELSHIN PL NE
1
EMERSON PL W
1
EMERSON ST W
5
EMERSON TURN RD W
1
ENGLEWOOD ST SW
1
ERICKSON PL NE
1
ERIE AVE CNTR
1
ERSKINE WAY SW
1
ESPLANADE ST NW
1
ESTELLE ST S
1
ETRURIA ST W_CNTR
2
EUCLID AVE CNTR
3
EVANSTON AVE N
7
EVERETT AVE E
3
EVERGREEN PL CNTR
1
EWING PL W
1
EWING ST W
3
EXETER AVE NE
2
EXPEDIA GROUP WAY W
1
EYRES PL W
1
FAIRBANKS ST S
1
FAIRMOUNT AVE SW
1
FAIRVIEW AVE E_N_CNTR
2
FAIRVIEW PL N
1
FAIRVIEW NR AVE N
1
FAIRWAY DR NE
1
FARRAR ST S
2
FARWELL PL SW
2
FAUNTLEE CREST ST SW
1
FAUNTLEROY AVE SW
3
FAUNTLEROY PL SW
1
FAUNTLEROY WAY SW
2
FEDERAL AVE E
1
FERDINAND ST S
11
FERN PL NW
1
FERRIS PL S
1
FERRY AVE SW
2
FERRY PL NE
1
FIDALGO ST S
2
FINDLAY ST SW_S
11
FIR ST CNTR_E
2
FISCHER PL NE
1
FISHER PL S
2
FLETCHER ST SW_S
4
FLORA AVE S
1
FLORENCE CT E
1
FLORENTIA PL W
1
FLORENTIA ST W_CNTR
1
FLORIDA ST SW
4
FONTANELLE PL S
1
FONTANELLE ST SW_S
5
FORD PL E
1
FOREST AVE S
2
FOREST CT SW
1
FOREST DR NE
1
FOREST PL S
1
FOREST ST SW_S
8
FOREST HILL PL NW
1
FOREST VISTA ST NE
1
FORNEY ST SW
1
FORT ST W
3
FOSTER ISLAND RD E
1
FOUNTAIN PL S
1
FOUNTAIN ST S
4
FOX AVE S
1
FRANCIS AVE N
4
FRANKLIN AVE E
2
FRANKLIN PL E
1
FRANKLIN PL NE
1
FRATER AVE SW
1
FRAZIER PL NW
1
FREMONT AVE N
5
FREMONT BR CNTR
1
FREMONT LN N
3
FREMONT PL N
1
FREMONT WAY N
1
FRINK PL S
1
FRONT ST SW_S
3
FRONTENAC ST SW_S
7
FUHRMAN AVE E
2
FULLERTON AVE CNTR
1
FULTON ST W_CNTR
8
GALE PL S
1
GALER PL N
1
GALER ST W_CNTR_E
18
GARDEN PL S
2
GARDEN ST S
2
GARDEN LOOP RD S
1
GARFIELD PL NE
1
GARFIELD ST W_CNTR_E
16
GARLOUGH AVE SW
2
GATEWOOD RD SW
1
GAY AVE W
2
GAZELLE ST S
3
GENESEE ST SW_S
9
GENESEE WAY S
1
GEORGE WASHINGTON LN NE
1
GILMAN AVE W
3
GILMAN DR W
1
GILMAN PL W
1
GLEN ST E
1
GLEN ACRES DR S
1
GLENDALE WAY S
1
GLENMONT LN W
1
GLENN WAY SW
1
GLENRIDGE WAY SW
1
GLENWILDE PL E
1
GOLDEN DR NW
1
GOLDEN PL NW
1
GOLDEN GARDENS DR NW
1
GOLF DR S
1
GOODELL PL S
1
GOODWIN WAY NE
1
GOULD AVE S
1
GOVERNMENT WAY W
1
GRAHAM ST SW_S
6
GRAND AVE CNTR
1
GRAND ST S
5
GRANDVIEW PL E
1
GRANT LN NE
1
GRATTAN PL S
1
GRATTAN ST S
1
GRAYSON ST SW
3
GREEN LAKE DR N
1
GREEN LAKE WAY N
1
GREENBELT STATION DR S
1
GREENBRIER WAY NW
1
GREENWOOD AVE N
2
GREENWOOD CIR N
1
GROVER ST W
2
GWINN PL E
1
HAHN PL S
1
HALLADAY ST W_CNTR
10
HALLECK AVE SW
1
HAMLET AVE S
1
HAMLIN ST E
3
HAMPTON RD S
2
HANFORD ST SW_S
12
HARADEN PL S
1
HARBOR AVE SW
1
HARBOR LN SW
1
HARDY ST S
1
HARLEY ST W
1
HARNEY ST S
1
HAROLD PL NE
1
HARRIS PL S
2
HARRISON ST W_CNTR_E
7
HARVARD AVE E_CNTR
4
HAWTHORN RD S
1
HAYES ST W_CNTR
4
HAZEL CT S
1
HAZEL ST S
5
HEIGHTS AVE SW
1
HEIGHTS PL SW
1
HEINZE WAY SW
2
HELEN ST E
1
HEMLOCK WAY SW
1
HENDERSON PL SW
1
HENDERSON ST SW_S
10
HIAWATHA PL S
1
HIGH LN E
1
HIGH POINT DR SW
1
HIGHLAND DR W_CNTR_E
13
HIGHLAND PARK WAY SW
1
HILL ST SW_S
8
HILL TOP LN NW
1
HILLCREST AVE SW
4
HILLMAN PL NE
1
HILLSIDE DR E
1
HINDS PL S
1
HINDS ST SW_S
19
HIRAM PL NE
2
HOBART AVE SW
2
HOLDEN PL SW
1
HOLDEN ST SW_S
9
HOLGATE BR S
1
HOLGATE ST SW_S
9
HOLLY CT SW
1
HOLLY PL S
2
HOLLY PL SW
1
HOLLY ST SW_S
13
HOLLY TER S
1
HOLLY PARK DR S
1
HOLMAN RD N_NW
1
HOLYOKE WAY S
1
HOMER ST S
1
HOOKER ST W
1
HORTON ST SW_S
13
HOWE ST W_CNTR_E
15
HOWELL PL CNTR
1
HOWELL ST CNTR_E
9
HUBBELL PL CNTR
1
HUDSON ST SW_S
17
HUGHES AVE SW
1
HUMES PL W
1
HUNTER BLVD S
1
HURON ST E
1
IAGO PL S
1
IDA ST SW
1
IDAHO AVE W
1
IDAHO ST SW_S
2
ILLINOIS AVE W
1
INDUSTRIAL WAY S
2
INGERSOLL PL S
1
INTERLAKE AVE N
7
INTERLAKEN BLVD E
2
INTERLAKEN DR E
1
INTERLAKEN PL E
2
INVERNESS CT NE
1
INVERNESS DR NE
1
IONE PL NW
1
IOWA ST W
1
IRONDALE AVE W
1
IRVING ST S
5
ISLAND DR S
1
ITHACA PL S
1
IVANHOE PL NE
1
JACKSON PL S
1
JACKSON ST S
3
JACOBSEN RD SW
1
JAMES CT E
1
JAMES ST CNTR_E
4
JAMES WAY E
1
JAMESON ST W
4
JANSEN CT E
1
JEFFERSON RD NE
1
JEFFERSON ST CNTR_E
4
JESSE AVE W
1
JILL PL S
1
JOHN CT E
1
JOHN ST W_CNTR_E
9
JONES AVE NW
2
JONES PL NW
1
JUDKINS ST S
5
JUNEAU ST SW_S
10
JUNEAU TER S
1
JUNIPER ST S
1
KANSAS AVE W
2
KEEN WAY N
1
KELDEN PL NE
1
KELSEY LN SW
1
KENILWORTH PL NE
1
KENNY ST S
4
KENSINGTON PL N
1
KENWOOD PL N
1
KENYON PL SW
1
KENYON ST SW_S
11
KENYON WAY S
1
KEPPLER ST S
3
KESWICK DR NE
1
KEYSTONE PL N
1
KILBOURNE CT SW
1
KING ST S
8
KINNEAR PL W
1
KIRKWOOD PL N
1
KLICKITAT AVE SW
1
KLICKITAT LN NE
1
KLICKITAT WAY SW
2
KNOX PL E
1
LAFAYETTE AVE S
1
LAFERN PL S
1
LAKE CITY WAY NE
1
LAKE DELL AVE CNTR
1
LAKE PARK DR S
1
LAKE RIDGE DR S
1
LAKE RIDGE PL S
1
LAKE SHORE BLVD NE
3
LAKE SHORE DR NE_S
2
LAKE WASHINGTON BLVD E_CNTR_S
1
LAKEMONT DR NE
1
LAKESIDE AVE NE_CNTR_S
4
LAKESIDE PL NE
1
LAKEVIEW BLVD E
1
LAKEVIEW LN NE
1
LAKEWOOD AVE S
1
LANDER PL SW
1
LANDER ST SW_S
14
LANE ST S
8
LANGSTON RD S
2
LANHAM PL SW
1
LATIMER PL NE
1
LATONA AVE NE
8
LAUREL LN S
1
LAUREL ST S
1
LAURELCREST LN NE
1
LAWTON CIR W
1
LAWTON LN W
1
LAWTON ST W
3
LAWTONWOOD RD W
1
LEARY AVE NW
1
LEARY WAY NW
1
LEDROIT CT SW
1
LEDROIT PL SW
1
LEE ST W_CNTR_E
11
LENNY WILKENS WAY CNTR
1
LENORA PL N
1
LENORA ST CNTR
1
LEO ST S
1
LEROY PL S
1
LESCHI PL S
1
LETITIA AVE S
1
LEWIS PL SW
1
LEXINGTON PL S
1
LEXINGTON WAY E
1
LILAC ST S
1
LIMA TER S
1
LINCOLN WAY NE
1
LINCOLN PARK WAY SW
1
LINDEN AVE N
3
LINDSAY PL S
2
LITTLE CANOE CHANNEL ST NE
1
LK UNION PARK ACCESS RD CNTR
1
LOCKS PL NW
1
LONGWOOD PL NE
1
LORENTZ PL N
1
LORETTA PL E
1
LOTUS AVE SW
1
LOTUS PL S
1
LOUISA ST E
3
LOYAL AVE NW
1
LOYAL WAY NW
1
LUCAS PL N
1
LUCILE ST S
9
LUTHER AVE S
2
LYNN PL W
2
LYNN ST W_CNTR_E
11
LYON CT S
1

# combine data for output

In [29]:
ms_gdf = pd.concat(objs = output_gdf_list)

In [30]:
ms_gdf['dist_miles'] = ms_gdf['dist'] / 5280

In [31]:
# join in other street identification data

In [32]:
ms_gdf.shape

(29780, 17)

In [33]:
ms_gdf['street_status'].value_counts()

street_status
1    21931
0     3825
2     3614
3      410
Name: count, dtype: int64

In [34]:
ms_gdf.columns

Index(['snd_id', 'ord_street_name', 'ord_street_type', 'ord_stname_type',
       'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
       'snd_group', 'sn_id', 'en_id', 'dist', 'city_sector',
       'city_sector_group', 'group_id', 'geometry', 'street_status',
       'dist_miles'],
      dtype='object')

In [35]:
# check for missing values
hey_what_is_na(ms_gdf)

In [36]:
ms_gdf['ord_stname_concat'].value_counts()

ord_stname_concat
M L KING JR WAY S      149
BEACON AVE S           138
RAINIER AVE S          130
AURORA AVE N           102
GREENWOOD AVE N         89
                      ...
ALOHA ST W_CNTR_E        1
ALDERBROOK PL NW         1
N MENFORD PL             1
ALDER ST CNTR_E          1
CALIFORNIA AVE W_SW      1
Name: count, Length: 2768, dtype: int64

In [37]:
'' in ms_gdf['ord_stname_type_group'].unique().tolist()

False

In [38]:
write_gdf(gdf = ms_gdf, output_file_path=rc.OUTPUT_FILE_PATH, output_file_name='test_street.gpkg')

In [39]:
testo.shape

(16, 17)

In [40]:
ms_gdf.shape

(29780, 17)

In [41]:
# what streets have parallel edges?
# these can be verified / examined in qGIS
trouble_list

['1ST AVE NE_N_CNTR_S',
 '25TH AVE NW_W_SW',
 '40TH ST NW_N_NE',
 '43RD ST NW_N_NE',
 '7TH AVE NE_N_CNTR_S',
 'FOREST ST SW_S',
 'LAWTON CIR W',
 'MAGNOLIA BR W',
 'MERRILL LN NW',
 'RADFORD DR NE',
 'ROYAL BROUGHAM WAY S',
 'SEWARD PARK RD S',
 'SUMMIT AVE E_CNTR']

In [42]:
# is everything lining up?
testo = ms_gdf.loc[ms_gdf['ord_stname_unique'] != ms_gdf['ord_stname_concat'], :]

In [43]:
testo.head()

,snd_id,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,snd_group,sn_id,en_id,dist,city_sector,city_sector_group,group_id,geometry,street_status,dist_miles
5,65673,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,5,11829,12162,2024.641807,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31936 47.61176, -122.31943 47...",2,0.383455
6,65674,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,6,12319,12359,152.428743,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31942 47.60352, -122.31942 47...",2,0.028869
25,20435,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,174,11683,11604,423.143814,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31946 47.61409, -122.31948 47...",1,0.080141
26,20522,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,174,11752,11683,417.719952,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31945 47.61295, -122.31946 47...",1,0.079114
27,20601,10TH,AVE,10TH AVE,10TH AVE,10TH AVE CNTR,10TH AVE NE_E_CNTR_S,174,11809,11752,278.657501,CNTR,NE_E_CNTR_S,2,"LINESTRING (-122.31938 47.61218, -122.31939 47...",1,0.052776

In [44]:
testo.shape

(1830, 17)

In [45]:
testo['street_status'].value_counts()

street_status
1    1358
0     364
2     108
Name: count, dtype: int64

In [46]:
testo['ord_stname_concat'].value_counts()

ord_stname_concat
DENNY WAY                  30
4TH AVE                    29
MERCER ST                  26
2ND AVE                    26
5TH AVE                    25
                           ..
QUEEN ANNE AVE              1
RAVENNA BV WB ACCESS RD     1
BAY TERRACE RD              1
SMITH PL                    1
DEXTER AVE                  1
Name: count, Length: 203, dtype: int64

# compute if the added segments were indeed the shortest.

In [47]:
# ord_street_name: osn
# ord_street_type: ost
# ord_stname_type: osnt
# ord_stname_concat: osnc
# ord_stname_unique: osnu
# ord_stname_type_group: osntg
# weight                
# city_sector
# city_sector_group

In [48]:
# the number of times when the shortest segment is the shortest
col_names = ['ord_street_name', 'ord_street_type', 'ord_stname_type', 'ord_stname_concat',
             'ord_stname_unique', 'ord_stname_type_group', 'shortest_added_path',
             'n_discontinuities']                                      
sap_df = pd.DataFrame(data = shortest_added_path, columns = col_names)

In [49]:
sap_df['n_streets'] = int(1)

In [50]:
sap_df.head()

,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,shortest_added_path,n_discontinuities,n_streets
0,100TH,ST,100TH ST,NE 100TH ST,NE 100TH ST,100TH ST NW_N_NE,0,8,1
1,100TH,ST,100TH ST,S 100TH ST,S 100TH ST,100TH ST SW_S,0,5,1
2,101ST,ST,101ST ST,NW 101ST ST,NW 101ST ST,101ST ST NW_N,1,1,1
3,101ST,ST,101ST ST,S 101ST ST,S 101ST ST,101ST ST SW_S,0,2,1
4,102ND,ST,102ND ST,NE 102ND ST,NE 102ND ST,102ND ST N_NE,0,4,1

In [51]:
sap_df['ord_stname_type_group'].unique().shape

(699,)

In [52]:
recode_dict = {0:'shortest_is_false', 1:'shortest_is_true', }

In [53]:
sap_df['shortest_added_path'] = sap_df['shortest_added_path'].map(recode_dict)

In [54]:
sap_df = sap_df.sort_values(by = ['ord_stname_type', 'ord_stname_concat'])

In [55]:
sap_df['connection_status'] = "intraconnection"
sap_df.loc[sap_df['ord_stname_concat'] == '', 'connection_status'] = 'interconnection'

In [56]:
sap_df.head()

,ord_street_name,ord_street_type,ord_stname_type,ord_stname_concat,ord_stname_unique,ord_stname_type_group,shortest_added_path,n_discontinuities,n_streets,connection_status
0,100TH,ST,100TH ST,NE 100TH ST,NE 100TH ST,100TH ST NW_N_NE,shortest_is_false,8,1,intraconnection
1,100TH,ST,100TH ST,S 100TH ST,S 100TH ST,100TH ST SW_S,shortest_is_false,5,1,intraconnection
2,101ST,ST,101ST ST,NW 101ST ST,NW 101ST ST,101ST ST NW_N,shortest_is_true,1,1,intraconnection
3,101ST,ST,101ST ST,S 101ST ST,S 101ST ST,101ST ST SW_S,shortest_is_false,2,1,intraconnection
4,102ND,ST,102ND ST,NE 102ND ST,NE 102ND ST,102ND ST N_NE,shortest_is_false,4,1,intraconnection

In [57]:
sap_df_ct_count = pd.pivot_table(data = sap_df, values = 'n_streets',
                                 index = ['connection_status', 'n_discontinuities'], columns = 'shortest_added_path',
                                 aggfunc='sum', fill_value=0, margins = True).reset_index(drop=False)

In [58]:
sap_df_ct_count.columns

Index(['connection_status', 'n_discontinuities', 'shortest_is_false',
       'shortest_is_true', 'All'],
      dtype='object', name='shortest_added_path')

In [59]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,All
0,interconnection,1,0,11,11
1,interconnection,2,8,1,9
2,interconnection,3,3,0,3
3,interconnection,4,4,0,4
4,interconnection,5,1,0,1

In [60]:
for recode_key, recode_value in recode_dict.items():
    if recode_value not in sap_df_ct_count.columns:
        sap_df_ct_count[recode_value] = [0] * sap_df_ct_count.shape[0]

In [61]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,All
0,interconnection,1,0,11,11
1,interconnection,2,8,1,9
2,interconnection,3,3,0,3
3,interconnection,4,4,0,4
4,interconnection,5,1,0,1

In [62]:
sap_df_ct_count = sap_df_ct_count.rename(columns = {'All':'n_streets'})
col_names = ['connection_status', 'n_discontinuities', 'shortest_is_false', 'shortest_is_true', 'n_streets']
sap_df_ct_count = sap_df_ct_count[col_names]

In [63]:
for cn in ['shortest_is_false', 'shortest_is_true']:
    ncn = cn + '_per'
    sap_df_ct_count[ncn] = sap_df_ct_count[cn] / sap_df_ct_count['n_streets']

In [64]:
sap_df_ct_count.head()

shortest_added_path,connection_status,n_discontinuities,shortest_is_false,shortest_is_true,n_streets,shortest_is_false_per,shortest_is_true_per
0,interconnection,1,0,11,11,0.000000,1.000000
1,interconnection,2,8,1,9,0.888889,0.111111
2,interconnection,3,3,0,3,1.000000,0.000000
3,interconnection,4,4,0,4,1.000000,0.000000
4,interconnection,5,1,0,1,1.000000,0.000000

In [65]:
# export this to excel
if not os.path.exists(rc.ANALYSIS_OUTPUT_FILE_PATH):
    os.makedirs(rc.ANALYSIS_OUTPUT_FILE_PATH)
ofpn = os.path.join(rc.ANALYSIS_OUTPUT_FILE_PATH, rc.S04_SS_COUNT_OUT_FILE_NAME)
print(ofpn)

sap_df_ct_count.to_excel(excel_writer=ofpn, sheet_name='shortest_segment_count', index = False)

../../../project/seattle_streets/data\analysis\shortest_segment_count.xlsx

# add ranking by street type to help with visualization

In [66]:
st_type_df = ms_gdf.loc[ms_gdf['street_status'].isin((2,3)), 'ord_street_type'].value_counts().to_frame(name = 'n_segments').reset_index()

In [67]:
st_type_df.head()

  ord_street_type  n_segments
0              ST        1960
1             AVE        1919
2              PL          81
3             WAY          20
4              DR          16

In [68]:
st_type_df['segment_rank'] = st_type_df['n_segments'].rank(ascending = True).astype(int).astype(str).str.zfill(2)

In [69]:
st_type_df.head(n=20)

  ord_street_type  n_segments segment_rank
0              ST        1960           10
1             AVE        1919           09
2              PL          81           08
3             WAY          20           07
4              DR          16           06
5            BLVD          10           05
6              LN           9           04
7              RD           6           03
8              CT           2           02
9            PKWY           1           01

In [70]:
st_type_df['ord_street_type_rank'] = st_type_df['segment_rank'] + '_' + st_type_df['ord_street_type']

In [71]:
st_rank_dict = {ost:ostr for ost, ostr in zip(st_type_df['ord_street_type'], st_type_df['ord_street_type_rank'])}

In [72]:
ms_gdf['ord_street_type_rank'] = ms_gdf['ord_street_type'].map(st_rank_dict)

In [73]:
ms_gdf.loc[ms_gdf['ord_street_type_rank'].isna(), 'ord_street_type_rank'] = ""

In [74]:
ms_gdf.columns

Index(['snd_id', 'ord_street_name', 'ord_street_type', 'ord_stname_type',
       'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
       'snd_group', 'sn_id', 'en_id', 'dist', 'city_sector',
       'city_sector_group', 'group_id', 'geometry', 'street_status',
       'dist_miles', 'ord_street_type_rank'],
      dtype='object')

In [75]:
# ord_street_name: osn
# ord_street_type: ost
# ord_stname_type: osnt
# ord_stname_concat: osnc
# ord_stname_unique: osnu
# ord_stname_type_group: osntg
# weight                
# city_sector
# city_sector_group

In [76]:
# reorder columns
col_names = ['snd_id', 'ord_street_name', 'ord_street_type','ord_stname_type',
             'ord_stname_concat', 'ord_stname_unique', 'ord_stname_type_group',
             'ord_street_type_rank','snd_group', 'group_id', 'city_sector',
             'city_sector_group', 'street_status', 'sn_id','en_id',
             'dist','dist_miles','geometry']

In [77]:
ms_gdf = ms_gdf[col_names]

# save the geodataframe with the continuous, discontinuous, and added streets

In [78]:
write_gdf(gdf = ms_gdf, output_file_path= rc.OUTPUT_FILE_PATH,
          output_file_name = rc.S04_MISSING_OUT_FILE_NAME)

In [79]:
'' in ms_gdf['ord_stname_type_group'].unique().tolist()

False