# Part 06A: Prep data for export for analysis for v2
michael babb  
2024 11 24

In [1]:
# standard
import os
import re
import collections

In [2]:
# external
import geopandas as gpd
import matplotlib as mpl
from matplotlib.gridspec import GridSpec
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# custom
import run_constants as rc
from utils import *

In [4]:
# process flow variables

# load the street network data

In [5]:
rc.S03_SND_WORKING_IN_FILE_NAME

'Street_Network_Database_Seattle_working.gpkg'

In [6]:
# load the list of streets - this is before any work is done to compute the missing sections. 
fpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S03_SND_WORKING_IN_FILE_NAME)

In [7]:
gdf = gpd.read_file(filename = fpn)

In [8]:
gdf.columns

Index(['f_intr_id', 't_intr_id', 'snd_id', 'snd_feacode', 'citycode',
       'stname_id', 'st_code', 'arterial_code', 'segment_type', 'agency_code',
       'access_code', 'divided_code', 'structure_type', 'legalloc_code',
       'vehicle_use_code', 'gis_seg_length', 'l_adrs_from', 'l_adrs_to',
       'r_adrs_from', 'r_adrs_to', 'ord_pre_dir', 'ord_street_name',
       'ord_street_type', 'ord_suf_dir', 'ord_stname_concat', 'l_city',
       'l_state', 'l_zip', 'r_city', 'r_state', 'r_zip', 'sndseg_update',
       'compkey', 'comptype', 'unitid', 'unitid2', 'city_portion',
       'ord_stname_unique', 'geometry'],
      dtype='object')

In [9]:
gdf['n_roads'] = int(1)

In [10]:

gdf['ord_stname_concat'].unique().shape

(2455,)

In [11]:
gdf['ord_stname_unique'].unique().shape

(2457,)

# group data by street type for use in version 2.0

In [12]:
col_names = ['ord_street_name', 'ord_street_type', 'ord_stname_concat','ord_stname_unique',  'city_portion']
st_name_type_df = gdf[col_names].drop_duplicates()

In [13]:
my_counter = collections.Counter(st_name_type_df['ord_stname_unique'])

In [14]:
my_counter.most_common()

[('10TH AVE CNTR', 1),
 ('10TH AVE E', 1),
 ('10TH AVE NE', 1),
 ('10TH AVE NW', 1),
 ('10TH AVE S', 1),
 ('10TH AVE SW', 1),
 ('10TH AVE W', 1),
 ('10TH PL NE', 1),
 ('10TH PL SW', 1),
 ('10TH PL W', 1),
 ('11TH AV NW ACCESS RD', 1),
 ('11TH AV SW ACCESS RD', 1),
 ('11TH AVE CNTR', 1),
 ('11TH AVE E', 1),
 ('11TH AVE NE', 1),
 ('11TH AVE NW', 1),
 ('11TH AVE S', 1),
 ('11TH AVE SW', 1),
 ('11TH AVE W', 1),
 ('11TH PL NW', 1),
 ('12TH AVE CNTR', 1),
 ('12TH AVE E', 1),
 ('12TH AVE NE', 1),
 ('12TH AVE NW', 1),
 ('12TH AVE S', 1),
 ('12TH AVE SW', 1),
 ('12TH AVE W', 1),
 ('13TH AVE CNTR', 1),
 ('13TH AVE E', 1),
 ('13TH AVE NW', 1),
 ('13TH AVE S', 1),
 ('13TH AVE SW', 1),
 ('13TH AVE W', 1),
 ('13TH PL S', 1),
 ('14TH AVE CNTR', 1),
 ('14TH AVE E', 1),
 ('14TH AVE NE', 1),
 ('14TH AVE NW', 1),
 ('14TH AVE S', 1),
 ('14TH AVE SW', 1),
 ('14TH AVE W', 1),
 ('14TH CT S', 1),
 ('14TH PL NE', 1),
 ('15TH AVE CNTR', 1),
 ('15TH AVE E', 1),
 ('15TH AVE NE', 1),
 ('15TH AVE NW', 1),
 ('15TH AVE S', 1),
 ('15TH AVE SW', 1),
 ('15TH AVE W', 1),
 ('15TH PL NE', 1),
 ('15TH PL S', 1),
 ('15TH PL W', 1),
 ('16TH AV S BR', 1),
 ('16TH AVE CNTR', 1),
 ('16TH AVE E', 1),
 ('16TH AVE NE', 1),
 ('16TH AVE NW', 1),
 ('16TH AVE S', 1),
 ('16TH AVE SW', 1),
 ('16TH AVE W', 1),
 ('17TH AVE CNTR', 1),
 ('17TH AVE E', 1),
 ('17TH AVE NE', 1),
 ('17TH AVE NW', 1),
 ('17TH AVE S', 1),
 ('17TH AVE SW', 1),
 ('17TH AVE W', 1),
 ('17TH PL NE', 1),
 ('17TH PL S', 1),
 ('18TH AVE CNTR', 1),
 ('18TH AVE E', 1),
 ('18TH AVE NE', 1),
 ('18TH AVE NW', 1),
 ('18TH AVE S', 1),
 ('18TH AVE SW', 1),
 ('18TH AVE W', 1),
 ('18TH PL NW', 1),
 ('19TH AVE CNTR', 1),
 ('19TH AVE E', 1),
 ('19TH AVE NE', 1),
 ('19TH AVE NW', 1),
 ('19TH AVE S', 1),
 ('19TH AVE SW', 1),
 ('19TH AVE W', 1),
 ('19TH PL S', 1),
 ('1ST AVE CNTR', 1),
 ('1ST AVE N', 1),
 ('1ST AVE NE', 1),
 ('1ST AVE NW', 1),
 ('1ST AVE S', 1),
 ('1ST AVE SW', 1),
 ('1ST AVE W', 1),
 ('1ST PL NE', 1),
 ('20TH AVE CNTR', 1),
 ('20TH AVE E', 1),
 ('20TH AVE NE', 1),
 ('20TH AVE NW', 1),
 ('20TH AVE S', 1),
 ('20TH AVE SW', 1),
 ('20TH AVE W', 1),
 ('20TH PL NE', 1),
 ('20TH PL S', 1),
 ('21ST AVE CNTR', 1),
 ('21ST AVE E', 1),
 ('21ST AVE NE', 1),
 ('21ST AVE NW', 1),
 ('21ST AVE S', 1),
 ('21ST AVE SW', 1),
 ('21ST AVE W', 1),
 ('21ST PL NE', 1),
 ('22ND AVE CNTR', 1),
 ('22ND AVE E', 1),
 ('22ND AVE NE', 1),
 ('22ND AVE NW', 1),
 ('22ND AVE S', 1),
 ('22ND AVE SW', 1),
 ('22ND AVE W', 1),
 ('22ND CT NW', 1),
 ('22ND PL NE', 1),
 ('22ND PL S', 1),
 ('23RD AVE CNTR', 1),
 ('23RD AVE E', 1),
 ('23RD AVE NE', 1),
 ('23RD AVE NW', 1),
 ('23RD AVE S', 1),
 ('23RD AVE SW', 1),
 ('23RD AVE W', 1),
 ('23RD CT NE', 1),
 ('23RD CT SW', 1),
 ('23RD PL NE', 1),
 ('23RD WR AVE S', 1),
 ('24TH AVE CNTR', 1),
 ('24TH AVE E', 1),
 ('24TH AVE NE', 1),
 ('24TH AVE NW', 1),
 ('24TH AVE S', 1),
 ('24TH AVE SW', 1),
 ('24TH AVE W', 1),
 ('24TH PL NE', 1),
 ('24TH PL S', 1),
 ('24TH PL SW', 1),
 ('24TH PL W', 1),
 ('25TH AVE CNTR', 1),
 ('25TH AVE E', 1),
 ('25TH AVE NE', 1),
 ('25TH AVE NW', 1),
 ('25TH AVE S', 1),
 ('25TH AVE SW', 1),
 ('25TH AVE W', 1),
 ('25TH PL NE', 1),
 ('25TH PL W', 1),
 ('26TH AVE CNTR', 1),
 ('26TH AVE E', 1),
 ('26TH AVE NE', 1),
 ('26TH AVE NW', 1),
 ('26TH AVE S', 1),
 ('26TH AVE SW', 1),
 ('26TH AVE W', 1),
 ('26TH PL NW', 1),
 ('26TH PL SW', 1),
 ('26TH PL W', 1),
 ('27TH AVE CNTR', 1),
 ('27TH AVE E', 1),
 ('27TH AVE NE', 1),
 ('27TH AVE NW', 1),
 ('27TH AVE S', 1),
 ('27TH AVE SW', 1),
 ('27TH AVE W', 1),
 ('27TH PL W', 1),
 ('28TH AVE CNTR', 1),
 ('28TH AVE E', 1),
 ('28TH AVE NE', 1),
 ('28TH AVE NW', 1),
 ('28TH AVE S', 1),
 ('28TH AVE SW', 1),
 ('28TH AVE W', 1),
 ('28TH PL W', 1),
 ('29TH AVE CNTR', 1),
 ('29TH AVE E', 1),
 ('29TH AVE NE', 1),
 ('29TH AVE NW', 1),
 ('29TH AVE S', 1),
 ('29TH AVE SW', 1),
 ('29TH AVE W', 1),
 ('29TH PL SW', 1),
 ('2ND AVE CNTR', 1),
 ('2ND AVE N', 1),
 ('2ND AVE NE', 1),
 ('2ND AVE NW', 1),
 ('2ND AVE S', 1),
 ('2ND AVE SW', 1),
 ('2ND AVE W', 1),
 ('2ND LN SW', 1),
 ('2ND PL SW', 1),
 ('30TH AVE CNTR', 1),
 ('30TH AVE E', 1),
 ('30TH AVE NE', 1),
 ('30TH AVE NW', 1),
 ('30TH AVE S', 1),
 ('30TH AVE SW', 1),
 ('30TH AVE W', 1),
 ('30TH PL SW', 1),
 ('31ST AVE CNTR', 1),
 ('31ST AVE E', 1),
 ('31ST AVE NE', 1),
 ('31ST AVE NW', 1),
 ('31ST AVE S', 1),
 ('31ST AVE SW', 1),
 ('31ST AVE W', 1),
 ('31ST PL NE', 1),
 ('31ST PL S', 1),
 ('31ST PL SW', 1),
 ('31ST WR AVE S', 1),
 ('32ND AVE CNTR', 1),
 ('32ND AVE E', 1),
 ('32ND AVE NE', 1),
 ('32ND AVE NW', 1),
 ('32ND AVE S', 1),
 ('32ND AVE SW', 1),
 ('32ND AVE W', 1),
 ('32ND PL SW', 1),
 ('33RD AVE CNTR', 1),
 ('33RD AVE E', 1),
 ('33RD AVE NE', 1),
 ('33RD AVE NW', 1),
 ('33RD AVE S', 1),
 ('33RD AVE SW', 1),
 ('33RD AVE W', 1),
 ('33RD PL NE', 1),
 ('33RD PL NW', 1),
 ('33RD PL S', 1),
 ('34TH AVE CNTR', 1),
 ('34TH AVE E', 1),
 ('34TH AVE NE', 1),
 ('34TH AVE NW', 1),
 ('34TH AVE S', 1),
 ('34TH AVE SW', 1),
 ('34TH AVE W', 1),
 ('34TH CT S', 1),
 ('34TH CT W', 1),
 ('34TH PL S', 1),
 ('34TH PL SW', 1),
 ('35TH AVE CNTR', 1),
 ('35TH AVE E', 1),
 ('35TH AVE NE', 1),
 ('35TH AVE NW', 1),
 ('35TH AVE S', 1),
 ('35TH AVE SW', 1),
 ('35TH AVE W', 1),
 ('35TH PL NW', 1),
 ('35TH PL S', 1),
 ('36TH AVE CNTR', 1),
 ('36TH AVE E', 1),
 ('36TH AVE NE', 1),
 ('36TH AVE NW', 1),
 ('36TH AVE S', 1),
 ('36TH AVE SW', 1),
 ('36TH AVE W', 1),
 ('37TH AVE CNTR', 1),
 ('37TH AVE E', 1),
 ('37TH AVE NE', 1),
 ('37TH AVE NW', 1),
 ('37TH AVE S', 1),
 ('37TH AVE SW', 1),
 ('37TH AVE W', 1),
 ('37TH PL E', 1),
 ('37TH PL NW', 1),
 ('37TH PL S', 1),
 ('37TH PL SW', 1),
 ('38TH AVE CNTR', 1),
 ('38TH AVE E', 1),
 ('38TH AVE NE', 1),
 ('38TH AVE NW', 1),
 ('38TH AVE S', 1),
 ('38TH AVE SW', 1),
 ('38TH AVE W', 1),
 ('38TH PL E', 1),
 ('39TH AVE CNTR', 1),
 ('39TH AVE E', 1),
 ('39TH AVE NE', 1),
 ('39TH AVE S', 1),
 ('39TH AVE SW', 1),
 ('39TH AVE W', 1),
 ('39TH PL SW', 1),
 ('3RD AVE CNTR', 1),
 ('3RD AVE N', 1),
 ('3RD AVE NE', 1),
 ('3RD AVE NW', 1),
 ('3RD AVE S', 1),
 ('3RD AVE SW', 1),
 ('3RD AVE W', 1),
 ('3RD LN SW', 1),
 ('3RD PL NW', 1),
 ('3RD PL SW', 1),
 ('40TH AVE CNTR', 1),
 ('40TH AVE E', 1),
 ('40TH AVE NE', 1),
 ('40TH AVE S', 1),
 ('40TH AVE SW', 1),
 ('40TH AVE W', 1),
 ('41ST AVE E', 1),
 ('41ST AVE NE', 1),
 ('41ST AVE S', 1),
 ('41ST AVE SW', 1),
 ('41ST AVE W', 1),
 ('41ST PL NE', 1),
 ('42ND AVE E', 1),
 ('42ND AVE NE', 1),
 ('42ND AVE S', 1),
 ('42ND AVE SW', 1),
 ('42ND AVE W', 1),
 ('42ND PL NE', 1),
 ('42ND PL S', 1),
 ('43RD AVE E', 1),
 ('43RD AVE NE', 1),
 ('43RD AVE S', 1),
 ('43RD AVE W', 1),
 ('43RD PL NE', 1),
 ('43RD PL SW', 1),
 ('44TH AVE NE', 1),
 ('44TH AVE S', 1),
 ('44TH AVE SW', 1),
 ('44TH AVE W', 1),
 ('44TH PL NE', 1),
 ('44TH PL S', 1),
 ('44TH PL SW', 1),
 ('45TH AVE NE', 1),
 ('45TH AVE S', 1),
 ('45TH AVE SW', 1),
 ('45TH AVE W', 1),
 ('46TH AVE NE', 1),
 ('46TH AVE S', 1),
 ('46TH AVE SW', 1),
 ('46TH AVE W', 1),
 ('46TH PL NE', 1),
 ('46TH PL SW', 1),
 ('47TH AVE NE', 1),
 ('47TH AVE S', 1),
 ('47TH AVE SW', 1),
 ('47TH AVE W', 1),
 ('47TH PL NE', 1),
 ('47TH PL SW', 1),
 ('48TH AVE NE', 1),
 ('48TH AVE S', 1),
 ('48TH AVE SW', 1),
 ('48TH PL NE', 1),
 ('49TH AVE NE', 1),
 ('49TH AVE S', 1),
 ('49TH AVE SW', 1),
 ('4TH AVE CNTR', 1),
 ('4TH AVE N', 1),
 ('4TH AVE NE', 1),
 ('4TH AVE NW', 1),
 ('4TH AVE S', 1),
 ('4TH AVE SW', 1),
 ('4TH AVE W', 1),
 ('4TH LN SW', 1),
 ('4TH PL S', 1),
 ('4TH PL SW', 1),
 ('50TH AVE NE', 1),
 ('50TH AVE S', 1),
 ('50TH AVE SW', 1),
 ('51ST AVE NE', 1),
 ('51ST AVE S', 1),
 ('51ST AVE SW', 1),
 ('51ST PL S', 1),
 ('51ST PL SW', 1),
 ('52ND AVE NE', 1),
 ('52ND AVE S', 1),
 ('52ND AVE SW', 1),
 ('52ND PL SW', 1),
 ('52ND TER S', 1),
 ('53RD AVE NE', 1),
 ('53RD AVE S', 1),
 ('53RD AVE SW', 1),
 ('53RD CT NE', 1),
 ('54TH AVE NE', 1),
 ('54TH AVE S', 1),
 ('54TH AVE SW', 1),
 ('54TH PL SW', 1),
 ('55TH AVE NE', 1),
 ('55TH AVE S', 1),
 ('55TH AVE SW', 1),
 ('55TH PL NE', 1),
 ('56TH AVE NE', 1),
 ('56TH AVE S', 1),
 ('56TH AVE SW', 1),
 ('56TH PL NE', 1),
 ('56TH PL S', 1),
 ('56TH PL SW', 1),
 ('57TH AVE NE', 1),
 ('57TH AVE S', 1),
 ('57TH AVE SW', 1),
 ('57TH PL NE', 1),
 ('57TH PL SW', 1),
 ('58TH AV SW ACCESS RD', 1),
 ('58TH AVE NE', 1),
 ('58TH AVE S', 1),
 ('58TH AVE SW', 1),
 ('58TH PL S', 1),
 ('58TH PL SW', 1),
 ('59TH AV SW TURN', 1),
 ('59TH AVE NE', 1),
 ('59TH AVE S', 1),
 ('59TH AVE SW', 1),
 ('5TH AVE CNTR', 1),
 ('5TH AVE N', 1),
 ('5TH AVE NE', 1),
 ('5TH AVE NW', 1),
 ('5TH AVE S', 1),
 ('5TH AVE SW', 1),
 ('5TH AVE W', 1),
 ('5TH LN SW', 1),
 ('5TH PL S', 1),
 ('60TH AVE NE', 1),
 ('60TH AVE S', 1),
 ('60TH AVE SW', 1),
 ('60TH LN S', 1),
 ('60TH PL S', 1),
 ('61ST AVE NE', 1),
 ('61ST AVE S', 1),
 ('61ST AVE SW', 1),
 ('61ST PL S', 1),
 ('62ND AVE NE', 1),
 ('62ND AVE S', 1),
 ('62ND AVE SW', 1),
 ('63RD AVE NE', 1),
 ('63RD AVE S', 1),
 ('63RD AVE SW', 1),
 ('64TH AVE NE', 1),
 ('64TH AVE S', 1),
 ('64TH AVE SW', 1),
 ('64TH CT S', 1),
 ('64TH LN S', 1),
 ('64TH PL S', 1),
 ('64TH PL SW', 1),
 ('65TH AVE NE', 1),
 ('65TH AVE S', 1),
 ('65TH AVE SW', 1),
 ('66TH AVE S', 1),
 ('66TH AVE SW', 1),
 ('66TH LN S', 1),
 ('67TH AVE S', 1),
 ('67TH PL S', 1),
 ('68TH AVE S', 1),
 ('68TH PL S', 1),
 ('69TH AVE S', 1),
 ('69TH PL S', 1),
 ('6TH AVE CNTR', 1),
 ('6TH AVE N', 1),
 ('6TH AVE NE', 1),
 ('6TH AVE NW', 1),
 ('6TH AVE S', 1),
 ('6TH AVE SW', 1),
 ('6TH AVE W', 1),
 ('6TH CIR SW', 1),
 ('6TH PL NE', 1),
 ('6TH PL S', 1),
 ('6TH PL SW', 1),
 ('70TH AVE S', 1),
 ('70TH PL S', 1),
 ('71ST AVE S', 1),
 ('71ST PL S', 1),
 ('72ND AVE S', 1),
 ('72ND PL S', 1),
 ('73RD LN S', 1),
 ('73RD PL S', 1),
 ('74TH AVE S', 1),
 ('74TH LN S', 1),
 ('74TH PL S', 1),
 ('75TH AVE S', 1),
 ('75TH PL S', 1),
 ('76TH AVE S', 1),
 ('77TH AVE S', 1),
 ('78TH AVE S', 1),
 ('79TH AVE S', 1),
 ('79TH PL S', 1),
 ('7TH AVE CNTR', 1),
 ('7TH AVE N', 1),
 ('7TH AVE NE', 1),
 ('7TH AVE NW', 1),
 ('7TH AVE S', 1),
 ('7TH AVE SW', 1),
 ('7TH AVE W', 1),
 ('7TH PL S', 1),
 ('7TH PL SW', 1),
 ('80TH AVE S', 1),
 ('80TH PL S', 1),
 ('81ST AVE S', 1),
 ('81ST PL S', 1),
 ('82ND AVE S', 1),
 ('82ND PL S', 1),
 ('83RD AVE S', 1),
 ('84TH AVE S', 1),
 ('85TH AVE S', 1),
 ('86TH CT S', 1),
 ('87TH AVE S', 1),
 ('88TH AVE S', 1),
 ('89TH AVE S', 1),
 ('8TH AVE CNTR', 1),
 ('8TH AVE N', 1),
 ('8TH AVE NE', 1),
 ('8TH AVE NW', 1),
 ('8TH AVE S', 1),
 ('8TH AVE SW', 1),
 ('8TH AVE W', 1),
 ('8TH CT NE', 1),
 ('8TH PL S', 1),
 ('8TH PL SW', 1),
 ('8TH PL W', 1),
 ('9TH AVE CNTR', 1),
 ('9TH AVE N', 1),
 ('9TH AVE NE', 1),
 ('9TH AVE NW', 1),
 ('9TH AVE S', 1),
 ('9TH AVE SW', 1),
 ('9TH AVE W', 1),
 ('9TH PL SW', 1),
 ('ADAMS LN NE', 1),
 ('AIKINS AVE SW', 1),
 ('AIRPORT WAY S', 1),
 ('ALAMO PL S', 1),
 ('ALASKAN WAY CNTR', 1),
 ('ALASKAN WAY S', 1),
 ('ALASKAN WAY W', 1),
 ('ALBION PL N', 1),
 ('ALDER ST CNTR', 1),
 ('ALDERBROOK PL NW', 1),
 ('ALKI AVE SW', 1),
 ('ALOHA ST CNTR', 1),
 ('ALONZO AVE NW', 1),
 ('ALPINE WAY NW', 1),
 ('ALTAVISTA PL W', 1),
 ('ALTON AVE NE', 1),
 ('ALTON PL NE', 1),
 ('ALVIN PL NW', 1),
 ('AMHERST PL W', 1),
 ('ANN ARBOR AVE NE', 1),
 ('ANTHONY PL S', 1),
 ('AQUA WAY S', 1),
 ('ARAPAHOE PL W', 1),
 ('ARBORETUM DR E', 1),
 ('ARBORETUM PL E', 1),
 ('ARCH AVE SW', 1),
 ('ARCH PL SW', 1),
 ('ARMOUR ST CNTR', 1),
 ('ARROWSMITH AVE S', 1),
 ('ARROYO BEACH PL SW', 1),
 ('ASHWORTH AVE N', 1),
 ('ASOTIN PL NE', 1),
 ('ATLAS PL SW', 1),
 ('AUBURN AVE S', 1),
 ('AUBURN PL E', 1),
 ('AUGUSTA PL S', 1),
 ('AURORA AVE N', 1),
 ('AURORA BR N', 1),
 ('AUTUMN LN SW', 1),
 ('BAGLEY AVE N', 1),
 ('BAINBRIDGE PL SW', 1),
 ('BAKER AVE NW', 1),
 ('BALLARD AVE NW', 1),
 ('BALLARD BR NW', 1),
 ('BALLARD BR W', 1),
 ('BANNER WAY NE', 1),
 ('BARNES AVE NW', 1),
 ('BARTLETT AVE NE', 1),
 ('BATTERY ST CNTR', 1),
 ('BAY ST CNTR', 1),
 ('BAY TERRACE RD W', 1),
 ('BAYARD AVE NW', 1),
 ('BEACH DR SW', 1),
 ('BEACON AVE S', 1),
 ('BEACON WR AVE S', 1),
 ('BEDFORD CT NW', 1),
 ('BELGROVE CT NW', 1),
 ('BELL ST CNTR', 1),
 ('BELLA VISTA AVE S', 1),
 ('BELLEVUE AVE CNTR', 1),
 ('BELLEVUE AVE E', 1),
 ('BELLEVUE CT E', 1),
 ('BELLEVUE PL E', 1),
 ('BELMONT AVE CNTR', 1),
 ('BELMONT AVE E', 1),
 ('BELMONT PL E', 1),
 ('BELVIDERE AVE SW', 1),
 ('BENTON LN NE', 1),
 ('BENTON PL SW', 1),
 ('BERNIE WHITEBEAR WAY', 1),
 ('BEVERIDGE PL SW', 1),
 ('BIGELOW AVE N', 1),
 ('BIRCH AVE N', 1),
 ('BISHOP PL W', 1),
 ('BITTER PL N', 1),
 ('BLAINE ST CNTR', 1),
 ('BLAIR TER S', 1),
 ('BLAKE PL SW', 1),
 ('BLAKELY PL NW', 1),
 ('BLANCHARD ST CNTR', 1),
 ('BLENHEIM DR E', 1),
 ('BONAIR DR SW', 1),
 ('BONAIR PL SW', 1),
 ('BOREALIS AVE CNTR', 1),
 ('BOREN AVE CNTR', 1),
 ('BOREN AVE N', 1),
 ('BOREN AVE S', 1),
 ('BOSTON ST CNTR', 1),
 ('BOWEN PL S', 1),
 ('BOWLYN PL S', 1),
 ('BOYD PL SW', 1),
 ('BOYER AVE E', 1),
 ('BOYLSTON AVE CNTR', 1),
 ('BOYLSTON AVE E', 1),
 ('BRADNER PL S', 1),
 ('BRIARCLIFF LN W', 1),
 ('BRIDGE WAY N', 1),
 ('BRIGHTON LN S', 1),
 ('BROAD ST CNTR', 1),
 ('BROADMOOR DR E', 1),
 ('BROADWAY CNTR', 1),
 ('BROADWAY CT CNTR', 1),
 ('BROADWAY E', 1),
 ('BROOK AVE SW', 1),
 ('BROOKLYN AVE NE', 1),
 ('BRYGGER DR W', 1),
 ('BURKE AVE N', 1),
 ('BURTON PL W', 1),
 ('CALIFORNIA AVE W', 1),
 ('CALIFORNIA AVE SW', 1),
 ('CALIFORNIA DR SW', 1),
 ('CALIFORNIA LN SW', 1),
 ('CALIFORNIA WAY SW', 1),
 ('CAMPUS DR CNTR', 1),
 ('CANAL RD NE', 1),
 ('CANFIELD PL N', 1),
 ('CANTERBURY LN E', 1),
 ('CARKEEK DR S', 1),
 ('CARLETON AVE S', 1),
 ('CAROLINA ST W', 1),
 ('CAROLINE AVE N', 1),
 ('CARR PL N', 1),
 ('CASCADIA AVE S', 1),
 ('CECIL AVE S', 1),
 ('CEDAR ST CNTR', 1),
 ('CHAPIN PL N', 1),
 ('CHATHAM DR S', 1),
 ('CHEASTY BLVD S', 1),
 ('CHELAN AVE SW', 1),
 ('CHELAN SR AVE SW', 1),
 ('CHERRY ST CNTR', 1),
 ('CHERRYLANE AVE S', 1),
 ('CHERRYLANE PL S', 1),
 ('CHICAGO CT S', 1),
 ('CHILBERG AVE SW', 1),
 ('CHILBERG PL SW', 1),
 ('CLAREMONT AVE S', 1),
 ('CLAREMONT PL S', 1),
 ('CLAY ST CNTR', 1),
 ('CLEOPATRA PL NW', 1),
 ('CLISE PL W', 1),
 ('CLUB HOUSE DR NE', 1),
 ('COLLEGE WAY N', 1),
 ('COLMAN DOCK ACCESS RD CNTR', 1),
 ('COLMAN DOCK EXIT RD CNTR', 1),
 ('COLORADO AVE S', 1),
 ('COLUMBIA DR S', 1),
 ('COLUMBIA ST CNTR', 1),
 ('COMSTOCK PL CNTR', 1),
 ('COMSTOCK ST CNTR', 1),
 ('CONDON WAY W', 1),
 ('CONISTON RD NE', 1),
 ('CONKLING PL W', 1),
 ('CONSTANCE DR W', 1),
 ('CONVENTION PL CNTR', 1),
 ('CORGIAT DR S', 1),
 ('CORLISS AVE N', 1),
 ('CORLISS WAY N', 1),
 ('CORNELL AVE S', 1),
 ('CORSON AVE S', 1),
 ('CORWIN PL S', 1),
 ('CORYELL CT E', 1),
 ('COTTAGE PL SW', 1),
 ('COURT PL CNTR', 1),
 ('COURTLAND PL N', 1),
 ('COURTLAND PL S', 1),
 ('COVELLO DR S', 1),
 ('COWEN PL NE', 1),
 ('COWLITZ RD NE', 1),
 ('CRANE DR W', 1),
 ('CRAWFORD PL CNTR', 1),
 ('CREMONA ST CNTR', 1),
 ('CREST DR NE', 1),
 ('CREST PL S', 1),
 ('CRESTMONT PL W', 1),
 ('CRESTWOOD DR S', 1),
 ('CROCKETT ST CNTR', 1),
 ('CROFT PL SW', 1),
 ('CULPEPER CT NW', 1),
 ('CYRUS AVE NW', 1),
 ('DALLAS AVE S', 1),
 ('DANIEL PL NE', 1),
 ('DARTMOUTH AVE W', 1),
 ('DAVIS PL S', 1),
 ('DAYTON AVE N', 1),
 ('DEARBORN PL S', 1),
 ('DECATUR PL S', 1),
 ('DELMAR DR E', 1),
 ('DELRIDGE WAY SW', 1),
 ('DENNY WAY CNTR', 1),
 ('DENSMORE AVE N', 1),
 ('DENVER AVE S', 1),
 ('DES MOINES MEMORIAL DR S', 1),
 ('DETROIT AVE SW', 1),
 ('DEWEY PL E', 1),
 ('DEXTER AVE CNTR', 1),
 ('DEXTER AVE N', 1),
 ('DEXTER WAY N', 1),
 ('DIAGONAL AVE S', 1),
 ('DIBBLE AVE NW', 1),
 ('DILLING WAY CNTR', 1),
 ('DISCOVERY PARK BLVD W', 1),
 ('DIVISION AVE NW', 1),
 ('DIXON DR S', 1),
 ('DORFFEL DR E', 1),
 ('DRAVUS ST CNTR', 1),
 ('DUMAR WAY SW', 1),
 ('DUNCAN AVE S', 1),
 ('DURLAND AVE NE', 1),
 ('DURLAND PL NE', 1),
 ('DUWAMISH AV S ACCESS RD', 1),
 ('DUWAMISH AVE S', 1),
 ('DUWAMISH AVE S BR', 1),
 ('E ALDER ST', 1),
 ('E ALLISON ST', 1),
 ('E ALOHA ST', 1),
 ('E ARLINGTON PL', 1),
 ('E ARTHUR PL', 1),
 ('E BARBARA BAILEY WAY', 1),
 ('E BARCLAY CT', 1),
 ('E BLAINE ST', 1),
 ('E BOSTON ST', 1),
 ('E BOSTON TER', 1),
 ('E CALHOUN ST', 1),
 ('E CHERRY ST', 1),
 ('E COLUMBIA ST', 1),
 ('E CONOVER CT', 1),
 ('E CRESCENT DR', 1),
 ('E CROCKETT ST', 1),
 ('E DENNY BLAINE PL', 1),
 ('E DENNY WAY', 1),
 ('E EATON PL', 1),
 ('E EDGAR ST', 1),
 ('E EDGEWATER PL', 1),
 ('E FIR ST', 1),
 ('E FLORENCE CT', 1),
 ('E FORD PL', 1),
 ('E FOSTER ISLAND RD', 1),
 ('E GALER ST', 1),
 ('E GARFIELD ST', 1),
 ('E GLEN ST', 1),
 ('E GWINN PL', 1),
 ('E HAMLIN ST', 1),
 ('E HARRISON ST', 1),
 ('E HELEN ST', 1),
 ('E HIGH LN', 1),
 ('E HIGHLAND DR', 1),
 ('E HOWE ST', 1),
 ('E HOWELL ST', 1),
 ('E HURON ST', 1),
 ('E INTERLAKEN BLVD', 1),
 ('E JAMES CT', 1),
 ('E JAMES ST', 1),
 ('E JAMES WAY', 1),
 ('E JANSEN CT', 1),
 ('E JEFFERSON ST', 1),
 ('E JOHN CT', 1),
 ('E JOHN ST', 1),
 ('E LAKE WASHINGTON BLVD', 1),
 ('E LEE ST', 1),
 ('E LORETTA PL', 1),
 ('E LOUISA ST', 1),
 ('E LYNN ST', 1),
 ('E MADISON ST', 1),
 ('E MARION ST', 1),
 ('E MARTIN ST', 1),
 ('E MCGILVRA ST', 1),
 ('E MCGRAW ST', 1),
 ('E MERCER ST', 1),
 ('E MILLER ST', 1),
 ('E MORLEY WAY', 1),
 ('E NELSON PL', 1),
 ('E NEWTON ST', 1),
 ('E NORTH ST', 1),
 ('E OLIN PL', 1),
 ('E OLIVE LN', 1),
 ('E OLIVE PL', 1),
 ('E OLIVE ST', 1),
 ('E OLIVE WAY', 1),
 ('E PIKE ST', 1),
 ('E PINE ST', 1),
 ('E PROSPECT ST', 1),
 ('E REMINGTON CT', 1),
 ('E REPUBLICAN ST', 1),
 ('E ROANOKE ST', 1),
 ('E ROY ST', 1),
 ('E SAINT ANDREWS WAY', 1),
 ('E SCHUBERT PL', 1),
 ('E SENECA ST', 1),
 ('E SHELBY ST', 1),
 ('E SHORE DR', 1),
 ('E SPRING ST', 1),
 ('E SPRUCE ST', 1),
 ('E SUPERIOR ST', 1),
 ('E TERRACE ST', 1),
 ('E THOMAS ST', 1),
 ('E UNION ST', 1),
 ('E VALLEY ST', 1),
 ('E WARD ST', 1),
 ('E YESLER WAY', 1),
 ('EAGLE ST CNTR', 1),
 ('EARL AVE NW', 1),
 ('EAST GREEN LAKE DR N', 1),
 ('EAST GREEN LAKE WAY N', 1),
 ('EAST LAUREL DR NE', 1),
 ('EAST LAURELHURST DR NE', 1),
 ('EAST MARGINAL ER WAY S', 1),
 ('EAST MARGINAL WAY S', 1),
 ('EAST MONTLAKE PL E', 1),
 ('EAST PARK DR E', 1),
 ('EAST STEVENS WAY NE', 1),
 ('EASTERN AVE N', 1),
 ('EASTLAKE AVE CNTR', 1),
 ('EASTLAKE AVE E', 1),
 ('EASTLAKE AVE NE', 1),
 ('EASTLAKE PL NE', 1),
 ('EASTMONT WAY W', 1),
 ('EDGAR MARTINEZ DR S', 1),
 ('EDGEMONT PL W', 1),
 ('EDGEWEST DR NW', 1),
 ('EDGEWOOD AVE SW', 1),
 ('EDWARD DR S', 1),
 ('ELDORADO LN NW', 1),
 ('ELLERAY LN NE', 1),
 ('ELLINOR DR W', 1),
 ('ELLIOTT AVE CNTR', 1),
 ('ELLIOTT AVE W', 1),
 ('ELLIOTT WAY CNTR', 1),
 ('ELLIS AVE S', 1),
 ('ELM PL SW', 1),
 ('EMERSON TURN RD W', 1),
 ('ERICKSON PL NE', 1),
 ('ERIE AVE CNTR', 1),
 ('ERSKINE WAY SW', 1),
 ('ETRURIA ST CNTR', 1),
 ('EUCLID AVE CNTR', 1),
 ('EVANSTON AVE N', 1),
 ('EVERETT AVE E', 1),
 ('EVERGREEN PL CNTR', 1),
 ('EXETER AVE NE', 1),
 ('EXPEDIA GROUP WAY W', 1),
 ('EYRES PL W', 1),
 ('FAIRMOUNT AVE SW', 1),
 ('FAIRVIEW AVE CNTR', 1),
 ('FAIRVIEW AVE E', 1),
 ('FAIRVIEW AVE N', 1),
 ('FAIRVIEW NR AVE N', 1),
 ('FAIRVIEW PL N', 1),
 ('FAIRWAY DR NE', 1),
 ('FARWELL PL SW', 1),
 ('FAUNTLEE CREST SW', 1),
 ('FAUNTLEROY AVE SW', 1),
 ('FAUNTLEROY PL SW', 1),
 ('FAUNTLEROY WAY SW', 1),
 ('FEDERAL AVE E', 1),
 ('FERRY AVE SW', 1),
 ('FERRY PL NE', 1),
 ('FIR ST CNTR', 1),
 ('FISCHER PL NE', 1),
 ('FLORA AVE S', 1),
 ('FLORENTIA ST CNTR', 1),
 ('FOREST AVE S', 1),
 ('FOREST CT SW', 1),
 ('FOREST DR NE', 1),
 ('FOREST HILL PL NW', 1),
 ('FOX AVE S', 1),
 ('FRANCIS AVE N', 1),
 ('FRANKLIN AVE E', 1),
 ('FRANKLIN PL E', 1),
 ('FRANKLIN PL NE', 1),
 ('FRATER AVE SW', 1),
 ('FRAZIER PL NW', 1),
 ('FREMONT AVE N', 1),
 ('FREMONT BR CNTR', 1),
 ('FREMONT LN N', 1),
 ('FREMONT PL N', 1),
 ('FREMONT WAY N', 1),
 ('FUHRMAN AVE E', 1),
 ('FULLERTON AVE CNTR', 1),
 ('FULTON ST CNTR', 1),
 ('GALE PL S', 1),
 ('GALER PL N', 1),
 ('GALER ST CNTR', 1),
 ('GARDEN PL S', 1),
 ('GARFIELD PL NE', 1),
 ('GARFIELD ST CNTR', 1),
 ('GARLOUGH AVE SW', 1),
 ('GATEWOOD RD SW', 1),
 ('GAY AVE W', 1),
 ('GEORGE WASHINGTON LN NE', 1),
 ('GILMAN AVE W', 1),
 ('GILMAN DR W', 1),
 ('GILMAN PL W', 1),
 ('GLEN ACRES DR S', 1),
 ('GLENDALE WAY S', 1),
 ('GLENN WAY SW', 1),
 ('GLENRIDGE WAY SW', 1),
 ('GLENWILDE PL E', 1),
 ('GOLDEN GARDENS DR NW', 1),
 ('GOLF DR S', 1),
 ('GOODELL PL S', 1),
 ('GOODWIN WAY NE', 1),
 ('GOULD AVE S', 1),
 ('GRAND AVE CNTR', 1),
 ('GRANDVIEW PL E', 1),
 ('GRATTAN PL S', 1),

In [15]:
# the number of unique streets
st_name_type_df.shape

(2457, 5)

In [16]:
st_name_type_df = st_name_type_df.sort_values(by = ['ord_street_name', 'ord_street_type', 'ord_stname_concat'])

In [17]:
st_name_type_df.head(n=10)

,ord_street_name,ord_street_type,ord_stname_concat,ord_stname_unique,city_portion
16946,100TH,PL,NW 100TH PL,NW 100TH PL,NW
22305,100TH,PL,SW 100TH PL,SW 100TH PL,SW
13554,100TH,ST,N 100TH ST,N 100TH ST,N
14765,100TH,ST,NE 100TH ST,NE 100TH ST,NE
16949,100TH,ST,NW 100TH ST,NW 100TH ST,NW
18951,100TH,ST,S 100TH ST,S 100TH ST,S
22306,100TH,ST,SW 100TH ST,SW 100TH ST,SW
22348,101ST,PL,SW 101ST PL,SW 101ST PL,SW
13573,101ST,ST,N 101ST ST,N 101ST ST,N
16970,101ST,ST,NW 101ST ST,NW 101ST ST,NW

In [18]:
# make some ids - ord_street_name
osn_df = st_name_type_df['ord_street_name'].drop_duplicates().to_frame().sort_values(by = 'ord_street_name').reset_index(drop = True)
osn_df['osn_id'] = range(0, osn_df.shape[0])
osn_df.head()

  ord_street_name  osn_id
0           100TH       0
1           101ST       1
2           102ND       2
3           103RD       3
4           104TH       4

In [19]:
# ord_street_name and ord_street_type
col_names = ['ord_street_name', 'ord_street_type']
osn_ost_df = st_name_type_df[col_names].drop_duplicates().sort_values(by = col_names).reset_index(drop = True)
osn_ost_df['osn_ost'] = osn_ost_df['ord_street_name'] + ' ' + osn_ost_df['ord_street_type']
osn_ost_df['osn_ost_id'] = range(0, osn_ost_df.shape[0])
osn_ost_df.head()

  ord_street_name ord_street_type   osn_ost  osn_ost_id
0           100TH              PL  100TH PL           0
1           100TH              ST  100TH ST           1
2           101ST              PL  101ST PL           2
3           101ST              ST  101ST ST           3
4           102ND              LN  102ND LN           4

In [20]:
# ord_stname_concat
ostc_df = st_name_type_df['ord_stname_concat'].drop_duplicates().to_frame().sort_values(by = 'ord_stname_concat').reset_index(drop = True)
ostc_df['ostc_id'] = range(0, ostc_df.shape[0])
ostc_df.head()

  ord_stname_concat  ostc_id
0          10TH AVE        0
1        10TH AVE E        1
2       10TH AVE NE        2
3       10TH AVE NW        3
4        10TH AVE S        4

In [21]:
# ord_stname_unique 
ostu_df = st_name_type_df['ord_stname_unique'].drop_duplicates().to_frame().sort_values(by = 'ord_stname_unique').reset_index(drop = True)
ostu_df['ostu_id'] = range(0, ostu_df.shape[0])
ostu_df.head()

  ord_stname_unique  ostu_id
0     10TH AVE CNTR        0
1        10TH AVE E        1
2       10TH AVE NE        2
3       10TH AVE NW        3
4        10TH AVE S        4

In [22]:
# join to get the id values
st_name_type_df = pd.merge(left = st_name_type_df, right = osn_df)
st_name_type_df = pd.merge(left = st_name_type_df, right = osn_ost_df)
st_name_type_df = pd.merge(left = st_name_type_df, right = ostc_df)
st_name_type_df = pd.merge(left = st_name_type_df, right = ostu_df)

In [23]:
st_name_type_df.shape

(2457, 10)

In [24]:
st_name_type_df.head()

,ord_street_name,ord_street_type,ord_stname_concat,ord_stname_unique,city_portion,osn_id,osn_ost,osn_ost_id,ostc_id,ostu_id
0,100TH,PL,NW 100TH PL,NW 100TH PL,NW,0,100TH PL,0,1450,1451
1,100TH,PL,SW 100TH PL,SW 100TH PL,SW,0,100TH PL,0,2041,2042
2,100TH,ST,N 100TH ST,N 100TH ST,N,0,100TH ST,1,1127,1128
3,100TH,ST,NE 100TH ST,NE 100TH ST,NE,0,100TH ST,1,1253,1254
4,100TH,ST,NW 100TH ST,NW 100TH ST,NW,0,100TH ST,1,1451,1452

In [25]:
st_name_type_df['ord_street_type'].unique()

array(['PL', 'ST', 'LN', 'WAY', 'AVE', 'CT', 'RD', 'BR', 'TER', 'CIR',
       'DR', 'PKWY', 'BLVD', 'PZ', 'VIEW', 'LOOP'], dtype=object)

In [26]:
st_name_type_df['city_portion'].unique()

array(['NW', 'SW', 'N', 'NE', 'S', 'CNTR', 'E', 'W'], dtype=object)

In [27]:
check = st_name_type_df.loc[st_name_type_df['city_portion'] == 'WB', ]

In [28]:
check.head()

Empty DataFrame
Columns: [ord_street_name, ord_street_type, ord_stname_concat, ord_stname_unique, city_portion, osn_id, osn_ost, osn_ost_id, ostc_id, ostu_id]
Index: []

In [29]:
# let's connect the ord_street_name and the ord_street_type
st_name_type_df['osn_ost'].unique().shape

(1631,)

In [30]:
# LET'S COUNT HOW MANY STREETS WE NEED TO PLOT AND MANUALLY REVIEW

In [31]:
st_name_type_df['n_roads'] = int(1)

In [32]:
st_name_type_df.columns

Index(['ord_street_name', 'ord_street_type', 'ord_stname_concat',
       'ord_stname_unique', 'city_portion', 'osn_id', 'osn_ost', 'osn_ost_id',
       'ostc_id', 'ostu_id', 'n_roads'],
      dtype='object')

In [33]:
pv_df = pd.pivot_table(data = st_name_type_df, values = ['n_roads'],
                          index = ['ord_street_name', 'ord_street_type'],
                          columns = ['city_portion'], aggfunc='sum', fill_value=0,
                          margins=True)

In [34]:
pv_df.head()

                                n_roads
city_portion                       CNTR  E  N NE NW  S SW  W All
ord_street_name ord_street_type
100TH           PL                    0  0  0  0  1  0  1  0   2
                ST                    0  0  1  1  1  1  1  0   5
101ST           PL                    0  0  0  0  0  0  1  0   1
                ST                    0  0  1  0  1  1  1  0   4
102ND           LN                    0  0  0  0  0  0  1  0   1

In [35]:
# clean up column names
pv_df.columns = [cn[1] for cn in pv_df.columns]

In [36]:
pv_df.columns

Index(['CNTR', 'E', 'N', 'NE', 'NW', 'S', 'SW', 'W', 'All'], dtype='object')

In [37]:
pv_df = pv_df.reset_index()

In [38]:
pv_df.tail()

,ord_street_name,ord_street_type,CNTR,E,N,NE,NW,S,SW,W,All
1627,YESLER,WAY,1,1,0,0,0,0,0,0,2
1628,YESLER TERRACE ACC,RD,0,0,0,0,0,1,0,0,1
1629,YORK,RD,0,0,0,0,0,1,0,0,1
1630,YUKON,AVE,0,0,0,0,0,1,0,0,1
1631,All,,170,188,236,386,244,621,390,222,2457

In [39]:
pv_df.shape

(1632, 11)

In [40]:
# grouping by ord_street_name and ord_street_type tells us the number of streets
# there are across the city portions
# we only need to worry about streets that span at least two sections
osn_count_df = pv_df.loc[(pv_df['All'] >= 2), :].copy()

In [41]:
# drop the All row
osn_count_df = osn_count_df.loc[osn_count_df['ord_street_name'] != 'All', :]

In [42]:
osn_count_df.head()

  ord_street_name ord_street_type  CNTR  E  N  NE  NW  S  SW  W  All
0           100TH              PL     0  0  0   0   1  0   1  0    2
1           100TH              ST     0  0  1   1   1  1   1  0    5
3           101ST              ST     0  0  1   0   1  1   1  0    4
5           102ND              ST     0  0  1   1   0  1   1  0    4
6           103RD              PL     0  0  0   1   0  0   1  0    2

In [43]:
# melt, to reshape
osnt_df = pd.melt(frame = osn_count_df, id_vars = ['ord_street_name', 'ord_street_type'],var_name='city_portion', value_name = 'n_roads')

In [44]:
# drop zero records
osnt_df = osnt_df.loc[(osnt_df['n_roads'] > 0), :].copy()

In [45]:
osnt_df.head()

   ord_street_name ord_street_type city_portion  n_roads
14            10TH             AVE         CNTR        1
30            11TH             AVE         CNTR        1
42            12TH             AVE         CNTR        1
55            13TH             AVE         CNTR        1
61            14TH             AVE         CNTR        1

In [46]:
# the osnt_df is effectively the same shape as the input gdf, but by pivoting we
# can very easily count the number of roads that span multiple sections by using
# built-in tools.

In [47]:
osnt_df = osnt_df.loc[(osnt_df['city_portion'] != 'All'), :].copy()

In [48]:
# sort it...
osnt_df = osnt_df.sort_values(by = ['ord_street_name', 'ord_street_type', 'city_portion'])

In [49]:
# we don't need this column
osnt_df = osnt_df.drop(labels = ['n_roads'], axis = 1)

In [50]:
osnt_df.head()

     ord_street_name ord_street_type city_portion
1644           100TH              PL           NW
2466           100TH              PL           SW
823            100TH              ST            N
1234           100TH              ST           NE
1645           100TH              ST           NW

In [51]:
# get the numeric value of the streets, for the sort order...
osnt_df['sort_order'] = osnt_df['ord_street_name'].map(get_sort_order)

In [52]:
osnt_df.head()

     ord_street_name ord_street_type city_portion sort_order
1644           100TH              PL           NW        100
2466           100TH              PL           SW        100
823            100TH              ST            N        100
1234           100TH              ST           NE        100
1645           100TH              ST           NW        100

In [53]:
# reorder
col_names = ['sort_order', 'ord_street_name', 'ord_street_type', 'city_portion']
osnt_df = osnt_df[col_names].sort_values(by = col_names[:4])

In [54]:
# set an index - this is helpful for when we write this to excel 
# easier to read for manual review
osnt_df = osnt_df.set_index(keys = col_names[:4])

In [55]:
osnt_df.head()

Empty DataFrame
Columns: []
Index: [(001, 1ST, AVE, CNTR), (001, 1ST, AVE, N), (001, 1ST, AVE, NE), (001, 1ST, AVE, NW), (001, 1ST, AVE, S)]

In [56]:
osnt_df.shape

(1217, 0)

In [57]:
osnt_df.columns

Index([], dtype='object')

In [58]:
# save it to excel
ofpn = os.path.join(rc.ANALYSIS_OUTPUT_FILE_PATH, rc.S06_STREET_GROUP_OUT_FILE_NAME)
osnt_df.to_excel(excel_writer=ofpn)

# PART 2: make a simple plot of each street.

In [59]:
# each plot will feature the city portion boundaries as created by the convex-hull 
# in step 2 and the different road segments for each street.

In [60]:
# use the same colors for each city portion
cdm = {}
dir_list = ['CNTR', 'E', 'N', 'NE', 'NW', 'S', 'SW', 'W']
for idir, dir_value in enumerate(dir_list):
    cdm[dir_value] = mpl.colormaps["Dark2"].colors[idir]

my_cmap = mpl.colors.ListedColormap([cdm[c] for c in dir_list])

In [61]:
# plot bounds to use across each plot
bounds = [-122.4197794277490061,47.4803548409661005, -122.2200188105690017,47.7341482423694004]

In [62]:
# load the boundaries of the city sections
ifpn = os.path.join(rc.OUTPUT_FILE_PATH, rc.S02_CITY_SECTIONS_OUT_FILE_NAME)
cs_gdf = gpd.read_file(filename=ifpn)

In [63]:
osnt_df = osnt_df.reset_index()

In [64]:
osnt_df.head()

  sort_order ord_street_name ord_street_type city_portion
0        001             1ST             AVE         CNTR
1        001             1ST             AVE            N
2        001             1ST             AVE           NE
3        001             1ST             AVE           NW
4        001             1ST             AVE            S

In [65]:
osn_ost_df.shape

(1631, 4)

In [66]:
wosnt_df = osnt_df[['ord_street_name', 'ord_street_type']].drop_duplicates()

In [67]:
wosnt_df.shape

(411, 2)

In [68]:
t_wosnt_df = wosnt_df.iloc[1:10]

In [69]:
t_wosnt_df.head()

   ord_street_name ord_street_type
7              2ND             AVE
14             3RD             AVE
21             3RD              PL
23             4TH             AVE
30             4TH              PL

In [70]:
wosnt_df.shape

(411, 2)

In [71]:
make_plots = False
output_file_name_list = []
if make_plots:
    for irow, row in wosnt_df.iterrows():
        osn = row['ord_street_name']
        ost = row['ord_street_type']


        output_file_name = f"{osn}_{ost}.png"
        ofpn = os.path.join(rc.S06_PLOT_OUTPUT_FILE_PATH, output_file_name)
        print(ofpn)
        output_file_name_list.append(output_file_name)

        # now, let's make a map...
        wgdf = gdf.loc[(gdf['ord_street_name'] == osn) &
                    (gdf['ord_street_type'] == ost), :]
        to_draw = wgdf[['city_portion', 'geometry']].dissolve(by = 'city_portion', as_index = False)
        to_draw['coords'] = to_draw['geometry'].map(lambda x: x.centroid.coords[0])
        fig = plt.figure(layout = 'constrained', figsize = (5, 10))
        gs = GridSpec(1,1, figure = fig, height_ratios = [1])
        ax1 = fig.add_subplot(gs[0,0])
        ax1.set_xlim(bounds[0], bounds[2])
        ax1.set_ylim(bounds[1], bounds[3])
        cs_gdf.plot(ax = ax1, column = 'city_portion', alpha = .2)
        to_draw.plot(ax = ax1, column = 'city_portion', cmap = my_cmap,  linewidth = 5, legend = True)

        for irrow, row in to_draw.iterrows():    
            ax1.annotate(text=row['city_portion'], xy=row['coords'], fontsize = 16 )

        ax1.set_axis_off()

        osn = wgdf['ord_street_name'].unique().tolist()[0]
        ost = wgdf['ord_street_type'].unique().tolist()[0]
        my_title = f"Street Name: {osn} {ost}"
        plt.title(label = my_title)

        #plt.show()

        fig.savefig(fname = ofpn)
        plt.close()

# manually review each plot to identify the groups within each street.

In general, avenues run north-south and streets run east-west. 
Avenues can be grouped by:
* NE, E, CNTR, S  
* N, CNTR, S
* NW, W, SW

Streets can be be grouped by:
* NW, N, NE
* W, N, CNTR, E
* SW, S

# BONUS: is every state name represented as a street?

In [72]:
fpn = os.path.join(rc.INPUT_FILE_PATH, 'state_name.csv')

In [73]:
state_df = pd.read_csv(filepath_or_buffer=fpn)

In [74]:
state_df.head()

         Name
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [75]:
# build a set of the state names after cleaning and converting to lower case
state_name_set =  set([sn.strip().lower() for sn in state_df['Name']])

In [76]:
len(state_name_set)

51

In [77]:
# do the same for the street name after dropping the streets that start with a number.
street_name_set = set(gdf.loc[-gdf['ord_street_name'].str[0].isin(list('0123456789')), 'ord_street_name'].str.lower().unique().tolist())

In [78]:
len(street_name_set)

1040

In [79]:
test_intersection = state_name_set.intersection(street_name_set)

In [80]:
len(test_intersection)

20

In [81]:
# so, 20 states are representated...

In [82]:
test_intersection

{'alaska',
 'california',
 'colorado',
 'florida',
 'idaho',
 'illinois',
 'iowa',
 'kansas',
 'maryland',
 'massachusetts',
 'michigan',
 'montana',
 'nebraska',
 'nevada',
 'ohio',
 'oregon',
 'texas',
 'utah',
 'virginia',
 'washington'}

In [83]:
# what's not represented?
state_name_set.difference(street_name_set)

{'alabama',
 'arizona',
 'arkansas',
 'connecticut',
 'delaware',
 'district of columbia',
 'georgia',
 'hawaii',
 'indiana',
 'kentucky',
 'louisiana',
 'maine',
 'minnesota',
 'mississippi',
 'missouri',
 'new hampshire',
 'new jersey',
 'new mexico',
 'new york',
 'north carolina',
 'north dakota',
 'oklahoma',
 'pennsylvania',
 'rhode island',
 'south carolina',
 'south dakota',
 'tennessee',
 'vermont',
 'west virginia',
 'wisconsin',
 'wyoming'}

In [84]:
# what about states with directons in the name and DC?

In [85]:
'dakota' in street_name_set

True

In [86]:
'columbia' in street_name_set

True

In [87]:
'virginia' in street_name_set

True

In [88]:
'carolina' in street_name_set

True

In [89]:
# if we count Dakota as ND and Sd
# columbia as Washington DC
# Virginia as both VA and West Virginia
# Carolina as both NC and SC
# that brings us to: 26. 
# so, over half. That's kind of cool.